[2017-07-10 11:50] #284 closed

[2017-07-10 12:01] lhenry7 commented on #278
Looks like 1.413 will configure the service, 1.415 does not (consistently). This is of course separate from the issue where after running for a while, after many services are stopped and restarted, the proxy seems to get lost. Even though the config file looks good, the proxy returns 503 or even worse, sends the request to the wrong service.

[2017-07-10 12:08] vfarcic commented on #278
That's great @lhenry7 . It narrows it down to only a handful of commits. I have one more request... Do you have a stack I could use to reproduce it? Since all releases work with the services I'm running in my cluster, I suspect it's a specific combination that triggers the issue.

[2017-07-10 12:14] lhenry7 commented on #278
Unfortunately, my stack is pretty specific to my environment, it downloads a bunch of config instructions from my S3 bucket and so on. I can try and construct something that mimics the delay, just some nginx with a delayed start might do.

[2017-07-10 12:15] vfarcic commented on #278
That would be great :)

[2017-07-10 12:21] JesusPerez commented on #278
I am  using lates version from github repo and I get same results as @lhenry7 ... 503 always always come up first, proxy is in master and services are running in workers, I also share same status in terms of stack and services. If @lhenry7 can construct something I can test it or add more thing if it can help somehow. Probably there is something missing in haproxy or nginx services config, but I r

[2017-07-10 12:30] JesusPerez commented on #278
For instance I am using "mode: host" to get proxy forwarded IP but before I used results are almost the same. Do you have a timeout before goes into 503 because sometimes, specially at the beginning, services has to be resolved, nginx services has to start, load fpm, caches, etc.?

[2017-07-10 12:45] vfarcic commented on #278
@JesusPerez I haven't tried it with the mode `host` so I'm not sure what is the behavior. Also, none of the services I run take more than 10 seconds to start so I haven't hit the same problem myself. Let's wait for a stack from @lhenry7 (unless you have one at hand @JesusPerez ). Once there is a way for me to reproduce it, I'm sure the fix will be fairly easy.

[2017-07-10 14:19] JesusPerez commented on #278
@vfarcic thanks for your answer, I setup something you can download here: https://drive.google.com/file/d/0B1PATehzS00NT3FmRUxMYVcwcWs/view?usp=sharing
It is using SSL certificates, but I did include one, I think you can get a full idea, it has a WP version ready to install. I hope this can help somehow.
I am running docker swarm mode 17.05.0-ce on alpine 3.6.2 servers
If you need something else j

[2017-07-10 15:19] JesusPerez commented on #278
Another thing that I can post is that before last flow proxy update in many cases restart is need it for  services and proxy stack recovery but today I have got a call from one customers who is getting again 503 with php WP ajax update calls and also with a simple html page redirect ... so that is why I think it looks like a timeout issue,  if I get into proxy docker instance I can ping and get ng

[2017-07-10 16:01] dave08 opened #285 "503 page when postgres stack deployed"
I deployed my proxy:
[code]
Then my ci stack:

[code]

And then my db stack:
[code]
After deploying the ci stack, jenkins was available at /jenkins. After the db stack I got 503 page for /pgadmin and /jenkins, but the stats page was available. The service log for the proxy swarm listener:

proxy_swarm-listener.1.tnr5o7fvj10b@swarm-manager-02    | 2017/07/10 15:52:57 Retrying service created notifi

[2017-07-10 16:17] dave08 commented on #285
It looks like the postgres instance is constantly failing, maybe the tons of haproxy configuration updates, make it fail for other services...?

[2017-07-10 16:41] lhenry7 commented on #278
So my simple approach didn't give the desired outcome, so I have a better on that is closer to my actual use case. Here are a couple compose files, one for how I start proxy and another for how I start my service. It is a varnish instance that registers with proxy, and reverse proxies to a simple nginx service that just displays the default welcome page.

[compose-files.zip](https://github.com/vfa

[2017-07-10 16:42] lhenry7 commented on #278
I start proxy first, then the nginx stack, which does not register. If I start nginx stack first, then the proxy stack 2nd, it does.

[2017-07-10 17:09] dave08 commented on #285
The proxy is logging:

[code]

[2017-07-10 17:25] dave08 commented on #285
Current logs for swarm listener (while above logs were appearing, with same config):

[code]

[2017-07-10 17:49] vfarcic commented on #285
`pgadmin` cannot be reached by the proxy because they do not belong to the same networks. Can you please add `proxy` to the list of `pgadmin` networks and try again?

[2017-07-10 18:27] vfarcic commented on #278
@lhenry7 There was a problem with the stack. It had `- com.df.serviceDomain=default.test.com` (no index) and `- com.df.servicePath.1=/` (with index). DFP took the domain and thought that you don't want to use index. Further on, it complained that there is no `port` which is true since there is `- com.df.port=80` but not `- com.df.port.1=80`.

One of the relatively recent requests was to allow inde

[2017-07-10 18:41] vfarcic opened #286 "Apply `serviceDomain` to all indexed entries"
When `serviceDomain` is specified without an index and the rest of parameters are indexed, DFP fails complaining that `port`is not specified. In such a case, `serviceDomain` should be applied to all indexed entries and the initial one should be ignored.

[2017-07-10 18:42] vfarcic commented on #278
@lhenry7 In the mean time, I'll implement https://github.com/vfarcic/docker-flow-proxy/issues/286. It should be done no matter whether your issue is what I described or something else.

[2017-07-10 18:53] lhenry7 commented on #278
Yes, adding .1 to the serviceDomain does cause it to register. Funny starting the service first then the proxy, it does register and works afterwards.

I guess my initial problems may still exist, after many service restarts, proxy either throws 503 or sends requests to wrong service.

[2017-07-10 18:54] vfarcic commented on #278
@lhenry7 Can you continue working on creating a stack that will reproduce it while, in parallel, I fix the problem with `serviceDomain`.

[2017-07-10 18:58] lhenry7 commented on #278
Actually this will be much harder to reproduce, everything works for weeks, then suddenly doesn't. Are there any troubleshooting steps or data collection I can do and pass to you that would help once the problem occurs?

[2017-07-10 19:00] vfarcic commented on #278
I wish there were. At the moment, the only source of info are logs and configs. If you cannot reproduce it, make a Gist with logs and DFP configs and I'll check whether I can spot anything.

[2017-07-10 19:41] #286 closed

[2017-07-10 20:20] vfarcic commented on #286
The fix is available as tag `17.07.13`.

[2017-07-11 14:44] bengrisafi opened #287 "Intermittent 404s and 503s"
We have been seeing this issue for a while now in various environments while running older versions, but we were able to reproduce in a testbed after upgrading the proxy services to current release versions.

We've seen 404s and 503s occur randomly among the services, but typically only 1 exhibits the behavior.
The haproxy config files are typically identical, but one of the containers will start

[2017-07-11 16:37] vfarcic commented on #287
DFP does not forward requests to containers but to Docker networking which takes care of load balancing and forwarding to a specific container. You might get inconsistent results if different DFP replicas are having different configurations but, as you said, that's not the case. I think that the cause of the problem lies beyond the proxy either in networking or the services you're running.

Can yo

[2017-07-11 16:43] bengrisafi commented on #287
The proxy is on the proxy network and all the services are using that docker network.
I have debugging enabled and I have some of those calls in the Proxy logs in my original post.

[code]

[2017-07-11 16:58] vfarcic commented on #287
Seems like it could not find the path for those with 503. You can see that from `services/<NOSRV>`. Can you confirm that all requests are going through the domain `domain.net`? Can you (temporarily) remove the domain and confirm that the same result is happening?

[2017-07-12 12:18] lhenry7 commented on #278
The service registration error occurred again. The sequence of events are: We start/restart some service, and notice no request get to any service. We check the configs, and 1 (of 2 total) proxy has an updated config, the other doesn't. When we check the logs of the proxy instance, we see it in some loop sending the reconfigure request. Stopping and restarting the proxy and listener stack doesn't

[2017-07-12 14:32] vfarcic commented on #278
@lhenry7 Judging by the logs one of DFP replicas could not reach one of your services. In all the cases, the problem is in reaching `stage-cso-digital_app`. That's quite strange since I can see that you have quite a few services in your cluster but only that one is not reachable.

Can you confirm that both proxy replicas are accessible as well as the `stage-cso-digital_app` services? The commands

[2017-07-12 15:55] #271 closed

[2017-07-12 16:04] basz opened #288 "Port binding over srcPort not applied"
according to http://proxy.dockerflow.com/config/ BIND_PORTS section "If a port is specified with the srcPort reconfigure parameter, it is not required to specify it in this environment variable"

However when I reconfigure a stack with these labels

[code]

and then look at

[code]

You can see the port is not bound.

the proxy log shows this;

[code]

I'm not sure, but could it be the proxy conta

[2017-07-12 18:49] bengrisafi commented on #287
All our my tests were using that domain. I've removed the service domain label and reran the curl commands specifying the ip address and saw the same.

[2017-07-13 15:14] narcoticfresh opened #289 "Problems with custom frontend template - bug or wrong usage?"
## The good
I have a working docker-flow-proxy in my local swarm. So far so good ;-)

## The need
Because of my requirements, I need to change way it generates the frontend. Specifically, I want to change the acl line in case of a domain match in tcp mode..

From
[code]

To
[code]

This is an important change if we want to proxy a server that handles his own certificates. `req.ssl_sni` is a level

[2017-07-13 15:18] narcoticfresh commented on #288
@basz
My guess is you are mixing up what ports the app (haproxy) binds to in the container (this is what `BIND_PORTS` and the port labels do) *and* what is actually exposed.

If you add port 5000, you still need to expose that port in the "ports" array in your recipe:

[code]

[2017-07-13 15:59] vfarcic commented on #287
First of all, sorry for my previous comment. I just noticed that you did include debug information in the initial post and there was no need for me to ask for it again.

There is a problem with communication between the proxy and your backend services. You can see that from `SC--`. All the requests that ended with `503` have `SC--`. That field represents "the condition the session was in when the

[2017-07-13 16:29] vfarcic commented on #289
The template is getting more and more complicated with each new feature added to the problem. Indeed, there is no easy way to find out what the current template is except looking at it from code.

I recommend not providing a custom template based on the one used in the code. It is too complex. Instead, I'd recommend creating your own template based on the structs defined in https://github.com/vfar

[2017-07-13 16:44] vfarcic commented on #288
@narcoticfresh is correct. `srcPort` will add a binding information to the proxy config. It cannot alter your ports published on the service. You need to do that in your stack definition. Proxy cannot modify the service from itself (unless connected to the Docker socket). Even if it could, it would not know which port to publish since internal port might not match the external one.

In other words

[2017-07-13 17:43] narcoticfresh commented on #289
@vfarcic as you point out, adding a new template doesn't seem to be easy.. Especially considering I'm not familiar with go at all..

Incredible how the contributors in this project could author those templates using a template engine that doesn't show what is wrong if complication fails! Amazing work then :-)

So yes.. if you can somehow make it happen that we can use other fetches like req.ssl_sn

[2017-07-13 20:28] vfarcic commented on #289
It's done as [release 17.07.13-2](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.07.13-2). Can you please try it out and let me know if it works as expected.

[2017-07-13 20:28] #289 closed

[2017-07-14 06:48] narcoticfresh commented on #289
@vfarcic works great! thanks so much!

only problem is that the env variable `DFP_SERVICE_SERVICE_DOMAIN_ALGO` on the container seems to be ignored(?).. i need to pass it via http to every reconfigure call.. had the same problem yesterday specifying the template.. i'll open a new ticket for that..

[2017-07-14 06:55] narcoticfresh commented on #287
@bengrisafi
i'm observing exactly the same behavior on my current project. in my case it's an nginx - if accessed directly via port, i get no errors - accessing via DFP i get occasional and irregular failures..

my log also shows similar:

[code]
@vfarcic
the problem is not DFP per se, it's of course haproxy doing something wrong.

my gut feeling is that it's the dns resolution that is done. as we

[2017-07-14 07:46] narcoticfresh commented on #287
@vfarcic @bengrisafi
i had no success fiddling around with dns settings and the timeouts seem to be fine already (speaking about haproxy conf)

## Testcase

I created a very primitive testcase and I could verify the problem there as well.

### My environment

This test case was done using a local swarm cluster using docker-machine. Nothing fancy..

Env (node0 is the manager):
[code]

### Stuff to

[2017-07-14 09:22] narcoticfresh opened #290 "DFP_SERVICE_* ENV variables not applied?"
## My need

I want to use the new `serviceDomainAlgo` setting (as introduced through #289). I want to set my default value on the container so it always uses that one.

## My compose file

[code]

Please note the `DFP_SERVICE_SERVICE_DOMAIN_ALGO` env on the proxy service.

## The problem

After deploy, i check the ENV in the container:

[code]
Very good.. let's see what the listener did:

[code]

[2017-07-14 09:45] vfarcic commented on #290
The idea behind `DFP_SERVICE_*` env. vars. is to have an alternative method to service labels. If I'd take your service as an example, you could remove `com.df.*` labels from `nginx` and specify them as env. vars. of the `proxy`. They would be something like:

[code]

That feature is very rarely used. It was added for some border-case.

My guess is that you want to specify `serviceDomainAlgo` on t

[2017-07-14 11:27] narcoticfresh commented on #290
@vfarcic

Yes, that's exactly the case..

An alternative would be a change to `swarm-listener` to attach arbitrary params to its HTTP request, but I couldn't find that there. If I could set i.e. `DF_ADDED_RECONFIGURE_PARAMS` to the `swarm-listener` container - that ENV would contain just `&param=1&param2=2` and would just be appended and sent..

Whatever would be easier..

[2017-07-14 13:06] vfarcic opened #291 "Remove a service from cache if it causes reload to fail"

[2017-07-14 13:31] #291 closed

[2017-07-14 18:21] vfarcic commented on #287
The example you posted indeed reproduces the issue. However, it is happening only with `com.df.reqMode=tcp`. As soon as I remove that label and re-deploy the stack, it works like a charm. Now I'm not sure whether the problem is in:

a) HAProxy TCP configuration (I could not find anything "strange")

b) with nginx when accepting TCP requests

c) it gets confused when cUrl sends an HTTP request and

[2017-07-14 19:22] #290 closed

[2017-07-14 19:31] vfarcic commented on #290
It's available in the [release 17.07.14-5](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.07.14-5). Can you please try it out and let me know if it works as expected?

[2017-07-15 16:50] vfarcic commented on #258
Closing due to inactivity. Feel free to reopen the issue if you'd like to continue the conversation.

[2017-07-15 16:50] #258 closed

[2017-07-15 16:53] vfarcic commented on #260
Closing due to inactivity. Feel free to open the issue if you'd like to continue the conversation.

[2017-07-15 16:53] #260 closed

[2017-07-15 16:57] vfarcic commented on #240
@bsimpson53 Did you have time to re-roll it?

[2017-07-16 11:22] narcoticfresh commented on #287
@vfarcic first, yes, I can confirm the problem seems not to exist in `regMode=http`..

Let's not forget that technically, `http` is _also_ `tcp` based.

We just define how haproxy should talk with the `backend server` - either HTTP (OSI level 7 as i remember(?)); or on layer 4 (i guess) using TCP.. But at the end of the day, this is _all_ TCP anyway ;-)

So yes, of course nginx works with TCP. A b

[2017-07-18 20:43] lhenry7 opened #292 "servicePath order should be longest first"
Here is a snippet from the HAproxy.cfg:

frontend services
    bind *:80
    bind *:443
    mode http

    acl url_dev-digital_app80 path_beg /digital
    acl srcPort_dev-digital_app80 dst_port 80
    acl url_dev-digital_app443 path_beg /digital
    acl srcPort_dev-digital_app443 dst_port 443
    acl domain_dev-digital_app hdr(host) -i dev.geready.com
    use_backend dev-digital_app-be80 if url_de

[2017-07-18 20:48] shabbirkagalwala commented on #132
Sorry for opening/commenting on this issue again but when using httpsOnly our webiste throws an error saying too many redirects? Any suggestions would help. Thank you.

[2017-07-18 20:52] lhenry7 commented on #278
going to close this one since serviceDomain is fixed. I still think I experience #266 and maybe #245 as well though

[2017-07-18 20:52] #278 closed

[2017-07-18 21:02] vfarcic commented on #292
ACLs are ordered alphabetically by `aclName` parameter. If not provided, `serviceName` is used instead. Since `dev-digital` comes before `digitalproductlifecycle` (alphabetically), it is higher on the list. HAProxy, on the other hand, evaluates ACLs top-down and uses the first one that matches the request. You can change the ordering by specifying `aclName`. For example, if you set `dev-digital` t

[2017-07-18 21:04] vfarcic commented on #132
@shabbirkagalwala Can you post the stack you're using? That might give me an insight into the behavior you're experiencing. If possible, it would be great if you could reproduce it with public services that I could use as well.

[2017-07-18 21:08] vfarcic commented on #287
I guess that the best course of action would be to publish the port of the service and test it by sending TCP requests to it. If it works, the problem is probably not in Docker networking but in HAProxy config. @narcoticfresh, do you think you'd have time to try it out?

[2017-07-18 22:03] shabbirkagalwala commented on #132
@vfarcic  I think I figured it out, the redirects work using redirectWhenHttpProto=true but now the issue is it only redirects if the service domain is used for example http://foo.bar -> https://foo.bar but if a path is added for example http://foo.bar/a/b it fails to redirect. I tried using service path but it didn't work.
Any suggestions?

As requested I will post the stack in a couple of minute

[2017-07-19 04:01] faisyl commented on #281
Reading thru the HA-Proxy documentation, it appears to me that ha-proxy will present the correct certificate if you are terminating it based on the SNI and routing to the backend service should be straightforward based on SNI. See the example here:

https://serverfault.com/questions/560978/configure-multiple-ssl-certificates-in-haproxy
In your case I believe all you are missing in the configuratio

[2017-07-19 07:28] vfarcic commented on #132
Thanks for the info. I'll try it myself using domain and path. I don't think that scenario is covered in tests so there might be a glitch no one noticed. I'll do my best to go through it tonight.

[2017-07-19 11:33] lhenry7 commented on #292
Yes, I see that now in the docs. I don't have any good suggestions on how to change, but as long as there is a way to handle it I think it is fine. Thanks

[2017-07-19 12:47] lhenry7 commented on #292
Sorry to belabor  this, but now I'm confused by this test. Here I have the same situation where the serviceName order should cause the same problem, but it works just fine:

frontend services
    bind *:80
    bind *:443
    mode http

    acl url_nginx-test123_app80 path_beg /digitalproductlifecycle
    acl srcPort_nginx-test123_app80 dst_port 80
    acl url_nginx-test123_app443 path_beg /digital

[2017-07-19 19:26] lhenry7 commented on #292
Also, here in my full config, the service names are clearly not in alpha order all the way through. Is there some threshold where services over a certain number or ACL's over a certain number is causing issues? Currently several domains are being directed to the wrong service backends, so not only the order is messed up, the the acl's themselves seem to be confused.

[haproxy.cfg.txt](https://gith

[2017-07-19 19:53] lhenry7 commented on #292
Here are the yml files for one of the miss-sorted services examples.
[miss-sorted-stacks.zip](https://github.com/vfarcic/docker-flow-proxy/files/1160301/miss-sorted-stacks.zip)

 Also, in that haproxy.cfg, the requests that match the acl's:
    acl url_stage-genewsroom_varnish80 path_beg /
    acl srcPort_stage-genewsroom_varnish80 dst_port 80
    acl url_stage-genewsroom_varnish443 path_beg /

[2017-07-19 22:22] vfarcic commented on #132
Can you send me proxy config (it's `/cfg/haproxy.cfg` inside the container), the stack, and an example request? That would help me replicate it much faster.

[2017-07-20 09:13] narcoticfresh commented on #287
@vfarcic & @bengrisafi
sooo... i wasted time again and fiddled around a bit... this issue is really strange and oddly annoying..
but i think i have news, even if i don't know it it helps anything..

**bottom line**: I really don't think it's a docker networking issue anymore.. and there is a workaround, but i think it's not usable..

## my new test script
so i extended my test script a bit, i'm no

[2017-07-20 09:33] narcoticfresh commented on #287
@vfarcic
i think somehow this is related to #168 we use `hdr_dom`/`hdr` in tcp mode - but it's just strange it works in about half the requests(?)

[2017-07-20 22:10] vfarcic commented on #292
The problem is that the rule about ordering does not apply to services with path set to `/`. That is (probably) correct since they are catchAll type of service and should be at the bottom. The real problem is that services with the path `/` should be at the bottom only if there is no domain set. I pushed the fix and a new tag is available. Can you please try it out and let me know how it went?

[2017-07-21 01:07] lhenry7 commented on #292
Thanks, what is the tag for this fix?

Larry Henry
Staff Infrastructure Architect - Digital Strategy Group   GE Digital

T 734 641 2415
F 734 727 5420
M 734 502 9855
Larry.Henry@ge.com<mailto:Larry.Henry@ge.com>

Grace Lake Corporate Center
One Village Center Drive
Van Buren Twp, Michigan 48111
General Electric Company

GE imagination at work

From: Viktor Farcic [mailto:notifications@github.com]

[2017-07-21 07:24] vfarcic commented on #292
My bad... The push fixes a different issue. I'll work on a fix for this one during the weekend.

[2017-07-21 08:32] morph027 opened #293 "srcPort does not work"
I'm trying to proxy an app with multiple ports using the indexed definitions (which worked last  time i've tried):

[code]

Proxy itself has `BIND_PORTS` set and swarm service config is exposing the ports too.

Resulting config looks ok to me (relevant parts only):

[code]

The proxy always gives me 503 when accessing the proper urls like `http://foo.core:8082`

[2017-07-21 08:36] morph027 commented on #293
Looks like `srcPort` somehow breaks the acl matching (although it looks good to me)

Works:

[code]

Does not work.

[code]

[2017-07-21 08:59] vfarcic commented on #293
@morph027 I'm travelling and won't be able to work on this issue until Monday. It would help a lot if you could correct the config inside a container, [reload](http://proxy.dockerflow.com/usage/#reload) the proxy, and confirm that it works. With that info, it should be trivial to fix DFP. I could probably do it even on the plane :)

[2017-07-21 09:00] morph027 commented on #293
No hurry, just reporting for now ;)

Will see if i can get it working inside HAProxy, will let you know.

[2017-07-21 09:16] morph027 commented on #293
Quick debug:

acls:

[code]

fails:

[code]

works:

[code]

[2017-07-21 09:19] morph027 commented on #293
Ah, i see ;)

[code]
or

[code]

works.

[2017-07-21 09:22] morph027 commented on #293
Got it fixed by using `com.df.serviceDomainAlgo: "hdr_beg(host)"`

[2017-07-21 09:33] morph027 commented on #293
Hm, thinking of it, we should probably either fix it (append the srcPort to the ACL) or have a notice in the docs...what do you think?

[2017-07-21 09:52] vfarcic commented on #293
`srcPort` is in ACLs. Take a look at `srcPort_foobar_core8086` from the config you posted. That does not mean that the docs are clear enough. I'd appreciate a PR :)

[2017-07-21 09:55] morph027 commented on #293
By appending i mean use

[code]

instead of the generated

[code]

causing HAProxy to not resolve the complete (triple) ACL, as the host request being made is http://foo.bar:8082 and not the acl-expected http://foo.bar

[2017-07-21 10:07] vfarcic commented on #293
I think that both should work. Your suggestion is definitely much cleaner. I'll work on it on Monday unless you'd like to try it yourself with a PR.

As a side note, I haven't used that combination myself. I tend to create (sub)domain for each target instead reusing the same domain with ports.

[2017-07-21 11:09] morph027 commented on #293
Don't worry, at least there is a way to get it working.

Sidenote also: It's a target for CI tests where the test only queries / with different ports ;)

[2017-07-21 12:23] vfarcic commented on #287
@narcoticfresh That is, indeed, strange. TCP (unless you use SNI) cannot be forwarded based on domain. There are no headers HAProxy could use to deduce the domain of a request. So, the question is not why it does not work (it shouldn't) but how come it works sometimes.

[2017-07-21 18:08] shabbirkagalwala commented on #132
@vfarcic I figured it out and I am sorry about the trouble as well, so the issue was we were using tcp/ssl protocols on the elb instead of http/https and that caused dfp not to redirect. Thank you so much for the help! You can close this ticket.

[2017-07-21 19:17] basz commented on #139
just a tip : do do not need to run gitlab on 443. but you need to tell it not to use TLS if the external url starts with `https`

[code]

[2017-07-22 09:58] #132 closed

[2017-07-22 11:22] #62 closed

[2017-07-22 12:46] vfarcic opened #295 "Functional testing cluster"
Create a separate cluster for functional tests

[2017-07-22 13:07] vfarcic commented on #292
@lhenry7 Can you please try the release 17.07.22-2?

[2017-07-23 11:01] karolyczovek opened #296 "Make possible to add backend servers under existing backend"
Hi,
seems with the (legacy) consul mode it was possible, to populate already existing backends with new servers, but since DFL swarm mode is in place, it is only adding strictly one server definition and HA is provided by the overlay L4 HA - what breaks L7 session stickiness for legacy (stateful) services.

Seems #171 covers the same, container id could be added as default cookie prefix.

[2017-07-23 20:31] basz opened #297 "indexed httpsOnly not possible"
The following does not create a redirect rule for the indexed service domain.

[code]

does it for all configured service domains, which may not be what you want.

[code]

[2017-07-23 20:37] vfarcic commented on #297
At the moment, `httpsOnly` is not indexed so it is applied to the whole service. I'll make it support indexes soon (sometimes during the next week).

[2017-07-23 22:09] vfarcic opened #298 "Add exporter"

[2017-07-24 17:54] #297 closed

[2017-07-24 17:59] vfarcic commented on #297
It's available in the [release 17.07.24-10](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.07.24-10). Please try it out and let me know if it works as expected.

[2017-07-25 15:15] lhenry7 commented on #292
I have a reproducible set of stacks, where multiple deployments make proxy go horribly wrong. I have a set of 3 manager nodes and 2 worker nodes in the swarm cluster.
Along with the stacks in the attached zip file, is a script I use to stop an start service stacks. So for instance, to start the proxy-stack.yml, I use './deploy_stack proxy'. So basically any stack name without the -stack.yml part.

[2017-07-25 19:36] jorianvo opened #299 "Allow httpsOnly conditionally"
Currently we use DFP as the TLS termination point after which we redirect requests (using plain HTTP) to the appropriate backend. Using LetsEncrypt to obtain the certificates for our domains. I would like to redirect all HTTP traffic which hits DFP to be redirected to HTTPS, which works fine by using the `httpsOnly` query parameter. But here comes the problem: this will redirect all requests to HT

[2017-07-25 22:13] vfarcic commented on #299
I probably misunderstood the scenario so please correct me if I'm wrong. `httpsOnly` is applied on the per-service basis. Those services that have it will be redirected to https and those that don't will not. If DFLE does not have `httpsOnly=true` there will be no redirect. If all other services do have it set to `true` and your scenario would work the same without any changes. All services except

[2017-07-26 15:37] vfarcic commented on #292
I think that the problem with that script is that it can generate race conditions. Things might be happening too fast for the proxy with removal and creation of the same services in only a couple of seconds. I did not foresee that scenario since normally you would not do that.

From the deployment point of view, if you remove `docker stack rm $stack`, the effect would be the same. It is preferable

[2017-07-26 20:11] lhenry7 commented on #292
Yes, the script was just there to help easily cause the issue. I think the real life use case is I have over 100 services running, with a CI process that can start/upudate services at any time. Occasionally they can happen together too quickly for the proxy to get the cfg built completely and correctly. Also, if the replica is just 1, the replacement service will likely have a new IP, so I wonder

[2017-07-27 08:11] pomu0326 opened #300 "Duplicate backend names"
**Description**
I want to use a different serviceDomain with the same serviceName and port.

**My compose file**
[code]

**Describe the results you received:**
haproxy have error. `[ALERT] 207/080944 (528) : Parsing [/cfg/haproxy.cfg:64]: backend 'gitlab_gitlab-be80' has the same name as backend 'gitlab_gitlab-be80' declared at /cfg/haproxy.cfg`

haproxy.cfg
[code]

**Describe the results you expe

[2017-07-27 10:45] jorianvo commented on #299
No, you understood correctly, it seemed in my previous tests the redirect did happen. But as I currently see (and tested) it works correctly. So I'm not sure what went wrong in my previous tests, but thanks anyway!

[2017-07-27 16:12] vfarcic commented on #300
This was a tough one. It required a lot of refactoring. Even though it passed all automated tests, I'm still a bit skeptical and would like to hear your opinion as well. Can you please try it out and let me know if it works as expected? If it does, I'll make an official release. It was temporarily released as Docker image tag `vfarcic/docker-flow-proxy:issue-300`.

[2017-07-27 16:32] vfarcic commented on #292
Starting and updating services should not be the problem. The issue is if a service is removed and created with the same name within a short period. Normally, there should be no need for that since `docker stack deploy` alone should put the services in the correct state.

That is the problem since DFLE is designed to send information periodically. Did you try decreasing `DF_INTERVAL` to `1`? If th

[2017-07-27 16:32] #299 closed

[2017-07-27 19:13] lhenry7 commented on #292
Hi,

I know you use service name, but even that resolves to a VIP. Can there be  case where a service update causes a new VIP to be used, and haproxy is still using the old VIP it resolved when the haproxy.cfg was first built? That could explain why I've occasionally seen "could not resolve address" errors in logs. The way to make haproxy re-resolve server IP's requires healthchecks on the servers

[2017-07-27 22:06] vfarcic commented on #292
VIP is the same for a service no matter how often you update it. Even if it changes, it should not matter because it is not resolved by DFP, but by Docker Overlay network. In other words, the name of the service is constand and networking resolves is and forwards it to one of the replicas.

There is no such thing (as far as I know) as health checks on the servers since everything is happening insi

[2017-07-28 02:33] pomu0326 commented on #300
@vfarcic  Thank you for your response.
I try it. This seems to work without problems.

"haproxy.cfg" has meaningless duplication. This may be a problem.
However, it seems like a better choice than having complicated logic.

[2017-07-28 09:33] vfarcic commented on #300
I'm not grouping data so there might be duplicated ACLs. They should not create any problems as long as backends are unique. I'll close the ticket. Feel free to reopen it if you experience any problem.

[2017-07-28 09:33] #300 closed

[2017-07-29 03:01] michaelwilde commented on #171
@vfarcic thoughts?  possible?

[2017-07-29 11:31] vfarcic commented on #171
@michaelwilde First of all, I'm sorry for ignoring this ticket for so long. It can be done. The only problem is time. I never seem to have enough of it. I'll start working on a draft ASAP.

[2017-07-29 11:44] vfarcic commented on #300
It's merged and available through the tag vfarcic/docker-flow-proxy:17.07.29-14.

[2017-07-29 19:16] vfarcic commented on #171
The first draft of the feature is finished. I'd appreciate if you could try it out and let me know whether it works as you expected and whether you have any suggestions for improvement. The official release and documentation will follow once I get your feedback.

You'll find my manual tests in https://github.com/vfarcic/docker-flow-proxy/tree/issue-171/issues/171. The README contains short instruc

[2017-07-29 19:18] vfarcic commented on #296
I made the first draft of the feature. Please take a look at my last message in the issue #171 . I'd appreciate if you can test it and send me your feedback before making it an official release.

[2017-07-29 20:44] vfarcic commented on #285
@dave08 Can you please let me know whether we can close this issue?

[2017-07-29 20:45] vfarcic commented on #275
Closing due to inactivity. Feel free to reopen it if you'd like to continue the conversation.

[2017-07-29 20:45] #275 closed

[2017-07-29 20:53] vfarcic commented on #266
@rommik I'll close this issue since there was no response on the last message. Feel free to reopen it if you'd like to continue the discussion.

[2017-07-29 20:53] #266 closed

[2017-07-29 21:21] dave08 commented on #285
Technically, not being in the network was part of the problem, but there
was still some kind of intermittence afterwards, that caused me to docker
stack rm proxy it, and then have to redeploy. I think that when the
settings aren't good, for some reason they stay stuck. On production I
wouldn't easily be able to just recreate the stack... But for now all the
settings are ok and things are working s

[2017-07-29 21:34] vfarcic commented on #285
Putting "wrong" labels might confuse the proxy. That might be the cause of the problem besides the obvious with the missing network.

I'll close this issue for now. Feel free to reopen it if you manage to reproduce the problem.

[2017-07-29 21:34] #285 closed

[2017-07-30 21:50] alshabib opened #303 "Latest build on docker hub yields incorrect haproxy config"
**Description**

Loading simple stack yaml file yields the following haproxy error:

[code]

with this yaml file:

[code]

**Steps to reproduce the issue:**
Assuming running swarm with dfp and swarm-listener.

1. docker stack deploy -c stack-file.yml web
2. docker service logs -f proxy_proxy
3. Observe dfp not reconfiguring correctly

**Describe the results you received:**

Unable to reach my serv

[2017-07-30 22:15] vfarcic commented on #303
Can you please post the proxy configuration (from the version that is failing)? You can get it by entering into one of the containers and executing `cat /cfg/haproxy.cfg`.

[2017-07-30 22:30] #303 closed

[2017-07-30 22:32] vfarcic commented on #303
I think I found the problem. Can you please try the tag vfarcic/docker-flow-proxy:17.07.30-18 and let me know if the issue is gone?

[2017-07-30 22:36] alshabib commented on #303
[code]

Will try 17.07.30-18 in a sec.

[2017-07-30 22:42] alshabib commented on #303
17.07.30-18 works and so does latest as I see you have updated that one as well.

Thanks for fixing that so fast!

[2017-07-30 22:47] vfarcic commented on #303
You're welcome :)

[2017-07-31 09:12] karolyczovek commented on #296
as first look working fine, many thanks.

[2017-07-31 10:41] robertgartman commented on #209
We've faced the same issue as described by @dmelo. It surfaced both for docker stack and docker service deployments. In our case the issue turned out to be:

Docker daemon picks up the dns-search from the node's network config and propagates this to /etc/resolver.conf of each and every container. I.e. when looking inside a docker-flow-proxy-container we see public.domain:

[code]
The **root cause*

[2017-07-31 19:12] adi-raghavendra opened #304 "Adding SSL certificates through http does not seem to update"
**Description**

Adding SSL certificates through http does not seem to update
**Steps to reproduce the issue:**
1. ```
curl -i -XPUT \
    --data-binary @certs/xip.io.pem \
    "$(docker-machine ip node-1):8080/v1/docker-flow-proxy/cert?certName=xip.io.pem&distribute=true"
[code]
frontend services
    bind *:80
    bind *:443 ssl crt /certs/xip.io.pem
    mode http
[code]
frontend services
    bin

[2017-07-31 19:19] vfarcic commented on #304
Since quite a few releases ago, certificates were moved to `crt-list.txt`. Can you output the contents of the `/cfg/crt-list.txt` file?

[2017-07-31 20:04] adi-raghavendra commented on #304
[cfg.zip](https://github.com/vfarcic/docker-flow-proxy/files/1188707/cfg.zip)

[2017-07-31 20:05] adi-raghavendra commented on #304
Thanks @vfarcic  for looking into this. Attached zip file of the directoru.

[2017-07-31 21:22] vfarcic commented on #304
Are you sure that the `/cfg` dir you sent me is the correct one? Seems that the proxy is in a different state than the one described in the issue. `haproxy.cfg` from the zip file has `bind *:443` while in the issue description it's `bind *:443 ssl crt-list /cfg/crt-list.txt`.

[2017-08-01 11:53] vfarcic commented on #171
@michaelwilde Did you have time to try it out?

[2017-08-01 16:12] adi-raghavendra commented on #304
I sent you the wrong /cfg folder. I checked the /cfg/crt-list.txt and it does point to the pem file. I guess I got confused because the documentation was not caught up. Sorry about that.

[2017-08-01 16:12] #304 closed

[2017-08-01 16:46] michaelwilde commented on #171
Will do within the next day

Get Outlook for iOS<https://aka.ms/o0ukef>

On Tue, Aug 1, 2017 at 4:53 AM -0700, "Viktor Farcic" <notifications@github.com<mailto:notifications@github.com>> wrote:

@michaelwilde<https://github.com/michaelwilde> Did you have time to try it out?

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/vfar

[2017-08-01 19:41] vfarcic commented on #304
@adi-raghavendra Can you make a PR with a corrected documentation?

[2017-08-01 21:32] adi-raghavendra commented on #304
https://github.com/vfarcic/docker-flow-proxy/pull/306

[2017-08-02 12:51] brunifrancesco opened #307 "Containers name resolution issue when running proxy"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Container names are not resolved when running services in SWARM Mode**

Run *proxy* and *swarm-listener* services is not working.
It seems proxy (deployed in a different node) is not able to resolve a container name.

**Steps to reproduce the issue:**

1. init swarm
2.

[2017-08-02 15:27] lhenry7 commented on #292
Ok, sorry for the long diversion... but back to the original issue. Attached are flow-proxy stack and 2 nginx stacks. The sort order is still not what I expect. the service names are nginx-test_app and nginx-test123_app.
Expected:
nginx-test_app ACL's would appear in the haproxy.cfg before nginx-test123_app ACL's

Observed:
nginx-test123_app ACL's are before nginx-test123_app ACL's
[proxy-nginx.zi

[2017-08-02 16:07] vfarcic commented on #307
The good news is that the syntax for the commands you executed is correct. The bad news is that it worked in my cluster meaning that the problem is not directly related to DFP. The cause of the problem is probably in the firewall.

From your comments on Slack, seems that swarm listener can communicate with the proxy. Can you check whether the same is true the other way around? Enter into the proxy

[2017-08-02 16:11] vfarcic commented on #307
I missed to notice the IP from the error message.

`127.0.0.11:53` does not seem to be IP Docker network assigns to services. It seems as if something is hijacking requests. Can you double check that there is no VPN or another proxy somewhere inside your network? Also, the port `53` does not fit the picture.

[2017-08-02 16:14] vfarcic commented on #292
When ordered alphabetically (as least through Go code) `_` is before numbers. I don't think that changing default algorithm for sorting would be worthwhile. Would you be OK knowing that `_` goes before numbers? That should let you rename services accordingly or use `aclName` instead. What do you think?

[2017-08-02 16:23] lhenry7 commented on #292
Yes, agreed. As long as it is logical and explainable thing, it is fine. So it’s using POSIX sort ordering, not UTF-8. I think UTF-8 would sort underscore after numbers.

[2017-08-02 16:23] #292 closed

[2017-08-03 16:05] estenrye opened #308 "[FeatureRequest] Support for Nginx on Windows Server Containers"
**Feature Description**

Currently I am operating in an environment that uses Windows Containers.  In this environment I do not have a Unix socket to communicate with Docker and I also cannot run an haproxy Linux Container on Windows Hosts.  I would like to expand the capabilities of this project to include the ability to generate the required nginx configuration and run in either a nanoserver or

[2017-08-03 18:18] estenrye commented on #308
@vfarcic, I was talking with some of the architects at my work about nginx, and they said that one of the drawbacks they have encountered with nginx is that when it reloads its configuration it drops connections.  Would making this feature support traefik, which is written in Go, be a better approach?

[2017-08-03 18:36] vfarcic commented on #308
@estenrye I don't think that making DFP support Traefik would be a good idea. Even though it has similar goals as DFP, their implementations are quite different.

[2017-08-03 19:15] vfarcic commented on #308
@estenrye I understand that a Swarm cluster can combine Windows and Linux nodes. I haven't tried it myself but, if that's true, you might want to consider that option. I'm sure that DFP is not the only non-Windows service you'll run. Sooner or later you'll want ElasticSearch, Prometheus, or some other of the millions of Linux-only Docker images.

[2017-08-04 09:16] brunifrancesco commented on #307
It turned out you got it right.
There was an issue with my set of open stack based VM.
I needed to explicitly open ports without using a "pass all" firewall rule.
Thanks for supporting me.

Francesco

[2017-08-04 09:16] #307 closed

[2017-08-05 16:34] vfarcic commented on #296
@karolyczovek I think it would be great to add a tutorial with this feature to the documentation. Do you have a public service that could demonstrate stickiness? I don't have any at hand and that would save me from making one from scratch. It would be even better if you could write a tutorial doc and make a PR but that might require too much of your time.

Please let me know if you can provide any

[2017-08-05 16:34] vfarcic commented on #288
Closing this issue due to inactivity. Feel free to reopen it if you'd like to continue the discussion.

[2017-08-05 16:34] #288 closed

[2017-08-05 17:14] vfarcic commented on #63
`type` parameter was added to the `config` endpoint some time ago and I forgot to update this issue. After a very long delay, the feature is now available. Please see [http://proxy.dockerflow.com/usage/#config](http://proxy.dockerflow.com/usage/#config) for more info.

[2017-08-05 17:14] #63 closed

[2017-08-05 17:15] vfarcic commented on #127
If certs are used as secrets or in a mounted volume, they are preserved.

[2017-08-05 17:15] #127 closed

[2017-08-05 17:16] vfarcic commented on #184
There was no big interest in this feature so I'll close this issue. Feel free to reopen it if you think it would fit your use-case.

[2017-08-05 17:16] #184 closed

[2017-08-05 18:57] vfarcic commented on #199
Closing due to inactivity. Feel free to reopen the issue if you think we can obtain more information or reproduce it.

[2017-08-05 18:57] #199 closed

[2017-08-05 18:58] vfarcic commented on #218
This issue is obsolete since Consul was sunset. Swarm is now the only mode available.

[2017-08-05 18:58] #218 closed

[2017-08-09 05:23] michaelwilde commented on #171
It is configuring a server in the proxy for each replica.. thats good.   not responding on the front end, but thats probably me missing new features since 1.3

[2017-08-09 06:28] michaelwilde commented on #171
Hmm... check this out.  All works just fine in 1.393.  Did some syntax change that i missed?

[code]

In :latest, or :issue-171 I'm noticing the "fe" files all become empty.

[code]

[2017-08-09 11:41] vfarcic commented on #171
I deployed that stack and the proxy configuration looks OK. If you're referring to proxy_docs-fe.cfg being empty, quite some time ago I removed files to create front-end config snippets. The idea is that everything should be in memory.

Can you please let me know whether the proxy configuration (`/cfg/haproxy.cfg`) is generated as expected?

[2017-08-09 17:46] vfarcic opened #309 "Support for haproxy exporter with multiple replicas"

[2017-08-09 20:02] #309 closed

[2017-08-10 01:10] michaelwilde commented on #171
@vfarcic the haproxy.cfg is getting written...but there are some differences.  Specifically, hdr_dom(host) is shown in 1.393, but hdr_dom is shown in latest.  Is the missing **(host)** the issue?

I notice in 1.393 I see

` bind *:8000
    acl url_splunkoxygen-ops_deployer8000 path_beg \/
    acl domain_splunkoxygen-ops_deployer hdr_dom(host) -i deployer.demo.splunkoxygen.com
    use_backend splun

[2017-08-10 02:18] vfarcic commented on #171
You're right. I deprecated `serviceDomainMatchAll` in favor of `serviceDomainAlgo` parameter. It gives more flexibility to define algorithm for matching domains. Even though `serviceDomainMatchAll` was removed from docs, I'm keeping it in the code so that backwards compatibility is maintained. The issue is that I made a mistake in that part of the code. Now it should be fixed. Can you please try t

[2017-08-10 15:08] valeriomazzeo opened #310 "DFP should ignore services that cannot be added to the configuration"
Currently this causes docker-flow-proxy to restart infinitely resulting in other (properly configured) services to be unavailable.

[2017-08-10 20:25] vfarcic commented on #310
@valeriomazzeo Can you come up with a set of test commands that would prove that it currently fails and, more importantly, will prove that the fix works?

[2017-08-10 20:27] valeriomazzeo commented on #310
The most common error I have seen is that if you configure in the proxy a service for a container that doesn't exist, it keeps failing because it can't connect to it.

Another common one, is some misspell in one of the services configuration, like an invalid log format.

[2017-08-10 20:42] vfarcic commented on #310
The problem is that it is hard (if not impossible) to distinguish services that are created but not yet running from those that will never run. Swarm Listener retries attempt to reconfigure the proxy hoping that the service will become available. It uses env. var. `DF_RETRY`(defaults to `50`) and `DF_RETRY_INTERVAL` (defaults to 5). With the default config, it will continue sending reconfigure req

[2017-08-10 20:53] valeriomazzeo commented on #310
[code]

1. I think the retry logic works, although it is extremely heavy when deploying a new stack when all the services are trying to start at the same time. In that scenario the proxy just keeps restarting. In case something will never be available at some point I think df-proxy gives up resulting in **all** of the services being unavailable for the end user.

2. I am not sure, as a "dumb" df-p

[2017-08-10 22:23] #310 closed

[2017-08-10 22:26] vfarcic commented on #310
Fix is available from the tag `vfarcic/docker-flow-proxy:17.08.10-24`. From now on, if a service prevents DFP from configuring, it will be removed and another attempt to reconfigure will be executed (this time without the problematic service). Can you please try it out and let me know whether it fixed your problem?

[2017-08-10 22:31] valeriomazzeo commented on #310
Thanks!

Does this handle only the bad configuration case, or also when the service is not available (for example: still booting)?

Will try it first thing tomorrow.

[2017-08-10 22:36] vfarcic commented on #310
The flow is:

1. DFSL sends a notification to DFP
2. DFP reconfigures itself using the info about the new service. The rest is not executed if that works.
3. DFP fails to configure HAProxy (service is still not available, labels are wrong, and so on). It does not know whether the problem is temporary (service not yet running) or permanent.
4. DFP reverts to the configuration without the new servic

[2017-08-10 22:42] valeriomazzeo commented on #310
Clear, I have only one question about 5.

When DFSL sends the retry request, is DF capable of validating and load the new configuration without going down?

In other words, is DF going to go down every 5 seconds for 50 times if something goes wrong, or during that period of time will it still be able to serve the other services?

[2017-08-10 22:46] vfarcic commented on #310
It will not go down in those cases. At least, that's the intention from the start and, hopefully, it is now fixed. Please let me know if that's not the case.

[2017-08-15 12:50] pirklmar opened #311 "Set backend server maxconn value"
Is there any way to set up the maxconn value for backend servers?

[2017-08-15 14:21] opHASnoNAME commented on #281
Any suggestions how to get this working? We want to do TLS Termination for RABBITMQ-MQTT on Flow-Proxy. If someone got this working, i would love to read how.

[2017-08-15 17:43] vfarcic commented on #281
@opHASnoNAME I'm on vacations and won't be able to work on this issue until the next week. Please post your question on https://devops20.slack.com/. If you're not already a member, please register through http://slack.devops20toolkit.com/ .

If no one helps on Slack, please post your stacks so that I can reproduce the same setup you're using as well as a command I could use to test that DFP is ind

[2017-08-15 17:52] vfarcic commented on #311
You can use [environment variable](http://proxy.dockerflow.com/config/#environment-variables) `EXTRA_GLOBAL` to add params to the global configuration (e.g. `maxconn`). Can you please let me know if that's what you're looking for or if you have a suggestion how to make it more "user friendly"?

[2017-08-15 18:01] opHASnoNAME commented on #281
Hi, we want to publish Port 15672 via SSL: This works fine. As Second service we want to publish MQTT with TLS Termination on HA-Proxy.

Configures as reqMode=tcp , and reachable from the "outside", this works but i have no idea how to set a SSL certificate for Port 1883. Like the example from Je-Al.

But enjoy your holidays, may be we find a way tomorrow.

Great product!

[2017-08-15 18:39] je-al commented on #281
@opHASnoNAME no way to do it right now...
I did take a look at the code, but found out that a big refactoring was needed in order to support what I had in mind. @faisyl's proposal is less traumatic (and fulfills my current needs), but wouldn't work if you actually need to support more than one certificate (i.e. you don't have a wildcard cert), because not all (or, maybe we could say no one but bro

[2017-08-15 18:47] opHASnoNAME commented on #281
Thanks, i am not sure.. but does we need more than one certificate? The Domain is the same for Webfrontend and one for MQTT (only other Ports). But another approach for us is the use MQTT with RabbitMQ and TLS terminal at Rabbit.

[2017-08-15 19:36] je-al commented on #281
@opHASnoNAME that's what I'm saying, if you don't need support for more than one certificate, the solution proposed (as in, not yet implemented) by @faisyl in https://github.com/vfarcic/docker-flow-proxy/issues/281#issuecomment-316266268 would work...

[2017-08-16 04:07] faisyl commented on #281
I think the easiest way to get this moving would be to setup a standalone haproxy instance, configure it to talk to your backend services the way you would expect it to work and make sure that it does. Once that's done, if you can post the config here, it should be straightforward to determine if docker-flow-proxy needs any changes to get your specific configuration to work.

[2017-08-16 17:09] ignacioalles opened #312 "redirectWhenHttpProto generates invalid config"
**Description**

When using 'redirectWhenHttpProto' parameters the resulting configuration is invalid.
Relevant labels in docker-compose file are:
[code]

**Describe the results you received:**

The generated HA Proxy configuration is:
[code]

**Describe the results you expected:**

The line
`redirect scheme https if is_project_http url_project80_0 domain_project80`
should has been
`redirect schem

[2017-08-16 18:19] vfarcic commented on #312
The good news is that this is a very easy fix thanks to your detailed description of the problem and config examples.  The bad news is that I'm on vacations with a very limited internet connection. I made a fix and could not test it properly. Can you do me a favor and try vfarcic/docker-flow-proxy:beta? If it works correctly, I'll promote it to an official release.

[2017-08-16 19:01] #312 closed

[2017-08-16 19:07] vfarcic commented on #312
I managed to test it enough to be (more or less) confident that no other functionality broke (no side effects). It is released as tag `17.08.16-25`. I'd appreciate if you could have a look at it as well.

[2017-08-16 21:09] ignacioalles commented on #312
Thank you very much,  Viktor! Tested with latest and it works great!
Sorry for bothering you on vacation!

[2017-08-17 14:14] #293 closed

[2017-08-17 14:56] ozlerhakan opened #313 "Switching between services without using the remove option"
Hi,

Thank you for such a good project! When I tried a blue-green deployment using docker-flow-proxy, I have realised that I couldn't have changed services among them all of which exist and run in my swarm cluster.

My first request is just to use the blue service:

[code]

In another terminal, I see that everything works good:

[code]

Let's now switch the service from the blue to the green:
[cod

[2017-08-17 16:06] vfarcic commented on #313
Proxy ACLs are ordered alphabetically. When a request is sent to the proxy, it forwards it to the first one that is a match. What that means is that when there are two or more services with the same match (e.g. `servicePath=/`), requests will be forwarded to the first one on the list. So, if you configure `blue_world` and `green_world`, all requests will be forwarded to `blue_world` because it com

[2017-08-17 18:01] ozlerhakan commented on #313
Thank you @vfarcic for the comprehensive details.

I have tested your instructions:
[code]

However, I have receive 1 second downtime.

[code]

If I add your mentioned flag `aclName` and remove the blue service afterwards, I have zero downtime.

[code]

[code]

I have tested the `docker config` approach with one nginx proxy  service + 2 instance of the 2 different services (like the Blue and Green

[2017-08-17 18:06] vfarcic commented on #313
My guess is that you have downtime because the process inside a container needs some time to start. Did you define HEALTHCHECK? If you did, Docker would wait until it received `0` from it before it starts sending traffic to it and moving onto a next replica.

[2017-08-17 18:09] ozlerhakan commented on #313
Ah no I haven't configured a HEALTHCHECK option.

[2017-08-17 20:16] ozlerhakan commented on #313
After including a HEALTHCHECK into my service, I have zero downtime with no need an extra service. Thank you @vfarcic !

Nevertheless  It's also good to test docker-flow-proxy for that purpose :)

[2017-08-21 14:24] kmyn commented on #307
@brunifrancesco How did you resolve this issue? I'm running into the same issue as well.

Thanks,
Karthik

[2017-08-21 15:51] kmyn opened #314 "Lookup swarm-listener on 127.0.0.11:53: server misbehaving"
**Description**

This is a two node swarm cluster with one node as manager and the other worker. **These errors below are coming only from the proxy running on the worker.**

**Error: Fetching config from swarm listener failed: Get http://swarm-listener:8080/v1/docker-flow-swarm-listener/get-services: dial tcp: lookup swarm-listener on 127.0.0.11:53: server misbehaving. Will retry in 5 seconds.**

[2017-08-21 18:09] kmyn commented on #314
restarting docker daemon resolved the issue.

[2017-08-21 18:09] #314 closed

[2017-08-21 18:25] vfarcic commented on #314
That's great to hear. I just finished deploying the same stack (it worked) and was about to suggest the same.

[2017-08-22 14:16] wyxgit opened #315 "Load balancing passive FTP connection to two upstream nodes"
I need info about it.  Possible or not?
HAproxy supports the TCP loadbalancing but in the combination with docker-flow never tried.
I am interested in the one node version and the two nodes version as well.

[2017-08-22 15:13] Benster900 opened #316 "HAproxy templates for non-docker services"
**Description**

Dockerfile:
[code]

services-fe-tmpl:
[code]

services-be.tmpl:
[code]

docker-compose.ym
[code]

**Describe the results you received:**
I can hit whomai.example.com but I am not able to route to test.example.com a non-docker service behind the proxy.

**Describe the results you expected:**
I would like to add non-docker services to HAproxy templates and reload the container.

**A

[2017-08-22 17:35] brunifrancesco commented on #307
Are you encountering the issue in a Open Stack VM?
I configured a **pass all rule** (all TCP/UDP ports were open) to let all the traffic passes through without any limitation. This op was the issue cause: when I explicitly open SWARM UDP/TCP ports and removed the pass all rule, it started working as expected.
Hope it solves your problem too,

bye
Francesco

[2017-08-22 19:19] alexsandro-xpt commented on #307
I'm using AWS with `Docker for AWS` solution, I haven't this problem. It's really bad :|

[2017-08-22 19:45] vfarcic commented on #307
@alexsandro-xpt I'm not sure I understood. Are you NOT having that problem?

[2017-08-22 19:47] vfarcic commented on #307
@kmyn I don't have an Open Stack cluster I can use to try it out myself. Generally, if ports are open (https://docs.docker.com/engine/swarm/swarm-tutorial/#open-protocols-and-ports-between-the-hosts) Docker networking should work and DFP as well. If networking is messed up, DFP cannot forward requests to your service. Actually, without networking set up, many other things will not work in a Swarm

[2017-08-23 14:15] kmyn commented on #307
The one's I'm using are generic CentOS VM's. Same issue happened in two different setup and for both I had to recreate swarm and the overlay network again to resolve the problem.

[2017-08-23 18:27] vfarcic commented on #307
Many are having problems running Docker Swarm cluster on CentOS/RedHat. Networking is often failing on those.

I don't think that the problem is related to DFP. I'd suggest using Ubuntu instead or one of the newer distributions made specifically for containers.

[2017-08-23 18:28] vfarcic commented on #315
Can you post a sample HAProxy configuration that you'd like to accomplish and I'll get back to you with the labels required to do the same in DFP. If something is missing, with a sample configuration it should be trivial to add it to DFP.

[2017-08-24 08:27] leostarcevic opened #317 "FR: changing redirect code when using httpsOnly"
When using httpsOnly, the http to https redirect will be a 302 redirect by default. I'd like to use 301 or 307 redirects as well. I'll make the necessary changes, how about we call this new param "httpsRedirectCode" ?

[2017-08-24 08:34] leostarcevic opened #318 "FR: new param to set any acl rule supported by haproxy"
I'd like to add a general param to set any ACL rule supported by HaProxy, I'll name this param "addCustomAcl" and make a PR.

[2017-08-24 10:01] wyxgit commented on #315
You can see our existing conf, which can split the passive data ports to two ranges.
This is just a theory, we tried it, it works with FTP Explicit mode, but not in plain mode.
I need ideas, who not working with simple plain mode? (roundrobin in control channel but not in data channel?  or IP persistence is wrong?)

Also need the labels if possible.

[code]

[2017-08-24 15:55] #316 closed

[2017-08-24 15:58] vfarcic commented on #316
I modified your tests slightly and placed them in https://github.com/vfarcic/docker-flow-proxy/tree/master/issues/316 . The only significant difference is that I added `DFP_SERVICE_1_SERVICE_NAME` (https://github.com/vfarcic/docker-flow-proxy/blob/master/issues/316/stack.yml#L12). Service name is mandatory since DFP uses it as a key to store in memory all parameters of a service.

Your examples sh

[2017-08-24 16:00] vfarcic commented on #171
I'll assume that the main objective of this issue is fulfilled and close it. Please reopen if you feel that something is missing.

[2017-08-24 16:00] #171 closed

[2017-08-24 22:10] Benster900 opened #319 "Param to set HAproxy global mode"
Currently there is no option to set the global mode of HAProxy because it's hard coded as HTTP. Would like an ENV var to set the global mode.

[2017-08-25 02:24] #319 closed

[2017-08-25 02:28] vfarcic commented on #319
Starting from the tag `17.08.25-31`, the default mode can be changed with the environment variable `DEFAULT_REQ_MODE`. Please try it out and let me know whether it works as expected.

[2017-08-25 10:49] vfarcic commented on #315
I don't think you need a proxy for that. The idea behind the proxy is to have a single entry port for multiple services (and a few other things). You can accomplish your scenario by publishing ports of your services since they seem to be different for each.

Please let me know if you do need proxy for that and I'll send you a sample params you can use.

P.S. Sorry for the late reply. I had too muc

[2017-08-25 13:08] wyxgit commented on #315
Ok, waiting for your solution and conf.

[2017-08-25 19:49] jpalpant opened #320 "HAProxy config generated using reqMode=sni not correct"
This is my first ever bug report on a OS project, so I hope I can be descriptive and helpful. I'm available for dialogue and clarification as needed. I've written... a lot. For anyone who comes along later to see this issue. I'm available for discussion or more information too - and I've tried to obscure the exact details of the website I'm deploying, but if I missed any place please let me know.

[2017-08-25 20:13] vfarcic commented on #320
@justin.palpant Normally, I do my best to respond fast. However, I'm in a rush to do some last minute preparations for my trip tomorrow and I'm not sure when I'll be able to go through it. The whole weekend and the next week I'll be in Jenkins World and I'm not sure whether I'll manage to get some free time. I'll do my best to work on this ASAP.

Adding @faisyl. He's our resident SNI expert. Let's

[2017-08-25 22:03] jpalpant commented on #320
@vfarcic I have tested entering the docker-flow-proxy container, modifying the haproxy.cfg, and sending the reload request as you asked. I am able to get forwarding working correctly making the following changes:

1) Replace `acl sni_website_web443-1 path_beg /` with `acl sni_website_web443-1 req.ssl_sni -i my.ssl.domain` (the value after -i should be the value of com.df.serviceDomain)
2) I think

[2017-08-26 00:30] vfarcic commented on #320
I made the change. It passed unit tests but I did not have time to run functional tests. Can you please try it out and let me know whether it works as expected. It is available as the tag `beta`.

[2017-08-26 00:36] jpalpant commented on #320
I’ve pulled the image with tag beta and will test and let you know!

[2017-08-26 02:21] jpalpant commented on #320
@vfarcic tested locally and the result is as expected and works! The HAProxy config is correct and the proxying works. For good measure I did the exact test above and got this HAProxy config for the frontend section:

[code]

Then, for good measure, I added another SNI service and the acl and use_backend lines were duplicated, but with the serviceDomain and backend port of the second service. Agai

[2017-08-26 05:49] faisyl commented on #320
IMO, using the serviceDomain and hardcoding the SNI match to "req.ssl_sni -i", takes away a lot of flexibility from the system.  It implies that the only SNI match we are interested in is full SNI match. i.e. it should match the serviceDomain completely. The original implementation was aimed more as am equivalent to the servicePath matching mechanism allowing for a lot more flexibility. Here's a c

[2017-08-26 06:36] jpalpant commented on #320
Ahhh @faisyl I see! In your example we could use servicePath and set pathType (I didn't even try that parameter) to specify the SNI match - what other options are available with servicePath, could you give a few examples of the flexibility there? Then let me just check out how the config built when I try it that way and I bet it'll work like a charm.

Then, let me see if I understand port and srcP

[2017-08-26 06:50] faisyl commented on #320
You are right about the dst_port ACL failing. I guess this was because of the different code path it was taking. Looking at the generated code I see that the dst_port acl is useless and can probably be removed without breaking anything.

When using swarm mode, you don't worry about mapping the port anymore. This may seem counter-intutive, but makes sense since specifying an ingress port means you

[2017-08-27 01:54] #296 closed

[2017-08-27 01:56] vfarcic commented on #313
I'll close this issue. Feel free to reopen it if you feel there's still something missing.

[2017-08-27 01:56] #313 closed

[2017-08-28 16:13] vfarcic commented on #315
If you publish ports of your FTP services, Docker's Ingress network will take care of load balancing. There's no need for DFP for that.

I'd like to make sure that your use case does benefit from DFP before proceeding further. With the information you posted by now, I'd recommend publishing the ports without DFP to accomplish your goals.

[2017-08-29 07:09] wyxgit commented on #315
The problem is that each host where the FTPserver runs has no public access to the net, thats why we need proxy for that.

[2017-08-30 14:18] wyxgit opened #321 "Detailed LOG in DFP"
I need verbose LOG (with connection informations, client IPs, so on) in DFP.
What is the way to configure it?

[2017-08-30 17:25] vfarcic commented on #321
Did you try environment variables `DEBUG`, `DEBUG_ERRORS_ONLY`, `DEBUG_HTTP_FORMAT`, and `DEBUG_TCP_FORMAT`? They are described in the [Environment Variables](http://proxy.dockerflow.com/config/#environment-variables) section of the documentation.

[2017-08-31 18:46] morph027 commented on #245
tini might be worth a look too: https://github.com/krallin/tini

Been using it for quite some time.

[2017-09-01 01:37] vfarcic commented on #245
I did not manage to add **tini** to the project. I gave up to fast so that does not mean that it is not doable. @morph027 would you like to give it a try with a PR?

[2017-09-01 04:33] morph027 commented on #245
Sure, just need some time to reproduce the issue and then see if it's solved afterwards :+1:

[2017-09-01 11:49] sstubbs commented on #12
I am having this issue. Is mounting /cfg/ still the best way or is there a better way of handing failover now?

[2017-09-01 11:53] sstubbs opened #322 "failover on node reboot"
I am currently running a cluster of 3 core os nodes. When they automatically update and reboot the proxy does not retain the previous setup routes. I have tried running two instances but then requests to the rebooted nodes container still fail.

I have read an old issue about this https://github.com/vfarcic/docker-flow-proxy/issues/12 which suggests mounting the /cfg/ folder on the host. Is this s

[2017-09-01 11:55] sstubbs commented on #322
I am using the docker swarm setup http://proxy.dockerflow.com/swarm-mode-auto/

[2017-09-01 17:15] vfarcic commented on #322
Mounting `/cfg` is not a good option any more. The proxy now gets all the information it needs from *Swarm Listener*.

When a replica of the proxy is created it sends a request to *Swarm Listener* which returns all the services the proxy needs to configure itself. So, as long as *Swarm Listener* is running, the proxy should get all the information it needs. If a node with the proxy is restarted Sw

[2017-09-03 10:00] vfarcic commented on #315
Sorry for not getting back to you earlier @wyxgit. I was in Jenkins World and arrived back home only a few hours ago.

Can you take a look at http://proxy.dockerflow.com/swarm-mode-auto/#using-tcp-request-mode? It explains how to setup DFP>Redis communication using TCP. I think that's (more or less) what you're looking for.

[2017-09-03 10:04] vfarcic commented on #311
Closing due to inactivity. Feel free to reopen this issue if `EXTRA_GLOBAL` does not solve your problem.

[2017-09-03 10:04] #311 closed

[2017-09-03 13:29] vfarcic commented on #240
Closing due to inactivity. Please reopen this issue if you'd like us to work on it.

[2017-09-03 13:29] #240 closed

[2017-09-03 14:10] vfarcic commented on #165
Closing due to inactivity. Please reopen this issue if you're still experiencing problems and/or would like to contribute.

[2017-09-03 14:10] #165 closed

[2017-09-06 21:12] je-al opened #323 "Provide a means to configure the URL the internal haproxy-exporter uses"
Hi, I've been testing the metrics endpoint and ran into an issue. Since I'm using a modified image which setups a separate frontend for the stats:
[code]
It'd be nice if a means to configure the URL the exporter uses internally to fetch the stats was available (preferably through secrets, since this would include authentication if enabled)

[2017-09-06 21:16] je-al opened #324 "Provide a way to setup a separate frontend for proxy stats"
Hi, I'm testing the proxy behind a proxy-protocol enabled LB (AWS ELB) and ran into an issue. Since the `stats` configuration is setup in the `default` frontend, scrapers of it would need to support using proxy-protocol when communicating to it. I don't think this is very common or easy to do. So It'd be nice if the possibility of defining a separate frontend (basically another port) which contain

[2017-09-06 22:01] vfarcic commented on #323
This issue is fixed and available as tag `17.09.06-6`. DFP will respect the value of the environment variable `STATS_URI`. Metrics retrieval is still hard-coded to the port `80`. This will be changed with the issue #324.

[2017-09-06 22:51] vfarcic commented on #323
The implementation passed automated tests but I did not have time to try it out on a functional level. Can you please give me a hand and test the tag `beta` and report back whether it works as expected? You'll need to define environment variable `STATS_PORT`.

[2017-09-06 22:52] #323 closed

[2017-09-06 22:52] vfarcic commented on #324
The implementation passed automated tests but I did not have time to try it out on a functional level. Can you please give me a hand and test the tag `beta` and report back whether it works as expected? You'll need to define environment variable `STATS_PORT`.

[2017-09-06 23:38] je-al commented on #324
You seem to have missed a blank line there somewhere: ```
backend stats
    mode http
    stats enable
    stats refresh 30s
    stats realm Strictly\ Private
    stats uri /proxyStats
    stats auth admin:admin
frontend services
    bind *:80 accept-proxy
[code]
haproxy_server_weight{backend="webs_www-be80_0",server="webs_www"} 1
[code]

[2017-09-07 10:11] vfarcic commented on #324
Empty lines between frontends and backends is mostly for cosmetic reasons. HAProxy ignores them. I put to my backlog the change to separate them further.

I made a release `17.09.06-7` with the changes required for this FR. Please reopen this issue if you experience any problems.

[2017-09-07 10:11] #324 closed

[2017-09-07 13:27] radicalgeek opened #325 "inconsistent registration with the Proxy."
I am trying to deploy a number of stacks, and use DFP to front them. I have gone through the existing issues, and while some a similar, I do not see one exactly the same as what I am experiencing.

In general, I have 4 docker swarms. INT and QA are identical, and UAT and PROD are identical. They were all created using a hand rolled script that copies a Hyper-v hard disk and sets up the hosts in sw

[2017-09-07 17:33] faisyl commented on #320
@vfarcic, I'm trying to figure how to go about doing the documentation on this. How would you prefer I do this?

[2017-09-07 17:53] vfarcic commented on #320
How about a new tutorial? That might be better than extending one of the existing ones since, potentially, SNI might end up a big subject in itself. You can, for example, use https://github.com/vfarcic/docker-flow-proxy/blob/master/docs/swarm-mode-stack.md as a template. Once it's done, we should add it to https://github.com/vfarcic/docker-flow-proxy/blob/master/mkdocs.yml. Maybe a few changes to

[2017-09-08 22:28] carl-utter commented on #287
We are not using NGINX but rather Ubuntu for our Swarm Cluster Instances... but we ran into this same problem. We believe it was because we had our DF Proxy configured with "CONNECTION_MODE:-http-keep-alive" because our Portainer Service required it in order to function correctly.

_DF Proxy Stack File Example (environment section)_
[code]

However, that connection wasn't friendly for our other va

[2017-09-09 13:41] vfarcic commented on #325
`knowledgeadmin` is not mentioned in any of the logs and `knowledgeportal` is present only in DFSL logs. Can it be that part of the logs is missing. I think it would be easier if you disable proxy debugging to remove clatter and start over. That should provide clean logs for all four services.

It is also possible that those two services were registered in one of the other proxy replicas but were

[2017-09-09 15:40] vfarcic commented on #308
Closing due to inactivity. Please reopen this issue if you like to continue exploring the options to run DFP on Windows.

[2017-09-09 15:40] #308 closed

[2017-09-12 06:52] vzhgit opened #326 "add to documentation more information how to use serviceDomain and serviceDomainAlgo parameters"
1. serviceDomain can be used with asterisk sign
2. serviceDomainAlgo add host to hdr_dom() and explain how it works.

[2017-09-14 10:47] #326 closed

[2017-09-14 10:59] #228 closed

[2017-09-14 10:59] #243 closed

[2017-09-14 13:51] rommik commented on #266
@vfarcic just a quick update, I see that in the latest version of DFP this issue is not present anymore.

[2017-09-14 17:35] vfarcic commented on #245
The issue is fixed and available in the release `17.09.14-15`.

Thanks @carlhals for the PR #328.

[2017-09-14 17:35] #245 closed

[2017-09-16 13:44] vfarcic commented on #317
@leostarcevic Are you still interested in making a PR for this? There's no rush... Just wanted to check whether you're still up for it or I should write the code.

[2017-09-16 13:51] vfarcic commented on #281
Closing the issue due to inactivity. Please reopen it if you'd like to continue working on it.

[2017-09-16 13:51] #281 closed

[2017-09-18 15:41] leostarcevic commented on #317
@vfarcic Sure, I'll hopefully have some time this week :)

[2017-09-19 18:10] ChaosMTA commented on #322
@vfarcic would this still be the case if the node that was restarted was the one running Swarm Listener?

[2017-09-19 18:21] vfarcic commented on #322
@ChaosMTA If the Swarm Listener (DFSL) fails Docker Swarm will reschedule it on a healthy manager node. When it starts (again), the first thing DFSL does is get all the info about the services from one of the managers and resends all the info to DFP. That way no data is lost and DFP is up-to-date even if for a short period DFSL was down (usually not longer than a second since it is very small to p

[2017-09-19 19:33] ChaosMTA commented on #322
Yep that answers my question! Thanks for the detailed information, appreciated @vfarcic

[2017-09-20 09:47] apixs commented on #325
I believe I have the same problem (please correct me if I'm wrong).  So, I have 3 docker swarms and this error (503) occurs in the morning after updating my services (rm existing service and create a new one). I noticed at that time, there is more then one haproxy process inside the docker-flow-proxy service. If I restart the docker-flow-proxy service, then the proxy works normally.

I created a s

[2017-09-20 10:06] vfarcic commented on #325
@apixs Can you please let me know the DFP version you're using? A PR from a week ago fixed the problem with zombie processes. If they're appearing with the latest version it would mean that the fix does not work as expected.

[2017-09-20 10:44] valeriomazzeo opened #329 "Configuration reload retry never happens"
It seems that docker flow proxy doesn't try to reload the configuration in an event of failure:

[code]

After this, every request returns 503 service unavailable.
No further logs are available in swarm listener.
Restarting the service, cause the configuration to reload and everything works again.

[2017-09-20 10:49] vfarcic commented on #329
Can you post the stack with those services?

[2017-09-20 10:54] valeriomazzeo commented on #329
I can't post the stack, but configuration is standard:
[code]

I think `parsing [/cfg/haproxy.cfg:94] : 'server myproject_myservice' : could not resolve address 'myproject_myservice'.` is because the service was still in the process of starting.

[2017-09-20 11:21] apixs commented on #325
This is what I found:

- HA-Proxy version 1.7.9 2017/08/18
- alpine-release 3.5.2

[2017-09-20 11:52] vfarcic commented on #325
@apixs The problem with zombie processes was fixed in the release `17.09.14-15` (the latest). Can you please update DFP version, try it out, and let me know whether the problem still persists?

[2017-09-20 12:21] apixs commented on #325
I'm sorry, but I can't find 17.09.14-15. I can only see 17.08.09-21.
Which version I will get with the 'vfarcic/docker-flow-proxy' image?

[2017-09-20 12:51] vfarcic commented on #329
I think that the problem is with the `addReqHeader` label. Can you remove it and let me know whether the problem still persists. If it doesn't, we can explore which part of the req. header is wrong.

[2017-09-20 12:54] vfarcic commented on #325
I did not write release notes when the PR was released. Normally, I do them only with the new features. I just created it to avoid the confusion (https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.09.14-15). The tag/release is available in Docker Hub from six days ago. Latest points to `17.09.14-15`.

[2017-09-20 13:15] valeriomazzeo commented on #329
`com.df.addReqHeader` works, in fact if I restart the proxy the configuration is loaded properly.

In which way can `com.df.addReqHeader` affect the retry mechanism?

[2017-09-20 13:18] vfarcic commented on #329
@valeriomazzeo I'm not yet sure. I did not yet have time to investigate it. I just did a very quick test with two stacks (one with and one without `addReqHeader`). The first one failed and the second worked. I'll go through it in more detail later.

[2017-09-20 13:35] valeriomazzeo commented on #329
When you say:

Do you mean that it failed to retry or that it failed to load?

[2017-09-20 13:37] vfarcic commented on #329
@valeriomazzeo Please ignore my comment about the `addReqHeader` label. I messed up the stack I used for testing. The label is OK.

I'm failing to reproduce the problem. I replaced myservice with `vfarcic/go-demo` and `mongo` and it worked. Then I removed Mongo knowing that `go-demo` will never start. DFP threw the same error as the one you reported but, after that, it continued retrying. The logs

[2017-09-20 14:05] apixs commented on #325
Thank you for your help!
I will try it and let you know.

[2017-09-20 14:54] valeriomazzeo commented on #329
It happens all the time to me when I update the stack.

I change the tags on my docker-compose file, then:

`docker deploy --with-registry-auth --compose-file docker-compose.yml mystack`

This results, most of the time in:
[code]

Even if only the myservice tag has been updated.

If I update the df-proxy image this way, meanwhile everything was perfectly running, the proxy always fail to reload th

[2017-09-20 18:09] vfarcic commented on #329
Seems that DFP is failing only when a service (e.g. `myservice`) and the proxy are updated at the same time. In that scenario, it retries for 10 seconds and gives up. If during that time the service is not available, it gives up. I think that no one detected it before because the proxy normally lives in a stack separate from other services and is never updated at the same time. When a service has

[2017-09-20 18:25] valeriomazzeo commented on #329
great, will give it a go soon

[2017-09-20 18:34] valeriomazzeo commented on #329
it works:

[code]

Although, the time could vary, what would you propose as more final solution?

[2017-09-20 20:09] apixs commented on #325
Now I'm using the latest version (```17.09.14-15```) and I'm still getting the same error.
When I update my service, a new haproxy process is created and not deleted.

Output:
[code]

[2017-09-20 20:32] vfarcic commented on #325
That's very strange... I just went to a DFP replica running inside my cluster and:

[code]

[output]
[code]

You can see that it restarted close to 140 times by now and there is only one process running.

The good news is that zombie processes are gone (those with `[haproxy]`). Now, in your case, we have multiple live processes. The problem is that I cannot reproduce it. Can you think of any infor

[2017-09-20 22:09] je-al opened #330 "Graceful shutdown"
Hi, since this project is nowadays focused on working in an docker swarm-mode environment (AFAICT), and since it's not currently possible (through services definitions, see https://github.com/moby/moby/issues/30321#issuecomment-274465240) to override the stop signal behavior, would you consider changing the default to allow HAProxy to shutdown gracefully, i.e.:
[code]
Are signals, currently, being

[2017-09-21 08:15] apixs commented on #325
I can tell you more about my setup. I noticed that haproxy processes are created only when I update my services.

This is how I update my services:

1.
[code]
2. updateDB and copy a new version of my app to <source_1>

3.
[code]

[code]

[code]

[code]

[code]

[2017-09-21 09:15] vfarcic commented on #330
I'm not sure how is that situation currently handled. Short while ago the main process was changed to `tini` (https://github.com/vfarcic/docker-flow-proxy/blob/master/Dockerfile#L43) as a way to avoid zombie processes. We'd need to check how it reacts to `SIGUSR1` (and others), whether it propagates it to HAProxy, and what should be changed (if anything). Wanna give me a hand and try it out yourse

[2017-09-22 15:27] vfarcic commented on #325
Unrelated to the issue at hand...

Why do you remove a service every time you want to upgrade? What do you mean by "updateDB and copy a new version of my app to <source_1>"? Is the source code of an application mounted to a service?

[2017-09-22 20:52] kungfu71186 opened #331 "Check config file before reload"
Came across an issue today where I had a valid but bad config. Basically there was a cert I was loading that was good, but it didnt have the key. This made the proxy take out all configurations and continually reload the config going back and forth between the dummy config and gathering information of the services.

There was no errors in the log that showed anything out of the ordinary either.

C

[2017-09-22 22:31] vfarcic commented on #331
Beta version of the fix is published as `vfarcic/docker-flow-proxy:issue-331`. It passed all the automated tests but I did not have time to test it manually as well. Can you please try it out yourself and let me know whether it works as expected?

[2017-09-22 22:50] kungfu71186 commented on #331
Sure. I'll let you know

[2017-09-22 23:04] kungfu71186 commented on #331
@vfarcic Nice! it seems to work just fine. I have a config that is running with valid certs. I went in configured the crt-list and add the "bad" cert. Tried to reload the proxy and it fails validation.

It outputs the current config if bad.

The only thing I don't see is the actual error from haproxy.

But im pretty happy with this. It won't break the proxy at least if there is a bad config.

[2017-09-22 23:14] vfarcic commented on #331
That's great to hear! Jenkins job is building a new release while I'm writing this...

I'm a bit confused with *The only thing I don't see is the actual error from haproxy*. When validation fails it should output *Config validation failed* followed by the error from haproxy and the config (https://github.com/vfarcic/docker-flow-proxy/blob/issue-331/proxy/ha_proxy.go#L509). It might be the case tha

[2017-09-23 00:21] kungfu71186 commented on #331
@vfarcic actually might need to open this back up. Seems to not work for another case I found.

It shows that it failed, but it reloads the config anyway after so many attempts and then crashes the proxy like before.

[2017-09-23 00:25] kungfu71186 opened #333 "setReqHeader parsing comma when it shouldn't"
Not sure if there is a way to escape a comma, but I'm attempting to do:

com.df.setReqHeader=ssl_client_cert -----BEGIN\ CERTIFICATE-----\ %[ssl_c_der,base64]\ -----END\ CERTIFICATE-----\  if { ssl_fc_has_crt }

It appears it tries to parse the comma and I get

http-request set-header ssl_client_cert -----BEGIN\ CERTIFICATE-----\ %!\(BADINDEX) -----END\ CERTIFICATE-----\  if { ssl_fc_has_crt }

#3

[2017-09-23 09:29] vfarcic commented on #331
Can you send me the steps I could use to reproduce it?

[2017-09-23 09:44] vfarcic commented on #321
Closing the issue since it became inactive. Feel free to reopen it if you'd like to continue the conversation.

[2017-09-23 09:44] #321 closed

[2017-09-23 09:45] vfarcic commented on #320
Any luck working on the docs @faisyl?

[2017-09-23 09:47] faisyl commented on #320
I'm working on it. I'm halfway there. Been busy. I should have it in a week
or two.

On Sep 23, 2017 15:15, "Viktor Farcic" <notifications@github.com> wrote:

[2017-09-23 09:54] vfarcic commented on #315
@wyxgit Did the link I sent help? Can I close this issue?

[2017-09-23 09:57] #322 closed

[2017-09-23 10:06] vfarcic commented on #329
I could not come up with a better solution but to change `RECONFIGURE_ATTEMPTS` to a bigger value (already implemented). It cannot be infinite since in some cases a service will never become available.

I'll close this issue. Feel free to reopen it if you come up with a suggestion how to improve this feature.

[2017-09-23 10:06] #329 closed

[2017-09-23 12:02] kungfu71186 commented on #331
@vfarcic yes, #333

`com.df.setReqHeader=ssl_client_cert -----BEGIN\ CERTIFICATE-----\ %[ssl_c_der,base64]\ -----END\ CERTIFICATE-----\ if { ssl_fc_has_crt }`

[2017-09-23 12:06] valeriomazzeo commented on #329
couldn't the configuration fail to load only for the service that is unavailable?

[2017-09-24 20:06] kungfu71186 commented on #333
@vfarcic This may want to be re-evaluated afterwards since HAproxy allows commas in a lot of fields. Maybe pick a different delimiter instead.

For now, using the csv parser might work ok. Using quotes around the line with a comma will exclude it from being split up.

[code]

[code]

[2017-09-25 11:41] vfarcic opened #336 "HEALTHCHECK"
**Description**

Create a HEALTHCHECK that will verify that both `docker-flow-proxy` and `haproxy` are up and running.

**Steps to reproduce the issue:**
1. Stop the haproxy process

**Describe the results you received:**

Containers are still running

**Describe the results you expected:**

Containers should be rescheduled.

**Additional information you deem important (e.g. issue happens only occ

[2017-09-25 17:20] #333 closed

[2017-09-25 17:35] vfarcic commented on #333
Available in the release [17.09.25-31](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.09.25-31).

Can you please try it out and let me know if you have a suggestion for a better implementation or if you experience a problem.

[2017-09-25 17:36] vfarcic commented on #331
Closed through #333. Please reopen this issue if you have a better proposal or if it does not work as expected.

[2017-09-25 17:39] vfarcic commented on #329
If reconfiguration with a new or updated service fails, DFP will remove that service from the config. The process repeats in a loop until timeout just in case the service is not yet available. Please let me know if you're experiencing a different behavior or if you have a better suggestion how to handle that scenario.

[2017-09-25 18:59] kungfu71186 commented on #331
@vfarcic my concern is that if you mis-configure one service, it brings down all the services because it tries to load a bad config. I'm proposing that after the reconfiguration attempts, it just falls back to the config its currently at and not load the new version. If there is a change in the services, DFL will pick up those changes, DFP will then try to reload the configurations again like norm

[2017-09-25 19:03] vfarcic commented on #331
@kungfu71186 Right now, each time it ads a service, it reloads the config and, if that fails, removes the service (falls back to the previous config). The problem is that I missed your comment  about loading bad config after all failed attempts. I'll look into it tonight or tomorrow.

[2017-09-25 19:10] vfarcic commented on #331
I think I found the problem. Services are removed on failed haproxy reload when a request to reconfigure is coming from DFSL directly. However, the same logic is not implemented when DFP starts (e.g. a new replica) and asks for the info from DFSL during initialization. Can that be the use case you experienced?

[2017-09-25 19:19] kungfu71186 commented on #331
I don't think so, right now I'm only testing with 1 replica. I'll do some more testing though and let you know. Basically I have 1 DFL, 1 DFP, say service1, service 2.

1.  Load service 1 (assume good config)
2.  Load service 2 (assume good config)
3. Add new config to service 2 (bad config)
4. HAProxy detects change and test the config. HAproxy says its bad (does this 20 times)
5. HAProxy appears

[2017-09-25 19:25] vfarcic commented on #331
Great! I'll wait for your findings and, if you can provide a simple scenario that replicates it, create a functional test that fails and implement the change.

[2017-09-25 19:38] kungfu71186 commented on #331
Sure, let me see if i can replicate with go-demo

[2017-09-25 19:55] kungfu71186 commented on #331
Ok, yeah, I just tried. Maybe I was mistaken. I could have sworn it loaded after it tried to load the config x amount of attempts. But yes, it looks like it just removes the service in question instead. This should be sufficient enough. Go ahead and close, if I see the issue appear, i'll reopen with exact steps.

Thanks again!

[2017-09-25 20:01] vfarcic commented on #331
@kungfu71186 The feature that removes a service is reload fails is relatively new. You might have tried with one of the releases before the feature was added. In any case, I'm glad it works.

Closing the issue...

[2017-09-25 20:01] #331 closed

[2017-09-26 01:52] sean9999 commented on #329
do we pass `RECONFIGURE_ATTEMPTS` to proxy or swarm-listener?

[2017-09-26 12:36] kungfu71186 commented on #333
@vfarcic looks good. Used a separator of "|" and was able to use a comma in the header. Thanks!

[2017-09-27 08:32] apixs commented on #325
I gave more details about my setup because you said that you can't reproduce the issue. So, I thought maybe this issue is somehow related with my setup.

[code]
To set a new env parameters and sometimes a new docker image (during start/create). Also, to get rid off the app cache. I know that I can set an new env parameters and to clear the app cache with out 'rm', but to do that, I have to do more

[2017-09-27 11:12] vfarcic commented on #325
I suggest you define Docker Compose files and deploy your services with `docker stack deploy`. It will update what needs to be updated and leave intact what doesn't. You'd leverage rolling updates and (potentially) have zero-downtime deployments. Doing `docker service rm` is an inti-pattern and I strongly suggest avoiding it, especially since you're not trying to do anything that requires such act

[2017-09-28 18:00] je-al commented on #330
Hi, from what I can see issuing `SIGUSR1` does nothing.

[2017-09-29 07:59] apixs commented on #325
Thank you for your suggestions and clarifications. I have to change my update procedure.

[2017-09-29 12:24] aleskinen opened #338 "Trying to put registry inside swarm behind flow-proxy"
My docker-compose.yml is this:
version: '3.1'
services:
  registry:
    image: registry:2.6
    environment:
      REGISTRY_HTTP_ADDR: "registry.tek.fi:443"
   secrets:
      - cert-star_tek_fi.pem
    volumes:
      - registry:/var/lib/registry
    deploy:
      replicas: 1
      labels:
        - com.df.notify=true
        - com.df.distribute=true
        - com.df.serviceDomain=registry.tek.fi

[2017-09-29 18:06] patrickleet commented on #338
Hey, I don't have a cert on my registry, but viktor had an example of terminating ssl at the proxy, so if that works for your need you can accomplish like this:

[code]

[2017-09-29 18:11] patrickleet opened #339 "Upload limit with registry behind DFP"
I'm running a private docker registry behind DFP. It mostly works just fine, however, I'm having an issue with one repository which has some Machine Learning models and data that is quite large.

When attempting to push to the registry, I'm getting the error: `413: Request Entity Too Large`

I can find examples of how to do so with a bunch of other proxies, but no luck so far tracking down how to

[2017-09-29 18:11] siedentm opened #340 "Feature request: domain redirection"
It would be awesome to get domain redirection specified in labels.

an suggestion for this would be:
[code]

That eliminates the need of defining it with the template and haproxy does support domain redirection and redirections from [nothing]domain.com to www.domain.com should be occuring rather often.

[2017-09-30 12:43] vfarcic commented on #325
I'll close this issue since you changed the way you're updating your services. Feel free to reopen if you experience the same problem with the new processes.

[2017-09-30 12:43] #325 closed

[2017-09-30 20:19] #340 closed

[2017-09-30 20:32] vfarcic commented on #340
A new parameter `redirectFromDomain` was added. The new feature is available from the [release 17.09.30-32](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.09.30-32). Please try it out and let me know if it works as expected.

[2017-09-30 21:35] vfarcic commented on #339
@patrickleet Can you post your stack and a sufficiently big image that would help me reproduce the problem?

[2017-09-30 21:41] vfarcic commented on #339
I just went through all the images I have and the biggest is around 200MB. I guess I'd need something much bigger. Do you know any public "monster" image or can you push a "fake" big image to Docker Hub?

[2017-10-01 12:39] siedentm commented on #340
i'll try it this evening (~4-5 hours).

[2017-10-01 13:44] #317 closed

[2017-10-02 16:02] patrickleet commented on #339
@vfarcic I can give you access to the repository in question - it's not public but I'll give you read access so you can clone and try building?

[2017-10-02 16:06] patrickleet commented on #339
https://github.com/Brewgorithm/embedding-projector-standalone

it's a fork of a tensorflow project just with model data from our own data.

Maybe the issue is from one of the individual layers? the biggest data file in the repo is about 90MB

here is the last attempt to run:
https://ci.suggestbeer.com/blue/organizations/jenkins/brewgorithm%2Fembedding-projector-standalone/detail/master/8/pipeline/

[2017-10-02 16:21] siedentm commented on #340
@vfarcic i tested it yesterday and it went into deployment today. works flawlessly

[2017-10-04 16:55] hopkins-tk opened #342 "com.df.httpsPort label does not work"
**Description**
When **com.df.httpsPort** is set, proxy stops forwarding traffic to the underlying Docker service on both **com.df.httpsPort** (for HTTPS traffic incoming to the proxy) and **com.df.port** (for HTTP traffic incoming to the proxy).

I suspect it is due to the ACL rule that is being generated when **com.df.httpsPort** is set:
[code]

I think it should rather be:
[code]

At least when

[2017-10-04 17:56] hopkins-tk commented on #342
I have noticed, that exact opposite change has been made last year: https://github.com/vfarcic/docker-flow-proxy/commit/750b7f826b9fb37e7eacd99d5387c96bbefcfedf

However according to HAProxy configuration it seems to me that **dst_port** is the right one to be used:
- https://cbonte.github.io/haproxy-dconv/1.7/configuration.html#7.3.3-src_port
- https://cbonte.github.io/haproxy-dconv/1.7/configura

[2017-10-05 04:16] jotunskij opened #344 "Deploying a stack with a service having replicas: 0 makes dfp fail over and over"
**Description**

Deploying a service with 0 replicas when running in swarm mode causes haproxy to fail and DFP to continously restart.

**Steps to reproduce the issue:**
1. Create a local docker swarm
2. Run the docker stack version of dfp provided on the homepage
3. Deploy the following stack:
[code]

**Describe the results you received:**
DFP will continously fail while retrying load of configur

[2017-10-05 15:04] LorenzoLuconi opened #345 "You cannot create service named "proxy""
In my docker swarm instance I have a service configured like this:

[code]

This is not, obviously, a DFP instance, but after I started my service, my DFP begins to call this service for distribution. After a lot of test, I realize that my service is called by DFP because his name is "proxy". I deployed it as service inside a stack so the service name is something like "app_proxy", but DFP discove

[2017-10-05 17:33] vfarcic commented on #344
I just checked the logic behind Swarm Listener. If a new service is created with 0 replicas, it will not notify the proxy about it. If it gets updated to 0 replicas, it will send a remove request to the proxy. Can you please update to `vfarcic/docker-flow-swarm-listener:17.10.05-14` and let me know whether that fixed your problem. Please reopen this issue if it's still there.

[2017-10-05 18:50] #342 closed

[2017-10-05 19:50] vfarcic commented on #345
You should modify *Docker Flow Swarm Listener (DFSL)* and *Docker Flow Proxy (DFP)* service definition.

## DFSL

Change `DF_NOTIFY_CREATE_SERVICE_URL` and `DF_NOTIFY_REMOVE_SERVICE_URL` env. vars. Even though DFSL is often used together with DFP, it is designed to work as a notifier for any service. Those two env. vars. provide addresses DFSL uses to send requests. If, for example, DFP service is

[2017-10-06 03:53] jotunskij commented on #344
Impressively fast feedback and work! Great job. I'll try it out and see if it fixes our issues.

[2017-10-06 09:59] LorenzoLuconi commented on #345
Thank you for your reply. Sorry but I'm not sure you answered to my question, maybe I'm not being clear (my english is not good enough). I try to explain again what I found.

This is my configuration for docker flow proxy stack:

[code]

I deployed this stack with the name "flow" so I have flow_proxy e flow_swarm-listener and all services work as expected.

I have many other services/stacks and on

[2017-10-06 15:25] vfarcic commented on #345
Your current DFSL service definition is:

[code]

Through `DF_NOTIFY_*` env. vars. you're telling DFSL to send notifications to DFP running on service name `proxy`. Docker Swarm allows you to use both short (`proxy`) and long (`flow_proxy`) service names. Since you have two services named `proxy` (in different stacks), requests are going to both. If you change env. vars. to:

[code]

... you'd ide

[2017-10-07 11:00] vfarcic commented on #287
Closing the issue since @carl-utter answered/solved the problem and no one reported an issue after his comments. Feel free to reopen if the issue still persists.

[2017-10-07 11:00] #287 closed

[2017-10-07 12:56] vfarcic commented on #315
Closing due to inactivity... Feel free to reopen this issue if you're still facing the same problem or would like to continue the discussion.

[2017-10-07 12:56] #315 closed

[2017-10-07 13:43] vfarcic commented on #330
DFP (that sits on top of HAProxy) could accept SIGUSR1, pass it to HAProxy, and shut itself down once HAProxy is finished. Wanna try it yourself with a PR?

[2017-10-07 16:23] vfarcic commented on #330
I think that something like https://gobyexample.com/signals should do. The subroutine should be something like:

[code]

1) For this one, it should be enough to find haproxy process and send it a signal
2) For this one it should be enough to disable `/ping` endpoint. That would cause HEALTHCHECK to fail and Swarm would stop sending requests to DFP.

From there on the container can be stopped.

[2017-10-10 12:35] srigi commented on #151
Hi @vfarcic

I still have problem that root `/` path is not at the end of `haproxy.cfg`. I was able to distil minimal example:

**docker-compose.yml**
[code]

Resulting in **haproxy.cfg**

[code]

Rearranging services in **docker-compose.yml** doesn't affect result. **But if I rename** service `aaa` to `caa` (to be alphabetically after `bbb`), the `/api` route gets above of `/` in **haproxy.cfg**.

[2017-10-10 18:20] demaniak opened #346 "outboundHostname does not seem to have any effect"
**outboundHostname does not seem to have an effect**

Essentially, I am trying to configure DFP to redirect to an absolute URL for a specific `servicePath`.

For example, `http://a-domain.com/a` routes to the backend as per normal, but `http://a-domain.com/b` results in a redirect to (for example) `https://www.google.com`

As an added complication, the `serviceDomain` value in question is set to t

[2017-10-10 22:21] vfarcic commented on #346
The problem with the stack you're using is that DFP, at the moment, does not support indexing of `outboundHostname`.

Instead using:
[code]

It should be:

[code]

The initial idea is that all requests for a service would go to the same service. Judging from your scenario, you have a service but only part of requests should go to it and others should be forwarded somewhere else (whatever `outbound

[2017-10-11 06:30] demaniak commented on #346
Ahh ok, that would explain it.

Yes, we are rewriting an existing system (actually 99% done, we approaching go-live), and certain aspects have been deemed out-of-scope for us.

But since the existing system...well... exists...we can't just 404 on those requests, we need to redirect them to a 3rd party that is now supplying those items.

[2017-10-11 21:17] siedentm commented on #338
something i learned today: don't mix in http related labels when using tcp mode.
That includes: serviceDomain, httpsOnly and servicePath for your example. TCP Mode exposes ports on the host directly as TCP doesn't have headers - so routing won't be possible. as a workaround you could try SNI instead.

[2017-10-12 11:48] #346 closed

[2017-10-12 12:16] vfarcic commented on #346
Indexing `outboundHostname` is available starting from the [release 17.10.12-41](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.10.12-41).

Please try it out and let me know if it works as you expected.

[2017-10-12 12:37] demaniak commented on #346
@vfarcic thanks a million - I will do so as soon as possible, and report back :)

[2017-10-12 14:05] #151 closed

[2017-10-12 14:17] vfarcic commented on #151
@srigi DFP excluded entries with `serviceDomain` from the calculation whether it has `/` as path and should be moved to the bottom. This is now corrected.

Can you please try it again with `vfarcic/docker-flow-proxy:17.10.12-42`?

[2017-10-13 07:40] jotunskij commented on #344
Unfortunately, we're still having issues with this I believe. It's hard for us to get proper information on exactly what is happening, but these are some logs from the listener and proxy when they we're failing:

[code]
This just kept repeating at high speed.

All the while the listener was retrying distribution requests until it failed with an I/O error

[code]
Both of the services listed as WARN

[2017-10-13 08:37] jotunskij commented on #344
We're using `docker stack deploy` to deploy our applications in the swarm, if that helps.

[2017-10-13 09:43] vfarcic commented on #344
I could not reproduce it myself. Can it be the case that you're switching from >0 to 0 replicas very quickly? DFP might get confused thinking that it should configure the service while, in the meantime, it went down to zero replicas. If that's the case, try to put a delay between scaling up/down just to confirm that the problem is in speed. If it is, I'll try to figure out how to solve it.

I wrot

[2017-10-13 09:51] andrh opened #347 "Environment variable for global httpsOnly"
It would be nice to have an environment variable to configure httpsOnly for all services behind the proxy.

[2017-10-13 09:52] vfarcic commented on #344
There's one thing I just noticed. There should be a delay between each retry. By going through your logs I noticed that there is no delay so I fixed it. Can you try again with `vfarcic/docker-flow-proxy:17.10.13-44`? It is building while I write this. It should be available in a few minutes. If it still doesn't work, let's go back to the previous comment and try to make a reproducible scenario wit

[2017-10-13 11:41] jotunskij commented on #344
Thanks! I've upgraded our swarm with the new version. I'll let you know if the problem reappears.

[2017-10-13 12:03] srigi commented on #151
@vfarcic It works like a charm. Thank you for the fix 🍺

[2017-10-13 13:29] LorenzoLuconi commented on #345
In *server/util.go* (https://github.com/vfarcic/docker-flow-proxy/blob/master/server/util.go) you find out other instances of the DFP service using name lookup:

[code]
In docker swarm stack configuration (http://proxy.dockerflow.com/swarm-mode-stack/) you define two services: "proxy" and "swarm-listener" both connected to the same overlay network called "proxy". The service name of DFP  is "proxy

[2017-10-13 23:00] vfarcic commented on #318
@leostarcevic Do you need help with the PR?

[2017-10-13 23:01] vfarcic commented on #320
I think that http://proxy.dockerflow.com/sni-routing/ closes this issue. Big thanks to @faisyl for writing such a great tutorial.

[2017-10-13 23:01] #320 closed

[2017-10-14 18:42] #347 closed

[2017-10-14 18:56] vfarcic commented on #347
It's available starting from the [release 17.10.14-45](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.10.14-45). Please try it out and let me know if it works as you excepted.

[2017-10-16 08:19] leostarcevic commented on #318
@vfarcic I forgot about this feature request, I'll try to look into it this week!

[2017-10-16 19:53] vfarcic commented on #345
You're right. It would be better to name the DFP service with a less common name. I'll change the stacks and the tutorials as soon as I come back from DockerCon.

[2017-10-18 09:04] remy-tiitre opened #348 "Feature Request > IP restriction"
I don't think there is an option to close down one service to a certain ip range. Sure I can do it with custom templates and as global rules they are fine. Doing it service by service is cumbersome.. At least I didn't notice any acl network_allowed or white_list options. Someone might correct me if I'm wrong.

[2017-10-18 11:12] vfarcic commented on #348
That would be difficult to accomplish with Overlay network. When a request enters a cluster, it is forwarded (through Overlay) to a service (in this case DFP). The moment it gets to Overlay it loses IP of the request that initiated it. There are a couple of issues open in Docker but, as far as I know, there is no solution yet.

[2017-10-18 16:44] leostarcevic commented on #348
There is a workaround to this issue posted in:
https://github.com/moby/moby/issues/25526

It won't use overlay networking though, the ports will be opened on the host itself.

[code]

[2017-10-18 18:44] vfarcic commented on #348
I don't think that's an acceptable workaround. It skip ingress network. That would mean that requests can enter only through nodes hosting the proxy. If that's OK, publishing it on host should work but, in that case, you'd need to constraint the proxy to run only on specific hosts. That would create problems with fault tollerance and quite a few other things.

[2017-10-18 23:22] patrickleet commented on #339
I still can't find documentation on this.

Machine Learning projects + HA Proxy + Docker Registry = :(

I've posted to stack overflow so hopefully someone can help with that.
https://stackoverflow.com/questions/46820640/increase-the-upload-limit-of-haproxy

[2017-10-19 09:01] vfarcic commented on #339
Sorry @patrickleet. I've been too busy (and still am) with DockerCon. I hope someone will have an answer on StackOverflow. Please let me know if the solution in HAProxy will require a change in DFP.

[2017-10-19 16:42] patrickleet commented on #339
https://discourse.haproxy.org/t/how-can-you-configure-the-nginx-client-max-body-size-equivalent-in-haproxy/1690

[2017-10-19 16:42] patrickleet commented on #339
does docker registry use nginx? I see this error a lot in relation to nginx, but apparently HAProxy does not limit the upload size.

[2017-10-20 00:23] vfarcic commented on #339
I don't think registry uses nginx. Can you try to push an image without the proxy? Depending on the result, we'll know whether it's the problem with registry or DFP.

[2017-10-20 15:02] velislav opened #349 "ip:port/service/url to service:port/url"
Is there a way to use the following setup:
swarm_host_ip:port/service1/URI --> service1:port/URI

In my current setup I have:
`version: "3.3"

services:

  proxy:
    image: vfarcic/docker-flow-proxy
    ports:
      - 80:80
    networks:
      - proxy
    environment:
      - LISTENER_ADDRESS=swarm-listener
      - MODE=swarm
    deploy:
      replicas: 2

  swarm-listener:
    image: vfarcic/doc

[2017-10-20 15:15] vfarcic commented on #349
You can add `com.df.reqPathSearch=/service1` label. The proxy will replace matching parts of requests paths with the value of `com.df.reqPathReplace` or with an empty string if it's not present. Please try it out and let me know if it works as expected.

One thing you should be aware of is that, in case it is a front-end client, paths must be relative.

[2017-10-22 08:57] #338 closed

[2017-10-23 08:14] velislav commented on #349
Thanks, com.df.reqPathSearch=/service1 label solved the problem.

[2017-10-23 08:14] #349 closed

[2017-10-23 09:23] aleskinen opened #350 "Lets Encrypt support"
Is it possible to have Lets enrypt support added?

[2017-10-23 09:29] hamburml commented on #350
Hello aleskinen,

you can use Docker Flow: Lets Encrypt which is a companion-service to DFP.
https://github.com/hamburml/docker-flow-letsencrypt/

Cheers
Michael

[2017-10-23 10:27] vfarcic commented on #350
@aleskinen Please let me know if you have any other question or we can close this issue.

[2017-10-23 10:29] #350 closed

[2017-10-24 15:22] patrickleet commented on #339
I have pushed the same image to a registry without the proxy

[2017-10-24 15:23] patrickleet commented on #339
here is a possible clue

someone commented on the stack overflow question suggesting adding `tune.maxrewrite 16384` and `tune.bufsize 32768` to the config

[2017-10-25 13:56] andrh opened #351 "Feature request: Redirect to https for X-Forwarded-Proto not set or not https"
Use case:

When running D4AWS you can use Certificate Manager to create a certificate and have D4AWS set up listeners for the protocol HTTPS that terminates SSL in ELB. There is however no way to set up an HTTP listener in the ELB, only TCP, thus for incoming requests X-Forwarded-Proto is not set. Redirecting http traffic to https can't be done since communication between ELB and proxy is always h

[2017-10-26 07:57] carl-utter commented on #351
@andrh - we have our cluster's df-proxy configured to cover http-to-https scenarios (which is what it sounds like you are asking for?) using the following service labels in the docker-flow-proxy.yml file:

[code]

**Referenced Here:** [https://proxy.dockerflow.com/usage/#http-mode-query-parameters](url)

_**NOTE:** We also add the "com.df.httpsOnly=true" service label to any service(s) within the

[2017-10-27 01:29] patrickleet commented on #339
so... figured this out finally.. It was cloudflare..

[2017-10-27 01:29] #339 closed

[2017-10-27 10:18] andrh commented on #351
This does not exactly solve my problem. It's a bit of a corner case. All requests to the DFP are sent either as `tcp` if it hits port 80 on the ELB or `http` if it hits port 443 since they are behind the ELB. `redirextWhenHttpProto`redirects when `X-Forwarded-Proto`is set to `http`, but this is never set by the ELB since the traffic between ELB and DFP is `tcp`. `HttpsOnly`creates a redirect loop

[2017-10-27 14:53] aleskinen opened #352 "Multiple certificates with docker-flow-proxy"
I have *.company.com ssl certificate, which I can use to serve all xxx.company.com sites. But I also have some sites which do not go under this.
in one certificate from digicert
ex1.company.com service1
ex2.company.com service2

Then I have another certificate from Comodo
example.com service3

Can I accomplish this with docker secrets? When I use servicedomain, I get error from second certificate

[2017-10-27 15:45] vfarcic commented on #352
Can you post your commands and stacks? That would help me replicate the problem.

Also, it would be useful to get configs from one of the proxy replicas. Can you please enter into a node whether one of the proxy replicas is running, find its ID, and execute...

[code]

[2017-10-27 16:15] ruudboon opened #353 "[NFR] Strict Transport Security (HSTS)"
Thnx, for this project! Really helpful.
Would it be possible to support Strict Transport Security (HSTS) when using ssl?
And maybe SSL Stapling to reduce the ssl overhead?

[2017-10-27 16:24] aleskinen commented on #352
Since the proxy stops working when I'll try to install second certificate I do not have now installed. My proxy stack docker-compose.yml is basically just original what you have done.
version: "3.1"
services:
  proxy:
    image: vfarcic/docker-flow-proxy
    ports:
      - 80:80
      - 443:443
    networks:
      - proxy
    environment:
      - LISTENER_ADDRESS=swarm-listener
      - MODE=swarm

[2017-10-29 10:25] vfarcic commented on #351
The problem is that tcp requests do not have headers. There's not much any proxy can do without headers to help it distinguish them. Can you change ELB to forward 80 as http? Like that we'd have something to work on? The only alternative that comes to my mind would be to accept two http (without `s`) ports on DFP. If a request comes to port 1, redirect. If it comes to port 2, accept. That way DFP

[2017-10-29 13:02] vfarcic commented on #352
Can you try the same setup with only the second certificate? Something like:

[code]

If that fails, the problem might be in a certificate itself. If it doesn't, it means that DFP has a problem with two certs and is a bug I should fix.

[2017-10-29 13:12] vfarcic commented on #353
You can use `setReqHeader` parameter to add the header you need (more info is in http://proxy.dockerflow.com/usage/#general-query-parameters).  It would be something like:

[code]

Can you please try it out and let me know if it worked? If it didn't, please enter a node where one of the proxy containers/replicas is running, get the container ID, execute `docker container exec -it [PROXY_CONTAINER_

[2017-10-30 09:17] ruudboon commented on #353
Looks like the header is not coming trough.

[code]

Tried to add it to my nginx conf also but looks like it's getting removed by the proxy.

[2017-10-30 10:08] andrh commented on #351
I can't make ELB forward to 80 as http since it is configured through labels in docker and there is no option for this in D4AWS. However, it can be configured to forward 443 as https, and in this case the ELB slaps on `X-Forwarded-Proto: https` which can be used by the proxy to discern between the two.

[2017-10-30 10:41] vfarcic commented on #353
The header is defined in the `staging_nginx-be80_0` backend. Do you mean that your nginx is not receiving it?

[2017-10-30 14:52] ruudboon commented on #353
I don't see the headers in the reply of the proxy when accessing it from the browser.
I tried to add the headers to nginx also but they were also stripped from the reply.

[2017-10-30 15:22] ruudboon commented on #353
@vfarcic Sure! Take your time.

[2017-10-30 20:55] ruudboon opened #354 "[NFR] Support IPv6"
Would it be possible to have the proxy listen to incoming request over IPv6 and forward it to the services?
The connection to the service could still be IPv4 if you ask me.

[2017-10-30 21:11] ruudboon opened #355 "[NFR] Http/2 support"
Not sure if HAProxy is already supporting it. But when it comes in could you support Http/2?

[2017-10-30 21:24] ruudboon opened #356 "[NFR] Support ocsp stapling"
OCSP stapling provides the client with the certificate status immediately and specifically, reducing the latency for the page load by avoiding a separate request to an OCSP service hosted by the issuing CA.

HAProxy isn't retrieving the client certificate automatically like nginx is doing but there are some projects that could help with that.

https://github.com/pierky/haproxy-ocsp-stapling-update

[2017-10-30 21:44] ruudboon opened #357 "[NFR] tcp-smart-connect"
setting the option tcp-smart-connect directly send the data (ie: the proxy protocol header and request data) in the first packet. This ensures that the http backend has the request available immediately and saves it from having to poll for the data.
Could we add this option?
[code]

[2017-10-30 21:55] ruudboon opened #358 "[NFR] tune.ssl.cachesize"
For SSL performance it would be nice to support global SSL session cache.
Could we enable the option
[code]

[2017-10-30 23:08] foleymic opened #359 "Exposing port other than 80."
**Description:**
I’m trying to run Docker Flow Proxy and expose some port other than 80, but not having any luck.  I’ve created a simple test compose file below:

**Steps to reproduce**
On a swarm cluster, deploy the following stack:
[code]

Add a host or DNS entry to point somedomain.com to your swarm.

Everything seems to start up fine, but I cannot access the service on port 90 (e.g. http://som

[2017-11-01 11:23] vfarcic commented on #353
I made a few of tests and did not experience a problem. Headers were propagated to destination services.

If you're expecting to see that header in the reply (not in request forwarded to the service), you should try with:

[code]

The change is in `Res` (short for response) instead `Req` (short for response).

[2017-11-01 12:43] ruudboon commented on #353
Ah, that was it. I was looking for setResHeader.
Working perfect now, A+ Score on SSL Labs now :D

[2017-11-01 12:43] #353 closed

[2017-11-01 14:43] aleskinen commented on #352
In local environment I have original docker-flow-proxy running. I did:
Artos-MacBook-Pro:tukoke ale$ docker secret create cert-tukoke.fi.pem tukoke.fi.pem
9wxhnko2137wnn9tfdhmukar3
Artos-MacBook-Pro:tukoke ale$ docker service update --secret-add cert-tukoke.fi.pem proxy_proxy
proxy_proxy

Service docker compose is:
version: '3.3'

services:
  web:
    image: richarvey/nginx-php-fpm
    networks:

[2017-11-01 15:22] vfarcic commented on #358
One option that comes out of the box is to use env. var. `EXTRA_GLOBAL` (more info in http://proxy.dockerflow.com/config/#environment-variables). It can be used to add any global setting (like `tune.ssl.cachesize`). Can you try it out?

Assuming that `EXTRA_GLOBAL` works, I'm wondering whether it would be a good idea to add this option (`cachesize`) as a separate parameter. On one hand, it is prob

[2017-11-01 15:37] vfarcic commented on #359
Reproduced it... I'll fix it later today.

[2017-11-01 18:09] vfarcic commented on #359
There was an error in documentation. You'll need to add:

[code]

... environment variable to the proxy.

That assumes that you will have services that should be accessible on the port `80`. If not, the change is even simpler. You can change:

[code]

to

[code]

If your services have unique identifiers (e.g. `serviceDomain` and/or `servicePath`), with the `BIND_PORTS` env. var. there's no need to

[2017-11-01 19:00] vfarcic commented on #352
Are those certificates for different domains? If they are, the proxy should be able to distinguish them without any additional setting. From the output I can see that the first certificate (the one that works) is tied to the `www.tukoke.fi` domain. It'll work only for `www` (not without). Can you send the info about the second cert? Did you check whether the second works when the first one is remo

[2017-11-01 19:42] foleymic commented on #359
@vfarcic thanks for looking into this - Unfortunately, I'm still having no luck.  The haproxy.cfg looks correct, but I'm still getting 503 response.  I also turned on debug mode and see that it's not finding a service for the request
[code]

[2017-11-01 19:46] vfarcic commented on #359
Can you post your updated stack YML file?

[2017-11-01 19:52] foleymic commented on #359
I updated the yml in the description above.   Note that I've also tried changing the port mapping to 5601:80 and removing the DEFAULT_PORTS and BIND_PORTS but results are the same.  Here is the  frontend and backend sections of the generated haproxy.cfg:

[code]

[2017-11-01 19:58] vfarcic commented on #359
Sorry... I didn't explain myself well. Can you send me the YML files with the definition of your services (proxy, listener, ...)? I'd like to replicate the same as what you have so that I can see where is the error.

[2017-11-01 20:09] foleymic commented on #359
[test.yml.zip](https://github.com/vfarcic/docker-flow-proxy/files/1435535/test.yml.zip)
I put the contents of the yml in the description above, but here is the actual file I'm using.

[2017-11-01 20:24] vfarcic commented on #359
I just rerun the same stack and, once all the services were running, executed `curl -i -H "Host: somedomain.com" "http://localhost:5601"`. The output is:

[code]

The config from my instance of the proxy is exactly the same as in your case so the problem is not that, in my case, DFP did something different.

Is it possible that something is blocking the port `5601`?

[2017-11-01 20:28] foleymic commented on #359
Hum, it's not something blocking the port - if I remove the proxy and add the port mapping to the Kibana service, it works.  But given that it works for you, it must be something with my environment.  I'll try on another VM when I get home in about an hour.  Thanks again for looking at it.

[2017-11-01 20:30] vfarcic commented on #359
Maybe we can have a screen-sharing session and go through it together? How about tomorrow around this same time? Would that suit you?

[2017-11-02 05:29] aleskinen commented on #352
Both certs work If they are only ones. Other domain is TEK.fi<http://TEK.fi>, other tukoke.fi<http://tukoke.fi>. And it offered TEK.fi<http://TEK.fi> certificate for tukoke.fi<http://tukoke.fi>, when I had only that.

Arto.Leskinen@tek.fi<mailto:Arto.Leskinen@tek.fi>

On 1 Nov 2017, at 21.00, Viktor Farcic <notifications@github.com<mailto:notifications@github.com>> wrote:

Are those certificates f

[2017-11-02 06:05] aleskinen commented on #352
Can the problem be because one cert is wild char *.tek.fi<http://tek.fi>?

Arto.Leskinen@tek.fi<mailto:Arto.Leskinen@tek.fi>

On 1 Nov 2017, at 21.00, Viktor Farcic <notifications@github.com<mailto:notifications@github.com>> wrote:

Are those certificates for different domains? If they are, the proxy should be able to distinguish them without any additional setting. From the output I can see that

[2017-11-02 08:28] ruudboon commented on #358
Yeah this working. Thnx
If there comes more requests for this we could add it as a default param, I think for now this is fine.

[2017-11-02 08:28] #358 closed

[2017-11-02 12:43] aleskinen commented on #352
Artos-MacBook-Pro:npf ale$ ./swarm_sh proxy_proxy 1
Executing in moby proxy_proxy.1.lrvtw2igwhs065geozy8vf97d
/ # cat /cfg/haproxy.cfg
global
    pidfile /var/run/haproxy.pid
    tune.ssl.default-dh-param 2048

    # disable sslv3, prefer modern ciphers
    ssl-default-bind-options no-sslv3
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+A

[2017-11-02 13:02] foleymic commented on #359
@vfarcic - I think I found the problem.  It does work with curl command where you specify the Host value (I don't know why it wasn't working for me yesterday, but it does work now).  It fails when you try with the browser because the Host includes the port (see below).  If I manually change the haproxy acl to include the port `acl domain_test hdr(host) -i somedomain.com:5601` it works from the bro

[2017-11-02 13:15] foleymic commented on #359
Now that I've looked at the code, I can see that a PR isn't needed.  You already externalized the ACL rule via as **SERVICE_DOMAIN_ALGO**.  Thanks!.  Just adding `SERVICE_DOMAIN_ALGO=hdr_beg(host)` works.  Let me know if you think it makes sense to change the default to hdr_beg, or maybe just call it out in the documentation if using a published ports other than 80 or 443.

[2017-11-02 13:21] vfarcic commented on #359
I think that the right approach would be to use `hdr_beg` if `serviceDomainAlgo` is NOT specified and `srcPort` is set to value other than `80` or `443`. What do you think? Would you like to make a PR?

[2017-11-02 13:30] vfarcic commented on #352
Can you combine those two PEM files into one and use only one secret?

The PEM would would something like:

[code]

If that works we'll know that there's a problem with multiple certs (and I'll fix it). If it doesn't, we'll know that the problem is in your certs.

[2017-11-02 13:31] foleymic commented on #359
I agree on the first part, using hdr_beg if serviceDomainAlgo not specified, but not sure on the second.  Because I'm using serviceDomain, I'm not specifying srcPort at all.  If I did use srcPort, would that be the published port?  For example, if my compose file had:
[code]
Would I set srcPort to 5601 or 90?  Either way, I'll be glad to submit a PR later today.

[2017-11-02 13:38] vfarcic commented on #359
You're right. Let's go with `hdr_beg(host)` as default value instead of `hdr(host)`. I think that it would be enough to change `SERVICE_DOMAIN_ALGO` in Dockerfile. It's a very simple change but it would require a bit of testing to make sure that nothing is broken. I'll wait for a PR unless you tell me otherwise.

[2017-11-03 01:14] V1ct0rV opened #361 "Problems using same domain but different paths in two containers"
**Description**

Hi,

The problem is I have 2 services using same domain, the first service has `com.df.servicePath=/` the second one `com.df.servicePath=/orchestrator/,/hub/`, I want all request to the domain go to `service1`, but the resquests to the paths `/orchestrator` or `/hub` go to `service2`, this configuration was working good monts ago (I remember I need to restart the proxy or event th

[2017-11-03 13:40] vfarcic commented on #361
ACL in the proxy are ordered alphabetically through the parameter `aclName`. If that parameter is empty (as is in your case), `serviceName` will be used instead. That means that `service-one` parameters are evaluated before `service-two` since it is higher alphabetically. On the other hand, since the path of the `service-one` is `/`, requests coming to the domain `staging.midomain.com` will always

[2017-11-03 13:47] aleskinen commented on #352
If I combine certs, it does not give any errors, but offers always first cert. I have in other proxy star_tek_fi first and it offers always that. On another proxy I have tukoe.fi cert first and it offers that always. Is it ok to have two key files also there?

[2017-11-03 14:29] vfarcic commented on #352
Having two key files is in one is very common. I have it in my personal cluster and quite a few customers. On the other hand, that's not functionally different than having separate files (one for each cert). What I wanted to confirm is that the problem is not in the way proxy is configured to read multiple files with certs. I am convinced now that the problem is with certs themselves, more likely

[2017-11-03 20:01] jotunskij commented on #344
I'll go ahead and close this issue for now. I'll open a new one if we get a similar issue again. Thanks!

By the way; DFP is now being run in production in one of the largest and most prominent technical universities in Europe. Thanks for a great piece of software!

[2017-11-03 20:01] #344 closed

[2017-11-04 15:02] vfarcic commented on #355
It'll be available in HAProxy 1.8. They did not specify the date but only said that it's coming soon.

[2017-11-04 15:03] vfarcic commented on #357
Would setting it as a value of `EXTRA_GLOBAL` env. var. do the trick?

[2017-11-04 15:03] vfarcic commented on #359
I think this issue can be closed with that merge. Can you please confirm that now it works as expected?

[2017-11-04 22:27] kungfu71186 opened #362 "Not able to redirect from one path to another"
Currently cannot redirect from one path to another.

For example, redirect from /myapp to /myapp2. or from root to /myapp.

In HAproxy language, something like this:
[code]

[code]

[2017-11-05 03:18] kungfu71186 opened #363 "Seperator sometimes does not work"
still trying to figure out why it only works sometimes. But using the custom seperator sometimes does not work.
This is set:
SEPARATOR=|

I get shell access and see it set as well. Get %!\(BADINDEX) due to comma in one of the headers I use. Then config fails to load. Still trying to figure out how to reproduce consistently

This is what is sent:
`Sending distribution request to http://10.0.0.6:808

[2017-11-05 12:51] #363 closed

[2017-11-05 12:53] kungfu71186 opened #364 "Validation Error, can't see error"
Ran into an issue where I could see validation wasn't passing, but did not see the error haproxy gave.

Basically getting the output of haproxy -f haproxy.cfg

This lead me to believe I was getting the wrong error. It would be helpful to see the haproxy error as well.

[2017-11-06 00:57] #359 closed

[2017-11-06 05:23] W0rks commented on #209
In case anyone else is still facing this issue (as I was all week), be sure to check your firewall/router's DNS Lookup, if it has the capability. After a couple of days of pulling my hair out, it turns out my ISP had an incorrect A record for swarm-listener (automatically appending a top level domain suffix), that had it going out to publicly accessible and ping-able address owned by a UK telco. I

[2017-11-06 08:08] aleskinen commented on #352
star_tek_fi is wildchar cert, valid for anything ending tek.fi. Como cert is normal, but it is adverticed to work both www and non www on one domain. Many cheaper cert providers have these double certs. See: https://ssl.comodo.com/comodo-ssl-certificate.php You can get free 90 day cert from comodo if you want to test. I'll check if tukoke.fi is the problem.

[2017-11-06 08:27] aleskinen commented on #352
On local test environment where I have installed in same file both certs and tehir keys, firt cert which in here is tukke.fi works, second cert star.tek.fi does not work. No errors on proxy log. yhteiso.tek.fi is offered tukoke.fi cert, which is first cert.

proxy_proxy.1.5zt410iwsbvs@moby    | 2017/11/06 08:21:14 Starting "Docker Flow: Proxy"
proxy_proxy.1.5zt410iwsbvs@moby    | 2017/11/06 08:21:

[2017-11-06 13:21] vfarcic commented on #364
I created `issue-364`. Can you do a pull request against it?

P.S. Sorry for not doing that earlier.

[2017-11-06 17:56] vfarcic commented on #362
Since you already started contributing you might want to do a PR for this one as well :)

[2017-11-06 18:15] vfarcic commented on #352
I'm not sure what the problem is. I'm inclined to say that the problem is not with DFP/HAProxy since no one else complained about multiple certs. I use it myself in quite a few clusters with a problem. Judging by the screenshot, the problem is in the certificate itself. It's as if tukoke.fi is used instead yhteiso.tek.fi. HAProxy always serves a certificate related to the domain of the request so

[2017-11-06 20:51] natemurthy commented on #355
@vfarcic I saw that this was closed out https://github.com/vfarcic/docker-flow-proxy/issues/93

Is there maybe another place where I could track development progress on this? This could be possibly something to which I can contribute if there is a strong need :)

[2017-11-06 20:55] kungfu71186 commented on #362
@vfarcic Yeah, I can give it a try. Can you create a branch for it? Thanks

[2017-11-06 21:06] vfarcic commented on #355
@natemurthy #93 was closed by the author of the issue. Now that HAProxy officially announced that H2 is available in 1.8 dev release, this subject should definitely be revisited. My idea is to develop the feature and test it against HAProxy 1.8 dev (for now) and start building Docker images based on 1.7 (stable) and 1.8 (dev) releases of HAProxy. That way, people can choose whether to have DFP wit

[2017-11-06 21:07] vfarcic commented on #362
Sure. It's `issue-362`.

[2017-11-06 22:13] kungfu71186 commented on #362
I'm trying to think of a good implementation to this. redirect is now deprecated, but new option is still similar. Basically this is what I have right now. Redirect can have 3 different types.

Looks something like:
`http-request redirect {location, prefix, scheme} <code> <option> <condition>`

I was thinking something like this for labeling:

redirect.type.1=location (default)
redirect.code.1=301

[2017-11-06 22:29] vfarcic commented on #362
I'd start with a minimum requirement and extend it later if someone needs more options. DFP already has a very similar feature with `redirectFromDomain`. For naming consistency, it could be `redirectFromPath` and `redirectToPath`. I'd leave `301` as the only code since that is probably what (almost) everyone needs/wants. What do you think?

The code (template) can be very similar to https://github

[2017-11-07 13:01] V1ct0rV commented on #361
Hi,

Its working, thanks for the trick!

[2017-11-07 13:02] V1ct0rV commented on #361
Hi @vfarcic,

Its working now, thanks for the trick!

[2017-11-07 13:02] #361 closed

[2017-11-07 14:01] aleskinen commented on #352
Is the problem our wildchar cert? Does anyone has tried multiple certs when one of them is wildchar cert? Since the cert has multiple names, maybe haproxy can not check the domain. I can try if letsencrypt helps with this one. Is it possible manually tell haproxy what cert it should use for tukoke.fi?

[2017-11-07 21:05] kungfu71186 commented on #362
Yeah, thats pretty much what my thought process was, just to do something simple for now.

[2017-11-07 22:25] vfarcic commented on #352
I haven't tried multiple certs with wildcard myself (only multiple certs with specific domains).

The idea to try it with LetsEncrypt is good. If it works with LE, we'll know that the problem is with the certs you're currently using.

I did some digging in HAProxy and, as far as I understood, it does not have an option to specify a domain for a cert. It reads that information from certs themselves

[2017-11-08 07:15] natemurthy commented on #355
How tied is DFP to HAProxy? As of nginx 1.9.5 (stable), http/2 is supported. But if HAProxy is the only option we can at least get a development version started.

I just recently began looking at this code, but I am interested in working on this feature :)

[2017-11-08 07:21] vfarcic commented on #355
At the moment, DFP works only with HAProxy but it was written in a way that another proxy (e.g., nginx) can be plugged in. Probably >50% of work would be to make an nginx template equivalent to https://github.com/vfarcic/docker-flow-proxy/blob/master/proxy/template.go. Still, even though coding is not huge, testing nginx version would be massive. Time wise, I think that HAProxy dev. release would

[2017-11-08 08:12] ruudboon commented on #355
I got some experience with Nginx, I wouldn't mind helping building the config and doing some testing.
But l agree with @vfarcic probally going with HAProxy will be much faster.

[2017-11-08 18:53] kungfu71186 commented on #362
TBH, I'm having a difficult time trying to understand a few things here. I know what needs to be done, I just don't know how.

1. Need redirectFromPath and redirectToPath, preferably a list of them per service, like redirectFromPath.1
2. Need the service domain for the acl
3. https://github.com/vfarcic/docker-flow-proxy/blob/42cfe549e1f3eebb421e63391a26fb0f291dc209/proxy/template.go#L57 Probably a

[2017-11-09 16:28] yarmorell opened #368 "Problem with adding external no-swarm service"
Hello,

I want to use DFP instead Nginx, but i have faced the problem with adding non-swarm service to my configuration.
Now I am using Nginx as reverse proxy with config:

`
server {
    listen 443;
    server_tokens  off;
    ssl on;
    ssl_certificate    /etc/nginx/ssl/cert.crt;
    ssl_certificate_key    /etc/nginx/ssl/cert.key;
    server_name servername;
    error_page 500 502 503 504 /erro

[2017-11-09 21:41] johnjelinek commented on #336
might be also nice to be able to have reconfigure/reload docker-flow-proxy on service health checks too (think swarm health checks could help here?).

[2017-11-11 14:01] vfarcic opened #369 "Remove `com.df.distribute` from the examples."

[2017-11-11 14:28] vfarcic commented on #355
@ruudboon Would you like to help with a PR? There should be a separate Dockerfile for building an image based on HAProxy 1.8 dev and a few changes to DFP to allow H2 configs. Later can be tested by changing the config manually and sending a reload request. If it works, it should be fairly easy to add it as an additional label.

[2017-11-11 14:47] vfarcic commented on #362
1. Those two can be added to `ServiceDest` struct (https://github.com/vfarcic/docker-flow-proxy/blob/master/proxy/types.go#L13). All the elements of that struct are available as indexes entries (e.g. `redirectFromPath.X`).

2. Service domain is available in https://github.com/vfarcic/docker-flow-proxy/blob/master/proxy/types.go#L41. Since there can be multiple service domains, you might want to it

[2017-11-11 16:25] vfarcic commented on #364
@kungfu71186 Can you take a look at https://github.com/vfarcic/docker-flow-proxy/commit/81a58ddf07f334f6df8dbcb0a0e315ac374454a8 . I added a few tests and removed paths that cannot be tested with the assumption that those errors will not occur in a controlled environment like containers. Your solution is more robust. On the other hand, I prefer testable simplicity.

What do you think? Should we me

[2017-11-11 17:27] #364 closed

[2017-11-11 18:31] vfarcic commented on #336
I already added `HEALTHCHECK` to the image but forgot to close this issue. Can you please try one of the newer releases. Feel free to reopen this issue if it does not work as expected.

[2017-11-11 18:31] #336 closed

[2017-11-12 10:45] aleskinen opened #371 "Srawm-listener -> Proxy"
If I have:
[code]
Is it ok to have_
[code]
Now I get error from swarm-listener not when it tries to update proxy and it is maybe because i changed ports to host mode. I need this to log real ip addresses of web users.

Thank you for any help.

[2017-11-12 11:37] vfarcic commented on #371
It will not work with the current config. Listener belongs to the network `proxy` but proxy doesn't. They cannot find each other using service names (as described in `DF_NOTIFY_CREATE_SERVICE_URL` env. var.). You'd need to change the proxy address in the listener to point to the IP of the node where the proxy is running. If you do that, your solution will not be fault tollerant. The moment that no

[2017-11-12 11:38] #276 closed

[2017-11-12 11:38] #295 closed

[2017-11-12 11:38] #298 closed

[2017-11-12 20:25] aleskinen commented on #371
If proxy is running in service network, it will report wrong ip for all sites. So all visitors seem to be coming from same ip. If it is running in host mode network, it is possible to get visitors ip for web analytics. This was in one discussion I found from web. I thought that I will run proxy in global mode, and use host networking. What I did not understood, is that communication between proxy

[2017-11-12 20:28] aleskinen commented on #371
Another strange thing that is now (I think because updated docker-flow-version) log messages like:
core_proxy.1.637yxui6zy77@dca.tek.fi    | [WARNING] 315/201507 (248) : parsing [/cfg/haproxy.cfg:55] : a 'http-request' rule placed after a 'use_backend' rule will still be processed before.
core_proxy.1.637yxui6zy77@dca.tek.fi    | [WARNING] 315/201507 (248) : parsing [/cfg/haproxy.cfg:56] : a 'http

[2017-11-12 23:21] vfarcic commented on #371
DFP works only with Overlay network which removes "real" IPs. There's no way around it (as far as I know). Alternative would be to publish ports of your services and let DFP forward requests without networking. That would have to apply even to DFSL>DFP communication. I think that downsides of such an approach are much bigger than benefits of having the "real" IP.

I'll correct the warning message.

[2017-11-13 08:19] aleskinen commented on #371
Can I move proxy to swarm-listener communication to another network and let only 80 and 443 ports be in host mode? I think this way it should work?

[2017-11-14 14:22] aleskinen commented on #371
I did preliminary testing and it seems to work like expected and is easy to set up. Currently I'll try to test letsencrypt with our wildchar certificate.

[2017-11-14 14:24] vfarcic commented on #371
Can you add it to `/docs` directory in the repository and make a PR?

[2017-11-14 14:26] aleskinen commented on #371
I do not promise I have time this week, but next week propably. This is my docker-compose if you want to see it:
version: "3.3"
services:
  proxy:
    image: vfarcic/docker-flow-proxy
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    networks:
      - proxy
      - pro

[2017-11-16 08:47] aleskinen opened #373 "Redirect from domain"
If I use redirectFromDomain with latest docker-flow-proxy i get errors:
core_proxy.1.n48qx5zzo2nu@dca.tek.fi    | 2017/11/15 14:46:46 Validating configuration
core_proxy.1.n48qx5zzo2nu@dca.tek.fi    | [WARNING] 318/144646 (3787) : parsing [/cfg/haproxy.cfg:58] : a 'http-request' rule placed after a 'use_backend' rule will still be processed before.
core_proxy.1.n48qx5zzo2nu@dca.tek.fi    | [WARNIN

[2017-11-17 12:20] basz commented on #354
This seems to be the problem I was having on a domain that listens on both ipv4 and ipv6. The lets encrypt companion could never validate the challenge because it (certbot) apparently now prefers to use ipv6 over ipv4.

After I deleted the AAAA record for the domain as was well again.

https://community.letsencrypt.org/t/certbot-renewal-issue-with-ipv6-address-and-web-server-configuration/34730/4

[2017-11-17 20:29] vfarcic commented on #373
I tried it a few moments ago. I used the labels that follow.

[code]

Then I executed:

[code]

The output was:

[code]

There were no warnings in logs.

My best guess is that the problem occurs only with a specific combination of labels. Can you please send me the stack you're using? That should help me reproduce the issue.

[2017-11-17 23:27] vfarcic commented on #351
Can you please check whether this PR is the same as #374?

[2017-11-17 23:31] paulrobello opened #376 "haproxy.cfg validation warnings spamming console"
Starting in the last couple of days, I am getting the following in the console every second.

2017/11/17 23:22:36 Validating configuration
[WARNING] 320/232236 (6746) : parsing [/cfg/haproxy.cfg:63] : a 'http-request' rule placed after a 'use_backend' rule will still be processed before.
Configuration file is valid
2017/11/17 23:22:36 Config validation failed. Will try again...

I am also getting

[2017-11-17 23:33] vfarcic commented on #376
Can you post the stack you are using? That should help me replicate the issue.

[2017-11-18 00:04] vfarcic commented on #368
In general, DFP is designed to forward requests to Swarm services even though it can be used with others as well. You can send a [reconfigure request](http://proxy.dockerflow.com/usage/#reconfigure) to DFP and, among others, use `outboundHostname`. Please try it out and let me know if it worked as expected.

[2017-11-18 00:40] paulrobello commented on #376
I have seen the issue present with even with just the proxy stack
I have 3 nodes all are managers lenny,lenny2,lenny3
The network parweb is public and parint is internal both are encrypted overlay networks

This is my proxy stack
-------------------------------------
version: "3"

services:
  proxy:
    image: vfarcic/docker-flow-proxy:latest
    ports:
      - 80:80
      - 443:443
#      - 8080:

[2017-11-18 09:19] andrh commented on #351
Yes, it seems to achieve the same thing. I'll try it out and then close this.

[2017-11-18 14:17] vfarcic commented on #348
Closing the issue due to inability to capture IP with Overlay network

[2017-11-18 14:17] #348 closed

[2017-11-20 03:29] beenanner opened #377 "Allow whitelist in DFP to leverage x-forwarded-for"
I believe this is a feature request, but might still be blocked by upstream docker. The idea is to allow docker-flow-proxy to allow a whitelist of IPs at the HAProxy level via x-forwarded-for. Though I'm not sure if we can accomplish this with the way Docker swarm currently works.

Example using Google Cloud Platform since Google LBs can't implement IP restrictions yet:

GCP LB --> Docker Swarm(DF

[2017-11-20 08:33] aleskinen commented on #373
# Drupal to be used with external MySQL container
#
version: '3.3'

services:
  web:
    image: tukoke
    networks:
      - proxy
      - mariadb
    volumes:
      - type: volume
        source: tukoke-webroot
        target: /var/www/html/web/sites/
    environment:
      WEBROOT: /var/www/html/web
      ERRORS: 1
      RUN_SCRIPTS: 1

    deploy:
      replicas: 1
      labels:
        - com.d

[2017-11-20 11:00] remy-tiitre commented on #114
Preserving client ip with overlay (or to be more accurate - ingress) is not possible but we should still have an option to restrict IPs from accessing certain services. Like morsik pointed out, you can publish docker-flow-proxy to host and then you have the correct client ip.

[2017-11-20 12:06] remy-tiitre opened #378 "Where can I get release notes?"
I have an issue with 17.11.11-56, or to me more precise the issue starts with that release. When I updated my proxy from 17.11.03-55 to 17.11.11-56 it stoped working. All later versions fail as well.

After upgrade (no other modifications was done than updating docker-flow-proxy and docker-flow-swarm-listener versions) proxy complains about invalid configuration. Switching back to 03-55 makes ever

[2017-11-20 20:24] vfarcic commented on #378
Those releases were bug fixes and (wrongly) I did not record them in release notes but only in the issues that were closed. Can you create (and post) a stack that would help me reproduce the issue? If you can, I'm sure that I can come up with a fix in no time.

[2017-11-21 08:26] vfarcic commented on #376
Sorry for not responding earlier. I could not find a free moment until now...

Can you post HAProxy config as well? You can get it by entering one of the DFP containers and `cat /cfg/haproxy.cfg`.

There were quite a few reports of problems with encrypted networks. Can you try without encryption and see whether the result is the same (problems persist).

What do you mean by *the network parweb is

[2017-11-21 08:36] vfarcic commented on #373
I'm having trouble to reproduce the issue. I tried with the https://github.com/vfarcic/docker-flow-proxy/blob/master/issues/373/stack.yml stack but it did not produce the same warning. Can you help me out and try to reproduce it with `vfarcic/go-demo` or any other publicly accessible service? If I could get to the same state as you are, I'm sure it should be trivial to fix it.

[2017-11-21 08:43] remy-tiitre commented on #378
I will try, proxy container configuration is quite standard, I only add 1 additional port 8154 to listen to. I believe its the service labels that might not be that usual.

[2017-11-21 12:37] dave08 opened #379 "Parameter for excluding certain paths to service"
This feature would give the possibility to 'hide' certain paths to a service such as `/metrics`. Currently the only way to do it is by including all possible other paths, which could get to be cumbersome, the proposition is to provide something like `com.df.servicePathExclude=/metrics`.

[2017-11-21 14:51] yarmorell commented on #368
Thank you for your answer.
I have found the problem with connecting to my service and changed config like that:

- DFP_SERVICE_1_SERVICE_DOMAIN=test-dfp.service.io
- DFP_SERVICE_1_SERVICE_NAME=components-new.service`.io
- DFP_SERVICE_1_SERVICE_PATH=/components
- DFP_SERVICE_1_OUTBOUND_HOSTNAME=components-new.service.io
- DFP_SERVICE_1_PORT=443
- DFP_SERVICE_1_REQ_PATH_SEARCH=/components/
- DFP_SER

[2017-11-21 18:40] paulrobello commented on #376
network parint has the following flags set
        "Internal": true,
        "Attachable": true,
        "Ingress": false,
        "encrypted"

network parweb has the following flags set
        "Internal": false,
        "Attachable": true,
        "Ingress": false,
        "encrypted"

This is the docker explanation of the internal flag

**Network internal mode**
By default, when you connect a c

[2017-11-22 00:44] shazChaudhry opened #380 "Getting certs from http://81.200.64.50:8080/v1/docker-flow-proxy/certs"
Tried your example from:
- https://raw.githubusercontent.com/vfarcic/docker-flow-proxy/master/docker-compose-stack.yml

This used to work but since your recent commit, fe6ead0f1b4be332efcc4fdde95864e47d846f71, the service no longer starts. Here is the error:
[code]

However, `vfarcic/docker-flow-proxy:17.11.11-56` works fine and gives me the following result:
[code]

[2017-11-22 09:11] jonbrohauge opened #381 "Running multiple Jenkins instances, i.e. multiple port mapping"
**Description**
We are trying to run multiple instances of Jenkins while using docker-flow-proxy.
Quick setup overview:
 - Docker Swarm having three managers and multiple workers
 - Jenkins instances running on workers
 - Jenkins agents run on separate AWS ECS cluster

We are trying to configure docker-flow-proxy in our Jenkins service definition, having both ports (8080, 50000) accessible.

**Des

[2017-11-22 12:13] vfarcic commented on #368
At the moment, DFP assumes that the name of the service is unique since Swarm would not allow you to deploy services with the same name. I did not foresee that an external service could be name the same as internal (Swarm) service. I can change the template so that `aclName` is used instead. It defaults to `serviceName`. In other words, if you specify `aclName` (it can be anything), you'll be able

[2017-11-22 12:40] vfarcic commented on #381
Can you please clarify what you mean by multiple Jenkins instances. Are they different Jenkins services or a single service with multiple replicas?

[2017-11-22 12:46] yarmorell commented on #368
Yes. It would be a great solution to solve this problem.
I will be very grateful.

[2017-11-22 12:55] vfarcic commented on #368
I'm a bit tight with time. Is it urgent or it's OK if I do it over the weekend?

[2017-11-22 12:56] jonbrohauge commented on #381
To clarify:
We wish to run multiple instances of Jenkins, i.e. different Jenkins servers, potentially doing different things, and not a High-Availability solution where one Jenkins instance is spread across the swarm.
For example:
Jenkins Instance 1: should be reachable by http://jenkins-1.ci.mycompany.local/
Jenkins Instance 2: should be reachable by http://jenkins-2.ci.mycompany.local/

[2017-11-22 12:58] vfarcic commented on #381
That should work :). Can you post your stack and commands so that I try to reproduce the issue?

[2017-11-22 13:10] jonbrohauge commented on #381
proxy network is created by: `docker network create --driver overlay --opt encrypted=true proxy`

We deploy our proxy stack: `docker stack deploy -c proxy-stack.yaml proxy`

Our proxy-stack.yaml:
[code]

[2017-11-22 13:12] jonbrohauge commented on #381
Deploying our jenkins instances is as described previously, with the exception of `--name` and `--label com.df.serviceDomain` are customized.

[2017-11-22 13:54] yarmorell commented on #368
I am currently adding one more proxy server for each service instance to avoid this issue.
If you change the configuration on next weekend or next week I will be very grateful.

[2017-11-22 15:38] matt328 commented on #381
I'm having the same issue, it seems if I remap any of the images' ports in the service definition, the proxy service returns 503s.

For example, the jenkins image listens on 8080, and I'd like to run more than one service whose image listens on 8080, so I'd like to do:

[code]
but any remapping of the ports at the service level causes 503s.

[2017-11-22 15:48] vfarcic commented on #381
I haven't yet had time to try the same stack/commands. I'm not sure I'll find a free moment before weekend.

Generally, I'm not sure there's a good reason to publish agent ports through DFP. It is equally simple to simply publish those ports (e.g., 50000) on the service. If agents communicate through the proxy, that communication needs to be TCP since agents do not use HTTP but JNLP. From what I'v

[2017-11-22 16:54] andrh commented on #373
I'm experiencing a similar situation, only with `redirectWhenHttpProto`. All my services have these labels:

[code]

[2017-11-22 19:06] vfarcic commented on #373
@andrh I don't have an easy way to test `redirectWhenHttpProto` manually on a real cluster so I have to rely on unit tests for this feature. I made a change that I hope should fix the problem with `redirectWhenHttpProto`. Can you please try it out with `vfarcic/docker-flow-proxy:17.11.22-65` and let me know if it works. If it doesn't, please send me the output from logs.

[2017-11-23 07:01] jonbrohauge commented on #381
I missed the part of working with the wrong protocol. It makes sense, since I'm trying to route TCP-traffic through an HTTP-proxy. I think I saw that it is possible to route TCP instead of HTTP in docker-flow-proxy.
One of the good things about docker-flow-proxy is that it takes care of maintaining the Load Balancer Listeners in AWS for me, and thus it would be great to be possible to route throug

[2017-11-23 07:22] paulrobello commented on #376
I cleaned up my stacks and am no longer getting the original error.
I found that commenting out "com.df.redirectWhenHttpProto=true" from all my configs resolved all my "Config validation failed. Will try again..." errors

[2017-11-23 08:28] jonbrohauge commented on #381
Using  `--label com.df.reqMode.2=tcp` does not work 😞
These two lines show up in the CloudWatch:
`[WARNING] 326/082127 (28208) : config : 'option forwardfor' ignored for frontend 'tcpFE_50000' as it requires HTTP mode.`
`[WARNING] 326/082127 (28208) : config : 'option forwardfor' ignored for backend 'sample-ci-be50000_2' as it requires HTTP mode.`

So you cannot mix and match protocols...

[2017-11-23 08:44] andrh commented on #373
Same problem. I also tried it with 17.11.01-52 and that works as expected.

[code]

[2017-11-23 09:05] wyhysj opened #382 "sessionType settings with service update"
Hi, I look into issue [#171](https://github.com/vfarcic/docker-flow-proxy/issues/171) and [#296](https://github.com/vfarcic/docker-flow-proxy/issues/296), and tried sessionType=sticky-server in my configuration.

But the thing is we use `docker service update` to do CI, and update service docker images. When we do such update, seems current configuration doesn't work.

[code]

Because after servic

[2017-11-23 15:28] vfarcic commented on #373
@kungfu71186 Can you work on those items?

[2017-11-24 07:52] vfarcic commented on #376
There are a few problems with the newly added `redirectWhenHttpProto` parameter. It's been temporarily disabled in the tag `vfarcic/docker-flow-proxy:17.11.24-67` until we fix it.

[2017-11-24 12:24] cazacugmihai opened #383 "Add support for multiple reqPathSearch/reqPathReplace expressions"
Please add support for multiple expressions, like:

[code]

Thanks!

[2017-11-24 12:41] cazacugmihai commented on #383
As for the syntax, we can use something like this:

[code]
where `com.df.reqPathReplace` allows a `key:value` value where `:` is the delimiter.

In order to make this delimiter customizable, a new label can be created:
[code]

[2017-11-25 18:21] vfarcic commented on #382
You might want to use env. vars. `REPEAT_RELOAD` and `RELOAD_INTERVAL`. With `REPEAT_RELOAD`, DFP will repeat the process periodically and keep the list of service IPs up to date. Both env. vars. are described in http://proxy.dockerflow.com/config/#environment-variables . Can you please try it out and let me know if it fixes your problem?

[2017-11-25 18:26] vfarcic commented on #381
I'd suggest to publish agent ports on the service instead. Myself, I use DFP for cases when requests should all go to the same ports (e.g., 80 and 443) and mostly for HTTP. TCP protocol is problematic since it does not have headers so a proxy cannot distinguish one request from another and decide whether to forward them. For example, I do forward HTTP(S) through DFP (https://github.com/vfarcic/doc

[2017-11-26 16:42] vfarcic commented on #368
I promised I'll do it over this weekend but I could not find free time. I'll have to postpone this fix for a week.

[2017-11-26 18:17] vfarcic commented on #383
Sounds good but I don't think I'll have time before the next weekend. I hope that's OK.

[2017-11-26 18:32] cazacugmihai commented on #383
Yes, there is no rush. Thank you!

[2017-11-26 19:57] yarmorell commented on #368
Thank you for info.
Currently, it is not the urgent case for me. I will wait for this fix during next week.
Have a nice week.

[2017-11-27 08:55] jonbrohauge commented on #381
What we ended up with is using DFP for the http access to our Jenkins servers. An as you suggested exposing the agent port (50000) on the service directly. We have made a web-based application where one can request a Jenkins instance and thus control the port-mapping so we can ensure that the proper port is set in the Jenkins configuration at boot time, using groovy and rest.
Thanks for your views

[2017-11-27 08:55] #381 closed

[2017-11-27 11:36] dmelo commented on #380
I'm having the same issue. There seems to be some problem to get the certs:

[code]

[2017-11-27 21:43] cazacugmihai opened #385 "Add support for mapping full URLs"
Please add support for mapping full URLs, e.g.: map `/search` to `https://www.google.ro/search`.

I'm using this in nginx:

[code]

Thanks!

[2017-11-28 08:40] remy-tiitre opened #386 "Separate go code and docker image configuration"
Have you thought about separating the docker-flow-proxy go code compilation and distribution from docker image. My issue is that I would like to use different base for docker-flow-proxy, alpines DNS causes issues and it would be easier to base the proxy image from our own corporate base image.

I know that we could do it right now as well, but we would have to fork the whole go source code as well

[2017-11-28 09:45] chengoldbond1 opened #387 "hpproxy metrics public exposed"
publish a way to expose haproxy metric (4xx,5xx, etc.) to an external port for outside usage

[2017-11-28 10:57] dmelo commented on #380
In my case the problem was the DNS (again). I was using `4.2.2.1` and that DNS answers a default IP for non-existing names:

[code]

I switched to Google's `8.8.8.8` and everything went back to normal.

[2017-11-28 21:25] BretFisher opened #388 "FezVrasta bootstrap resources give 404"
**Description**

Looks like the method for including bootstrap css/js in `errorfiles` has changed URL's.

**PR with fix is coming today**

**Steps to reproduce the issue:**
1. Cause Docker Flow Proxy to give you a "friendly" HTTP error
2. Look at the source of error page
3. See the 404's for resources from https://github.com/FezVrasta/bootstrap-material-design

**Describe the results you received:

[2017-11-29 20:47] mhaamann commented on #387
I have not tried it yet myself but I believe that this can be solved reading this section: https://proxy.dockerflow.com/swarm-mode-auto/#proxy-statistics

[2017-11-29 22:00] vfarcic commented on #385
Did you try `outboundHostname`? I think that should solve your problem.

[2017-11-29 22:05] vfarcic commented on #380
@shazChaudhry Can you try the latest `vfarcic/docker-flow-proxy` tag? It has a bug fix that might have solved your issue. If it still does not work, please send me any additional info you might have that might help me reproduce the problem.

P.S. Sorry for not responding earlier. Too much work...

[2017-11-29 22:31] vfarcic commented on #387
There are (as @mhaamann mentioned earlier) HAProxy stats as well as the `/metrics` endpoint that transforms them into Prometheus-friendly metrics.

Please let me know if that's what you're looking for @chengoldbond1

[2017-11-29 22:35] #388 closed

[2017-11-29 22:53] vfarcic commented on #388
Thanks @BretFisher

[2017-11-29 22:57] vfarcic commented on #386
Do you have a suggestion what would work well for your use case? Would publishing binaries separately from Docker images do the trick or you had something else in mind?

[2017-11-30 09:53] cazacugmihai commented on #385
Reading the [docs](https://proxy.dockerflow.com/usage/), I see that `outboundHostname` is:
[code]
Based on this and the fact that I have already the `servicePath` specified and pointed to a local machine:
[code]
I cannot use that parameter because all the requests will be forwarded now to the external host (specified by `outboundHostname`).

What I need is something like this (it can be related to

[2017-11-30 10:02] remy-tiitre commented on #386
Thats something I had in mind, yes. So I could base my docker image on centos, ubuntu or any other OS. There seems to be some issues with DNS configuration on alpine image. https://github.com/gliderlabs/docker-alpine/blob/master/docs/caveats.md

[2017-11-30 10:03] remy-tiitre opened #390 "How to redirect path without trailing slash to a path with trailing slash"
Portainer is one of such applications. Its easy to get it working with docker flow proxy. All you need is:
      labels:
        - com.df.notify=true
        - com.df.connectionMode=http-keep-alive
        - com.df.servicePath=/portainer
        - com.df.reqPathSearch=/portainer/
        - com.df.reqPathReplace=/
        - com.df.port=9000
But then the url .../portainer does not work as all the as

[2017-11-30 22:07] shazChaudhry commented on #380
Still no joy with the latest tags: `vfarcic/docker-flow-proxy:17.11.29-68`
Still getting the same error as before. I am curious what this link is:- http://81.200.64.50:8080/v1/docker-flow-proxy/certs

### My Environment:
windows 10; vagrant box = "ubuntu/xenial64";
[code]

[2017-11-30 22:46] shazChaudhry commented on #380
I have tried `vfarcic/docker-flow-proxy:17.11.29-68` in Docker4AWS which works as expected.
However, this very latest tag still does not work in my local environment.

[2017-12-02 21:42] #379 closed

[2017-12-02 22:00] vfarcic commented on #379
Available in the [release 17.12.02-69](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.12.02-69).

[2017-12-02 23:05] vfarcic commented on #378
This problem should be fixed with the [release 17.12.02-71](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.12.02-71). Can you please try it out and let me know if it works as expected.

[2017-12-02 23:10] vfarcic commented on #377
I don't think that's possible due to the way Overlay network is designed. The moment a request enters Overlay network, the original IP is lost. That means that you have to either a) not use Overlay or b) put something before it. I don't think I see a way to add this feature to DFP unless we move it outside Overlay/Ingress network.

[2017-12-02 23:11] vfarcic commented on #373
This should be fixed with [release 17.12.02-71](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.12.02-71) (thanks @kungfu71186). Can someone try it out and confirm it?

[2017-12-02 23:28] vfarcic commented on #376
Can you please try out the latest tag `vfarcic/docker-flow-proxy:17.12.02-72`? The problem should be resolved.

[2017-12-03 00:10] vfarcic commented on #380
@shazChaudhry I think we found the bug. Can you please try again with `vfarcic/docker-flow-proxy:17.12.02-72`?

[2017-12-03 11:41] shazChaudhry commented on #380
@vfarcic Still same issue with `vfarcic/docker-flow-proxy:17.12.02-72` in my local environment

If it is of any help, here is my Vagrantfile: https://raw.githubusercontent.com/shazChaudhry/docker-jenkins/master/Vagrantfile

[code]

[2017-12-03 12:14] dave08 commented on #379
Thanks alot!

[2017-12-03 12:32] vfarcic commented on #380
I just executed the commands that follow.

[code]

It worked and the output of the last command is as follows.

[code]

Can you please confirm that you executed the same commands? If you did, the failure is most likely related to networking. Is there a corporate proxy/VPN/firewall that might interfere with networking? Can you create a new service that is also attached to the `proxy` network and ex

[2017-12-03 13:12] vfarcic commented on #385
@cazacugmihai `outboundHostname` can be indexed. You can have one something like `servicePath.1=/something` that would redirect it to the service in the cluster and `servicePath.2=/else`and `outboundHostname.2=some-domain.com` that would redirect requests that match that path to the external domain. Is that what you're looking for?

[2017-12-03 14:07] vfarcic commented on #386
I think I should have it done by the end of next week. I hope that's OK.

[2017-12-03 14:21] vfarcic commented on #390
It would help a lot if you could modify the HAProxy config and paste the changes that should be applied. Like that, I should be able to add a new option (or modify an existing one) to accomplish that. Would that be OK? If it would, you can:

1. Run DFP as a single replica
2. Enter into DFP replica container
3. `apk add -U curl`
4. `vi /cfg/haproxy.cfg`
5. Modify and save
6. `curl localhost:8080/v1

[2017-12-03 14:42] vfarcic commented on #383
I promised to work on this issue this weekend but I could not manage to get enough time. There were too many open issues and other tasks I had to work on. Next weekend...

[2017-12-03 16:17] shazChaudhry commented on #380
Thank you very much for the instructions. I have followed the instructions to the letter and please see the output below:

- curl -o Vagrantfile https://raw.githubusercontent.com/shazChaudhry/docker-jenkins/master/Vagrantfile
- vagrant up
- vagrant ssh node1
- curl -o proxy.yml https://raw.githubusercontent.com/vfarcic/docker-flow-proxy/master/docker-compose-stack.yml

[code]

I can confirm that I

[2017-12-03 17:37] cazacugmihai commented on #385
Yes.

[2017-12-03 18:36] yarmorell commented on #390
I had faced with the same problem and added to DFP config env variable:
`- EXTRA_FRONTEND=acl is_root path -i /,acl missing_slash path_reg  ^/*/[^/]*$$,http-request redirect code 301 prefix / append-slash if missing_slash !is_root`

[2017-12-04 08:56] remy-tiitre commented on #386
Yeah, thats fine. Thanks for the greate work.

[2017-12-05 07:30] eromoe commented on #380
Same issue
I fellow this tour  https://technologyconversations.com/2016/08/01/integrating-proxy-with-docker-swarm-tour-around-docker-1-12-series/

and found proxy keeping restart

[code]

[code]

[2017-12-05 07:57] vfarcic commented on #380
Found the problem... It'll be fixed later today.

[2017-12-05 08:25] vfarcic commented on #380
@shazChaudhry The problem is (probably) in the name of the service. Something in your network is hijicking requests to the address `proxy`. You can see that from the drills. Internal IPs of the other services start with `10.` `tasks.proxy`, on the other hand, got `81.200.64.50` which is not the range of Overlay's internal addresses. I experienced the same in my hotel room an hour ago. As soon as I

[2017-12-05 08:51] eromoe commented on #380
@vfarcic

Follow http://proxy.dockerflow.com/swarm-mode-auto/  , still same problem .
go-demo and proxy  both can not start.
[code]

[2017-12-05 08:58] eromoe commented on #380
@vfarcic

Follow http://proxy.dockerflow.com/swarm-mode-auto/

change proxy name to dfp, and env
[code]

dfp still same problem ,  go-demo and dfp both can not start:

[code]

[2017-12-05 10:47] vfarcic commented on #380
@eromoe In that case, the problem is not with DFP but with your networking in general. `go-demo` is failing because it cannot connect to `go-demo-db` (without any proxy). The other two services are running because they are not depending on communication to other services through the Overlay networking. Since you're using Docker Machine to create nodes (assuming you're following that article as-is)

[2017-12-05 13:20] eromoe commented on #380
It is company real machine.  I didn't using  proxy/VPN , but I would check that again tomorrow :)

[2017-12-05 14:27] shazChaudhry commented on #380
Ok, if the service name is not an issue I will then try a different WiFi tomorrow

[2017-12-05 20:20] shazChaudhry commented on #380
@vfarcic Looks like you are right, this issue appears to be WiFi specifiic. Moving on to a different WiFi, I could no longer reproduce the issue.

So, it means my home WiFi does not like proxy version > vfarcic/docker-flow-proxy:17.11.11-56

:(

[2017-12-05 23:57] #385 closed

[2017-12-06 04:45] eromoe commented on #380
@vfarcic

Check again, no vpn/proxy running.

[code]

the network is
[code]

[2017-12-06 11:54] vfarcic commented on #380
@eromoe The problem is not with DFP. If it was, `go-demo` would work. Can you send the logs of `go-demo` and `dfp`?

[2017-12-06 17:10] awgneo commented on #288
"srcPort" is not adding binding information to the proxy config for me with the latest version. I have two services, minio1 and minio2, that are I would like proxied on port 9000. I have to manually specify BIND_PORTS on the proxy for it all to work. Here is my configuration. Thank you :)

`services:

  proxy:
    deploy:
      restart_policy:
        condition: any
        window: 30s
      updat

[2017-12-06 19:32] vfarcic commented on #288
Automatically opening ports caused too many problems so I added the following to the docs.

[2017-12-07 05:15] eromoe commented on #380
@vfarcic Sorry for late reply .

dfp:
[code]

go-demo:

[code]

[2017-12-07 10:17] vfarcic commented on #380
@eromoe From DFP logs you can see that the IP is wrong. If it would be using Overlay network, it would start with `10.`. If that would be the only manifestation of the problem, I'd say that your network does not like address `proxy`. However, the `go-demo` logs indicate that it also cannot connect to, in this case,  `db`. So, there's definitely something wrong with your Overlay network, not DFP. I

[2017-12-07 16:15] rooch84 commented on #380
I'm having the same issue.  Anyone else on Virgin Media?  I know they send you to their search page when a DNS name can't be resolved.

[2017-12-07 21:20] vfarcic commented on #380
@rooch84 Did you try using `SERVICE_NAME` and other env. vars. I described above?

[2017-12-07 21:21] shazChaudhry commented on #380
I am on Virgin Media, UK, and have never had this issue until a version > vfarcic/docker-flow-proxy:17.11.11-56. However, this might be a wider issue than Virgin Media WiFi as other people have reported this issue while on a hotel WiFi and in other countries.

Would be really good to have this issue resolved. Otherwise I might never be able to use the latest version of docker-flow-proxy from home

[2017-12-08 03:09] eromoe commented on #380
@vfarcic

## service ls
[code]

- `u, n1, n2, n3` are on overlay network proxy,  `test` are not on network proxy.
- `u, n1, n2` are on node-1 (manager node)
- `n3` is on node-2

## node-1 docker ps
[code]

## node-2 docker ps
[code]

## enter container `u`, and do test
[code]

Can access n1,n2,n3 by name:
[code]

But I can't access:
[code]

So, does it mean the DNS problem ?

[2017-12-08 06:36] rooch84 commented on #380
@shazChaudhry I agree that there a greater problem here that needs to be solved.  I'm using Docker for other purposes but landed on this page because I searched for the unusual IP.  I've also been using Docker from home for several years and not had an issue, which suggests a recent change to Docker itself.

In the mean team, I stumbled across this, which appears to solve it for we Virgin Media us

[2017-12-08 21:47] shazChaudhry commented on #380
@rooch84 - Thank you very much for the suggestion. My issue was indeed down to my Virgin Media WiFi router. Turning off "advanced network error search" has resolved the issue for me.

![image](https://user-images.githubusercontent.com/17728639/33786001-4d0922ee-dc5f-11e7-9f2c-eda27b5cdcf0.png)

@vfarcic I will leave it up to you whether you would like to close this issue. I would like to thank you

[2017-12-09 19:46] vfarcic commented on #380
I think you could have solved the problem by changing the name of the `proxy` service. Still, that option should not exist in your router so you're probably better of maintaining it disabled.

Closing the issue...

[2017-12-09 19:46] #380 closed

[2017-12-09 20:15] vfarcic commented on #330
Closing this issue due to inactivity.

[2017-12-09 20:15] #330 closed

[2017-12-09 20:17] vfarcic commented on #352
There was no activity (responses) on this issue for over a month. Can you please let me know whether it can be closed.

[2017-12-09 20:19] vfarcic commented on #351
Closing the issue due to inactivity. Feel free to reopen it if the #374 does not fixes this.

[2017-12-09 20:19] #351 closed

[2017-12-09 20:28] vfarcic commented on #382
Can you please let me know if the previous message helped and the issue can be closed?

[2017-12-09 22:45] vfarcic commented on #386
I'll have to delay the work on this for a week. I had too much on my plate and could not find enough time.

[2017-12-09 22:46] vfarcic commented on #387
I'll assume that the issue can be closed. Please reopen it if the proposed solutions do not fit your use-case.

[2017-12-09 22:46] #387 closed

[2017-12-09 22:53] #383 closed

[2017-12-09 23:14] vfarcic commented on #383
It's available from the [release 17.12.09-73](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.12.09-73).

[2017-12-09 23:19] vfarcic opened #392 "Upgrade HAProxy to 1.8"
This upgrade will open the door for new improvements like HTTP/2.

[2017-12-09 23:29] #392 closed

[2017-12-09 23:38] vfarcic commented on #355
DFP with HAPRoxy 1.8 will be released soon. From there on, we can add the support for HTTP/2. Can someone help out by creating a service that can be used to test it?

[2017-12-09 23:46] vfarcic commented on #392
Available from the [release 17.12.09-76](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.12.09-76).

[2017-12-09 23:54] #355 closed

[2017-12-10 00:08] vfarcic commented on #355
HTTP/2 support was added in the [release 17.12.09-77](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.12.09-77).

[2017-12-10 01:55] cazacugmihai commented on #383
Thanks Viktor for this improvement!

[2017-12-10 14:56] wyhysj commented on #382
@vfarcic Hi, I'm on leave for last two weeks, will test on Monday tomorrow, sorry for the delay

[2017-12-11 08:50] wyhysj commented on #382
Hi @vfarcic I think this work around can not
Even I don't issue a `docker service update`, I see configuration reloaded with different state

[code]

[code]

Although the IP is changed when service update, but the sticky server will be a random state with every reload interval.

[2017-12-11 09:59] szczad opened #393 "HttpsOnly=true with SSL stripping service in front of the cluster"
**Description**
Docker Flow Proxy does not work well with SSL stripping service in front of the cluster.

**Steps to reproduce the issue:**
1. Create Amazon AWS LB with SSL stripping
2. Set up docker container with "httpsOnly=true"
3. Open web browser and go to https site

Example config file:
[code]

**Describe the results you received:**
 "ERR_TOO_MANY_REDIRECTS" in web browser

**Describe the r

[2017-12-12 11:27] wheelybird opened #394 "Add custom, index-able variable for templates"
Hello.   I'm using a very basic, custom template for the frontend definitions as I need to define a large number of ACLs for our particular implementation.  I then need to get the frontends created by DFP to match against these ACLs.  It'd be really useful if there was a generic, index-able variable I could use for this purpose.
So, as an example, the frontend template would be:
[code]
and the DFP

[2017-12-13 11:52] dave08 opened #395 "Constantly failing service should be ignored"
When putting up a new service and testing its configuration, sometimes it fails many times, the configuration doesn't get regenerated and all other services are unreachable at that time. Would it be possible to keep the last working configuration until the service succeeds to stay running?

[2017-12-13 11:54] vfarcic commented on #395
That is the idea behind the current design. However, seems that it does not cover all the cases. Could you create a set of commands/stacks that would help me reproduce this. That would simplify the search for the specific case and help me make sure that the change fixes it.

[2017-12-13 12:41] vfarcic commented on #394
That shouldn't be a problem. I saw that you already went through the code so maybe you'd like to send a PR? If not, I think I can add this feature over the weekend.

[2017-12-13 12:46] wheelybird commented on #394
I've looked through the code, but frankly Golang is a bit beyond me right now.  I'm more of a Perl person. :D

[2017-12-15 12:06] vfarcic commented on #393
Shouldn't port 443 redirect to 443 on DFP? By default, DFP will use the certs only on 443.

[2017-12-15 12:52] szczad commented on #393
Amazon AWS HTTP load balancer does SSL stripping and there is no possibility to get around that. However the LB sends X-Forwarded-Proto header to indicate which protocol was used to access LB.

[2017-12-15 19:36] vfarcic commented on #393
@szczad What confuses me is why did you set the port 443 to forward to 80, instead 443? It does not matter that its TCP. It should, as far as I understand, still forward 80>80 and 443>443. I'm sure there is a good reason for 443>80. I'd just like to understand it better before modifying DFP.

[2017-12-16 22:31] vfarcic commented on #382
Those two configurations are the same (order should not matter). However, I just realized another problem. You cannot have more than one replica of the proxy. Otherwise, there is no guarantee that both will get the same cookie and they might forward to different replicas of the end-service.

[2017-12-16 23:43] #352 closed

[2017-12-16 23:56] #368 closed

[2017-12-17 11:38] dave08 commented on #395
I've had problems with the overlay networking recently, so a possibility is that it can't reach that service in the first place... I had to delete the network and re-attach all my services to it and then things started working again and DFP got its configs... But meanwhile, even when I scaled the unreachable containers to 0, DFP was still trying to reach them... Is there a way the swarm listener c

[2017-12-17 16:30] #386 closed

[2017-12-17 17:03] vfarcic commented on #386
Available in the release https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.12.17-87. Can you please try out the binaries and let me know if that's what you were looking for?

[2017-12-17 21:30] patricjansson opened #396 "0/0 replicas generating a lot of log"
Hi

I have a couple of containers set to 0/0 replicas. These are picked up by the proxy and outputting a lot of noise in the log, see below. Since they have been "stopped" (replicas: 0), shouldnt they be ignored by the HAProxy config?

*Related proxy config:*
`DO_NOT_RESOLVE_ADDR=true`
`REPEAT_RELOAD=true`

*Versions used:*
listener : 17.11.11-22
proxy: 17.12.09-77

[code]

This is repeted every R

[2017-12-17 21:32] vfarcic commented on #396
You're right. I should change DFSL to send the "remove service" notification to DFP when it scales to 0. I'll start working on this in a few days.

[2017-12-17 21:34] vfarcic commented on #396
A side question (not related to the need to add the new feature to DFSL)... Why do you scale services to `0` replicas?

[2017-12-17 23:19] patricjansson commented on #396
Super, thanks!

On your question: Our deployment pipeline works like a cron-job, deploying docker compose files for each application (all automated). The way for our developers to stop a service is to set the replicas to zero. We could implement a `service rm` to invoke on replicas: 0, but we handle a permanent removal of a application in an other way.

[2017-12-17 23:26] vfarcic commented on #396
Why not rolling updates?

[2017-12-17 23:28] patricjansson commented on #396
Oh not for updating. For "i do not want this api endpoint to be available for a week" use case.

[2017-12-18 09:18] wyhysj commented on #382
Hi @vfarcic My docker flow proxy only got 1 replica, and service backend have multiple replica. But with every reload interval, the service backend will flip with different cookie, I don't know if you get it. My last comment the configuration is from same proxy, only different reload interval.

[2017-12-18 13:34] remy-tiitre commented on #396
scale=0 seems to be the best option to stop the service. You want the configuration to be there, just no containers running. So I have stumbled on that log pollution as well.

[2017-12-18 13:47] remy-tiitre commented on #378
Well, it doesn't seem to be fixed. Log is still spammed with diffrent warnings like:

[2017-12-18 14:15] vfarcic commented on #396
I executed a few tests (specified in https://github.com/vfarcic/docker-flow-proxy/tree/master/issues/396). The long story short is that I could not reproduce it. Can you confirm that you're running the latest DFM and DFSL? If you are, do you have any additional tip that would help me reproduce the issue?

[2017-12-18 14:22] remy-tiitre commented on #396
I have to look into it, but I think the pollution does not appear when you scale your service to 0 but when you have some services scaled to 0 and then you redeploy or restart docker-flow-proxy.

[2017-12-18 14:28] remy-tiitre commented on #378
extracted from cfg/haproxy.cfg
[code]

[2017-12-18 15:05] vfarcic commented on #396
That's it @remy-tiitre. I, finally, reproduced it. I'll work on the fix tomorrow.

[2017-12-19 11:27] rubensyltek opened #397 "Proxy returns 503 after one swarm node is down"
**Proxy returns 503 after one swarm node is down**

We have a docker swarm with 3 manager nodes and 3 worker nodes. We also have configured a proxy overlay network. The proxy service is set up to start in 2 instances (worker nodes).

When the proxy is started (scaled up from 0 to 2) everything works fine after a short period of time. Then, when we shut down one of the worker nodes where the proxy

[2017-12-19 14:31] shabbirkagalwala commented on #397
Had the exact same issue couple of weeks again, when a node failed and autoscaling started another and joined it to the swarm again.

[2017-12-19 14:37] vfarcic commented on #397
I'm failing to reproduce this problem. My best guess is that the problem is with ingress network and that it continues sending requests to the failed node or that the network that connects the proxy with the final service is still using the failed node. In either case, I think that the problem is in Docker networking or your cluster setup.

I wrote a simple set of steps to test it. They are in htt

[2017-12-19 15:23] vfarcic commented on #378
Now I get it. You're right. Those defaults do not apply to `tcp` protocol. I can move them to `http` frontends. Functionally, the result will be the same since HAProxy ignores them when they do not apply, but the warnings will be gone. I can deliver it during the weekend. I hope that's OK.

[2017-12-19 16:59] rubensyltek commented on #397
When the node is shut down a new container is starting in a different node. When I send a request to that container to get the HAProxy configuration the configuration doesn't have any of my services. The other instance, the one running in the node that wasn't stopped keeps on working properly so I get 503 only when I reach the new instance that it's not configured properly.

I guess the new instan

[2017-12-19 17:00] rubensyltek commented on #397
When the node is shut down a new container is started in a different node. When I send a request to that container to get the HAProxy configuration the configuration doesn't have any of my services. The other instance, the one running in the node that wasn't stopped, keeps on working properly so I get 503 only when I reach the new instance that it's not configured properly.

I guess the new instan

[2017-12-19 17:08] vfarcic commented on #396
The problem was in the Swarm Listener. It's been fixed with the tag `vfarcic/docker-flow-swarm-listener:17.12.19-25`. Can you please try it out and let me know whether it works as expected?

[2017-12-19 17:08] #396 closed

[2017-12-19 17:10] vfarcic commented on #397
A a DFP replica is started, it gets all the information from DFSL. In the tests I run, a new replica was created after a node was destroyed and the configuration was correct. I'm sure that there is a bug. I just need to manage to reproduce it.

Could you modify the commands/stacks from the link in the previous message so that the issue is reproduced? If that's not an option, logs from a "real" sys

[2017-12-20 08:10] mhabegger commented on #397
Same behavior here. Happens 1-2 per week.
The reconfiguration of DFP seems to get stuck somehow because it cannot resolve the service since it is not up and running yet.

We tried to move services and DFP to worker nodes only and use manager node, just as managers. Currently we have 3 managers and 3 workers but still see the issue once a week.

Would it be possible to follow through with reconfigu

[2017-12-20 08:12] mhabegger commented on #397
Would #396 solve this by any chance?

[2017-12-20 09:26] patricjansson commented on #396
Hi Viktor!
Great work. 17.12.19-25 did solve the 0/0 issue.

[2017-12-20 20:32] cloudjumper2000 opened #399 "Proxy setup issues (Docker/Wordpress/MariaDB)"
Discalmer:
I dont believe this to be a bug I believe this to be my error and would like some assistance. If this is not the correct place to ask, please let me know where to. That being said Im new to both GitHub, Linux & Docker, While this has been fun to learn, i am now at a point I need to raise the white flag. :)

Purpose:
I am attempting to setup an AWS server using docker to host a few diffe

[2017-12-20 21:33] vfarcic commented on #397
I think you're right @mhabegger. Can you try it again with the latest release @rubensyltek ?

[2017-12-21 00:23] paulrobello commented on #376
sorry i took so long to get back to this.
Should i try the latest tag of 17.12.17-87 ?

[2017-12-21 01:25] paulrobello commented on #376
using com.df.redirectWhenHttpProto=true now causes a TOO MANY REDIRECTS error.
using com.df.httpsOnly=true seems to work perfectly

[2017-12-21 10:22] rusanov opened #400 "Issue with some large headers using df-proxy behind AWS ELB"
**Description**
We are using Docker4AWS and want to create SSL termination with df-proxy.
Docker4AWS setup EC2 ELB with TCP forward on port 443.
Some request with really large header ~ 45KB fails.
**Steps to reproduce the issue:**
1. Start swarm cluster in AWS
2. Setup latest df-proxy as ssl termination
3. Try to make POST requests with large HTTP headers

**Describe the results you received:**
Wi

[2017-12-21 12:18] patricjansson commented on #400
I am not a AWS user, but have you checked that your are not running into some AWS limits, like for http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/cloudfront-limits.html#limits-custom-headers ?

[2017-12-21 12:46] rusanov commented on #400
It turns out that problem is using alpn in http2 connectinos:
https://github.com/vfarcic/docker-flow-proxy/commit/1bd3b5a36fc935a01fac85b4277e94f61ab5b386#diff-27ede3b1d638e09e6b033cb1647c8772

After building latest version with bind options:
bind *:443 ssl crt-list /cfg/crt-list.txt alpn http/1.1

everything works as expected.

[2017-12-21 17:16] rubensyltek commented on #397
It's working fine with version 17.12.19-90

[2017-12-21 17:32] #397 closed

[2017-12-21 20:05] #400 closed

[2017-12-21 20:13] vfarcic commented on #399
I'll do my best to create an example this weekend or early next week. I hope that's not too late.

[2017-12-21 20:26] Firejumper1000 commented on #399
Any help is appreciated! Thanks and Happy Holidays.

[2017-12-21 20:28] vfarcic commented on #400
Please switch to `vfarcic/docker-flow-proxy:17.12.21-91` (or newer) and add the env. var. `ENABLE_H2=false`. That will remove the http/2 support and result in the same config as the one you created @rusanov.

[2017-12-21 23:26] paulrobello commented on #376
still getting too many redirects with vfarcic/docker-flow-proxy:issue-376

[2017-12-22 12:02] vfarcic commented on #382
I got it. I'll see what I can do next week. I'd like to check it out earlier but the rest of this week I'll have too much work to do.

[2017-12-22 21:24] mhabegger commented on #397
We've updated our stack to 17.12.21-91 and keep you updated if we still see similar issues.
Thanks again very much.

[2017-12-23 21:00] vfarcic commented on #368
I forgot to comment that the issue is fixed. Can you please try out the latest release?

[2017-12-23 21:04] vfarcic commented on #373
I'll close this issue assuming that the [release 17.12.02-71](https://github.com/vfarcic/docker-flow-proxy/releases/tag/17.12.02-71) fixed it. Feel free to reopen if that's not the case.

[2017-12-23 21:06] vfarcic commented on #114
I'll close this issue since there does not seem to be anything we can do from DFP side. Publishing DFP to host is a workaround. Docker folks are unlikely to change how ingress network works.

[2017-12-23 21:06] #114 closed

[2017-12-23 21:07] vfarcic commented on #377
Closing since there does not seem to be a good solution that can be applied in DFP. The problem is with ingress network.

[2017-12-23 21:07] #377 closed

[2017-12-23 21:11] vfarcic commented on #390
I'm not sure that it would make sense to add that as a new parameter to DFP. The solution proposed by @yarmorell looks good. Please let me know if you disagree and I'll reopen the issue.

[2017-12-23 21:11] #390 closed

[2017-12-23 21:35] yarmorell commented on #368
I had seen your fix, thank you very much for your help.
I will test my config on next week and inform you.

[2017-12-23 21:53] vfarcic commented on #399
I just tested it locally (on my laptop, without AWS). I made only one change to your command. I replaced `--label com.df.serviceDomain=dev.coffeemanmedia.com` with `--label com.df.serviceDomain=localhost` so that I can test it locally.

The good news is that your commands work. I could open it from my browser as well as using `curl`. That means that your problem is probably with ports, firewall, o

[2017-12-23 22:53] vfarcic commented on #378
Moving `stats enable` to frontend is a bit more risky and complicated than I thought (`option  forwardfor` is not a problem). Since those are only warnings that do not affect DFP operations, I'll put it on `low-priority`.

[2017-12-23 22:53] vfarcic commented on #378
The fix would be to move them to http frontend. I'd appreciate if someone would help by sending a PR.

[2017-12-24 15:07] hcsas commented on #390
@vfarcic Is it expected behaviour that adding a templateFePath replaces any and all other parameters derived from com.df frontend labels set in the container? I would of thought that having the ability to set additional parameters tied to a service or group of services through a template file is more flexible/ manageable that using the EXTRA_FRONTEND hammer on the DFP itself -  parsing a snippet f

[2017-12-25 10:42] hcsas commented on #390
Not necessarily. I have a scenario where I need to check whether a custom header is present, then redirect depending on the result. This requires a couple of new acls and a redirect 301 statement which I can't figure out how to do with com.df labels in the container service yaml. I can achieve the desired result by using EXTRA_FRONTEND though that requires hard coding parameters which is not ideal

[2017-12-26 11:25] rufinus opened #401 "redirectDomain and httpsOnly"
When using this labels in a stack config:
[code]
i get this haproxy config:

[code]
Whats not working:
- `http://rainbowbridge.rip/` does not redirect to https:// (and shows 503)
- `https://<redirectDomain>` redirects to `http://rainbobridge.rip` (instead of https://rainbowbridge.rip)

https://rainbowbridge.rip/ does work as expected.

Where did i make the misconfiguration?

Other question - do th

[2017-12-26 12:25] vfarcic commented on #401
The second issue (redirect does not maintain the protocol (http/https) should be fixed. I made a temporary image `vfarcic/docker-flow-proxy:issue-401` for you to try it out. If it works as expected,  I'll promote it to an official release and, from there on, we can move to the first issue. Does that sound OK?

As for SNI, most http config vars do not work with it. SNI uses TCP with a headerless pr

[2017-12-26 13:00] rufinus commented on #401
@vfarcic wow, didnt expected a response that fast. thank you.

I tried issue-401 version:
`[ALERT] 359/125756 (71) : parsing [/cfg/haproxy.cfg:65] : error detected in frontend 'services' while parsing 'http-request redirect' rule : error in condition: no such ACL : '}'.
[ALERT] 359/125756 (71) : Error(s) found in configuration file : /cfg/haproxy.cfg`

proxy config now looks like:
[code]

[2017-12-26 13:15] vfarcic commented on #376
I could not find the problem in the config.

[code]

...translates to _redirect to `https` protocol if `X-Forwarded-Proto` is present in header and the protocol is `http` and path starts with `/` and the domain is `alexa-gui.pardev.net`_.

I'm sure that there is a problem (in DFP or in the external proxy/LB) but I'm failing to spot it. The config you posted is with `redirectWhenHttpProto` only (wi

[2017-12-26 14:08] vfarcic commented on #401
Sorry about that. I don't have SSL cert available for testing purposes so I made a "blind" change.

I found the problem with the first issue. You should remove `com.df.srcPort=443`. From there on, http should be redirected to https.

As for the second problem, I made another "blind" change. Can you pull the same tag `issue-401` again and try it out?

[2017-12-26 14:39] rufinus commented on #401
thank you @vfarcic its working now.

haproxy config is now:
[code]
this will work for now - but as soon as i will have a second https enabled page on this stack i will run into the SNI problem i guess. according to my research this is just not working with haproxy (or not very well) - the only solution i found is with an apache in front of haproxy for the ssl termination.

[2017-12-26 14:59] faisyl commented on #401
SNI routing works for HAProxy, though I'm not sure you can mix both SSL
termination and SNI routing in the same front-end port. See the
documentation on how to use SNI routing and feel free to mail me if you
need help with that.

On Dec 26, 2017 22:39, "Ludwig Ruderstaller" <notifications@github.com>
wrote:

[2017-12-26 15:12] faisyl commented on #401
If you are okay terminating SSL on HAProxy, then you can get by without SNI and let HAProxy present the correct certificate for the domain. This should work as long as the server certificates' Subject name or SAN matches the SNI in the connection. Although HAProxy will then use the SNI field to determine the certificate to present, you needn’t configure SNI based routing to handle the backend rout

[2017-12-26 15:15] vfarcic commented on #401
@rufinus What @faisyl explained is correct. If your problem is with certificates for multiple domains, that should work.

I'll close this issue since the original issue is fixed. Please let me know if you have problem with multi-domain setup.

[2017-12-26 15:15] #401 closed

[2017-12-26 15:32] vfarcic commented on #401
The fix will be available in the tag `vfarcic/docker-flow-proxy:17.12.26-93`. It's building while I write this...

[2017-12-26 16:07] rufinus commented on #401
thanks @vfarcic & @faisyl
SNI termination on haproxy is perfectly fine. i dont see much reason in having the ssl overhead between backend and haproxy.