[2017-12-27 15:57] yarmorell commented on #368
Hello,

I have added to DFP config:

[code]

But it has created the configuration for proxy without ACL rules:

[code]
Can you please this case? I'll be very grateful!

[2017-12-27 19:15] Firejumper1000 commented on #399
First off thank you for giving this a shot and responding over the holiday weekend!!

Localhost service i created:
[code]

Output:
[code]
Service list: _Notice the 0/1 for the REPLICAS for proxy, is this an issue?_

[code]
Trying again after removing the newly created service and creating a new one on port 8080, let me know if I missed anything here tho.

[2017-12-27 19:58] paulrobello commented on #376
I was using only the redirectWhenHttpProto when I encountered problems.
As soon as I switched it to httpsOnly everything worked fine, clients are redirected from http to https.

[2017-12-28 10:43] morsik opened #403 "2 HAProxy after reload"
**Description**

This looks like critical, but I'm not sure why is that (maybe bug in HAProxy 1.8?)

**Steps to reproduce the issue:**
Don't know how... Tonight letsencrypt-companion reloaded certs, and I started getting SSL problems. After some digging I found this:
[code]

I killed older one, and everything is OK now.
I found this state on all hosts where proxy is running, and on all new haproxy

[2017-12-28 12:33] vfarcic commented on #403
That is indeed critical. The problem is to reproduce it. Do you have a clue that might help?

[2017-12-28 12:51] vfarcic commented on #399
Can you post the logs of the `proxy` service? We need to figure out why the proxy is not running.

[2017-12-28 13:41] Firejumper1000 commented on #399
Still new with this stuff but heres what I can see log wise, let me know if theres a different command.  I will login to the slack channel as well.

[code]

[2017-12-29 11:57] vfarcic commented on #368
The problem is with `DFP_SERVICE_*_SERVICE_NAME`. That's a unique identifier of a service. If two are the same, one will overwrite the other. If you change of the two, your setup should work.

[2017-12-30 11:33] vfarcic commented on #362
Closing due to inactivity. Feel free to reopen...

[2017-12-30 11:33] #362 closed

[2017-12-30 11:34] vfarcic commented on #371
Closing due to inactivity. Feel free to reopen...

[2017-12-30 11:34] #371 closed

[2017-12-30 11:39] vfarcic commented on #376
My best guess is that your external LB is non injecting `X-Forwarded-Proto`. Normally, `httpsOnly` is the preferable parameter. `X-Forwarded-Proto` is mostly for those cases when requests that are meant to be HTTPS are still sent as HTTP. Since `httpsOnly` works for you, we can probably consider this issue closed.

[2017-12-30 11:42] vfarcic commented on #393
Closing due to inactivity. Feel free to reopen...

[2017-12-30 11:42] #393 closed

[2017-12-30 11:46] vfarcic commented on #399
That's very strange...

I can only assume that it fails (silently) after `Starting HAProxy` and that it stays on 0 replicas from there on. Is that correct?

It is very confusing that it's failing only every few hours. Normally, a failed replica would be rescheduled immediately. There should be many more `Starting HAProxy` entries.

[2017-12-30 13:33] Firejumper1000 commented on #399
It would seem so.

I started a new server from scratch and just got to the point of installing the proxy and for me it still fails. So it must be something im doing. Maybe its best I document the full install steps im taking and share?

[2017-12-31 10:41] vfarcic commented on #399
It would be the best if, as you said, you could document all the steps. It would be even better if you could reproduce the issue using Docker Machine. That way I could reproduce it as well and, from there on, it should be fairly easy to figure out what's wrong.

[2018-01-02 14:34] Firejumper1000 commented on #399
Here ya go. Im using a AWS Instance and sadly not familiar with "Docker Machine". If its needed I recreate this using docker machine locally I can try but Id never use that going forward. Just let me know if you see anything below that looks out of the norm.

On this run through the docker-flow-proxy never starts and ends at a 1/1: Starting then rolls to a 1:1: ready, back to 1/1: starting and nev

[2018-01-04 17:56] jorgebo10 commented on #67
Hi vfarcic,
 i'm having some problems while trying to configure the servicePath. While setting  servicePath as root context (/) works fine, setting other than root context is not working for me. I've attached my example below.
I was wondering if you could point me in the right direction to fix it.

Thanks,
Jorge
[code]

[2018-01-06 17:22] vfarcic commented on #67
@jorgebo10 In your examples, there is no service called `laravel_app`. Did you mix the commands you posted with those from the others' posts? Also, are you sure that `laravel_app` listens to both `/` and `/informes` paths? The command you used with result in DFP forwarding requests to `laravel_app` as they are. That means that, for example, a request `/informes/api/informes/1` in DFP will be forwa

[2018-01-08 09:49] rusanov opened #404 "sessionType alongside with sslVerifyNone"
**Description**

**Steps to reproduce the issue:**
1. Set com.df.sessionType=sticky-server
2. Set com.df.sslVerifyNone=true

**Describe the results you received:**
Here is generated backend config:
[code]
With this configuration requests to backend are made in plain HTTP instead of HTTPS.

**Describe the results you expected:**
I expected following setup:
[code]
and HTTPS requests to the backend

[2018-01-08 13:06] jorgebo10 commented on #67
@vfarcic I've updated the serviceName as it was not correct. Thanks for pointing out that. The app listens only at / on port 8080. Your suspicion is right I would like to make use of the proxy to forward /informes/api/nformes => :8080/api/informes if this is possible. Thanks

[2018-01-08 16:02] #404 closed

[2018-01-08 16:04] vfarcic commented on #404
Thanks for the code changes. I just added them. A new release is building and the fix will be available in a few minutes as `vfarcic/docker-flow-proxy:18.01.08-95`.

[2018-01-08 16:51] jjesudassbah opened #405 "DockerFlowProxy Http2 400 errors"
Thank you so much for this awesome project. We have been using it for sometime now without any issues.
However, with the latest release supporting HTTP2, we ran in to an issue. by default, when the ENABLE_H2 option is true, When accessing Elastic's Kibana and some web applications, we see occasional (but persistent) 400 errors from the proxy:

[code]
The error code from the proxy is "CH" in both c

[2018-01-08 21:02] vfarcic commented on #67
You should add `reqPathSearchReplace`. For example:

[code]

Translated to plain words, it's forward all requests with paths starting with `/informes`. Before forwarding, it'll rewrite paths by replacing `/informes/` with `/`.

Please let me know if that's what you were looking for.

[2018-01-09 18:45] jorgebo10 commented on #67
Great that did the work. Thanks!

[2018-01-10 11:40] rusanov commented on #382
Any update on this, I have the same issue. Workaround with REPEAT_RELOAD do the job for updating replica's ips but I can not use replicas for the proxy due to different cookies set.

[2018-01-10 12:14] dave08 opened #406 "Use com.df.reqPathSearchReplace in multiple sets"
Like`com.df.reqPathSearchReplace.1`, instead of having it as a global setting for all routes. My use case is that I have multiple domains pointing to the same service and each needs `/` to point to a different path in the actual service.

[2018-01-11 08:25] blop opened #407 "Native HAProxy configuration syntax"
Hello,

I see on your README you stated "It does not try to reinvent the wheel".
However, I feel reading your documentation that you are in the process of replicating all the features and configuration of HAProxy with a new syntax, through environment variables.

It's nice because it offers a more simple configuration for easy deployments.
But it's preventing advanced users from using all possible

[2018-01-11 12:12] vfarcic commented on #382
I haven't had the opportunity to tackle this issue. There were other more urgent issues I had to solve on top of all other obligations (not related to DFP). Would one of you volunteer to do a PR? I'd guide you through the code.

[2018-01-11 12:36] vfarcic commented on #399
Sorry for not responding earlier. I was too busy and could not find a free moment.

From the logs you sent and from the script, I don't see how you're joining nodes to the cluster. Are you using internal IPs? Is the communication between the nodes unrestricted? Are the ports 2377 (TCP), 7946 (TCP and UDP) and 4789 (UDP) opened?

I'm sure that the problem is in the way the cluster is set up and tha

[2018-01-11 12:42] vfarcic commented on #405
I'm not sure how Kibana works internally. Normally, HAProxy will use h2 protocol only if it's supported by the client, and switch to http1.1 if it's not. I used it with my own Kibana instance without any problem. However, that one is for my personal use and doesn't have high traffic so it's possible that I was simply lucky so far.

If you can send me the commands you executed to create ELK and DFP

[2018-01-11 12:50] vfarcic commented on #407
The idea is not to use environment variables but rather HTTP requests to reconfigure the proxy. That way, tools like http://swarmlistener.dockerflow.com/ can send notifications to DFP whenever a service is created/updated/removed.

The option to do the same with environment variables is only a fallback strategy mainly for non-Swarm services. I do not recommend anyone using it as the main source of

[2018-01-11 15:07] jjesudassbah commented on #405
I just found that Http2 is not yet supported by Kibana: https://github.com/elastic/kibana/issues/7104
Please close the issue.

[2018-01-11 15:10] jjesudassbah commented on #382
I have the same problem with multiple replicas of the server/container with sessiontype sticky :(

[2018-01-11 17:41] #405 closed

[2018-01-12 07:06] opHASnoNAME commented on #380
Hi, we have the same problem: Latest version of Flow-Proxy is requesting certs from an external ip - instead of "Proxy".

We don't use Virigin Media (Germany) - older version with tag: 17.10.01-33 works as excepted.

[2018-01-13 16:22] vfarcic commented on #395
I'll assume that the issue is solved. Please let me know if that's not the case.

[2018-01-13 16:22] #395 closed

[2018-01-13 19:55] #406 closed

[2018-01-13 20:10] vfarcic commented on #406
Can you please try the tag `vfarcic/docker-flow-proxy:18.01.13-96` and let me know whether it works as expected?

[2018-01-14 22:25] Vad1mo opened #408 "Clarification on multiple destinations for a single service option."
I am trying to unterstand the proxy options a bit better and I read this sentence a few times.
**The parameter can be prefixed with an index thus allowing definition of multiple destinations for a single service**

What confuses me here is that in combination with `servicePath`. Because `servicePath` already accepts a comma separated list. Does it mean I can create a matrix like (n*m)`servicePath`

[2018-01-14 23:00] Vad1mo commented on #408
thank you for the explanation. This makes things a more clearer. IMHO you can take you explanation as is and put in somewhere in the *usage* section of the docs.

[2018-01-14 23:52] Vad1mo opened #409 "One Domain multiple services"
I have two services on the domain app.company.com, "Website" and "API".

The API Service should receiver traffic for this path only

`app.company.com/v2/*`

The Website should receive traffic on this paths:

[code]

I tried to create a setup with traefik some time ago but failed, as traefik can't support such use cases. However it was fairly easy to create a setup for nginx, but its all manual  an

[2018-01-15 03:56] vfarcic commented on #409
Judging from your stack, it should work, assuming that both services respond on those paths. Can you confirm that `vad1mo/hello-world-service` responds to both `/` and `/2/` without DFP? If that's not the case, you might need to add `reqPathSearchReplace` as well.

I'm at an airport and won't be able to try it out myself for a while. If you can provide more info (which service fails, DFP logs, DFP

[2018-01-15 18:32] nohaapav opened #410 "Docker flow return 400 on POST/DELETE actions if SSL used"
Hi, i'm facing strange issue with letsencrypt companion. Everything seems to be setup correctly, i've got new certificate as well and all GET operations works fine. But when i try to send POST or DELETE resource FE end up with "No server is available to handle this request." returned from proxy even though resource is actually created/deleted.

Everything works fine with http so wondering what mig

[2018-01-15 23:53] Vad1mo commented on #409
I'll try it in the next 2 days and post results here, as maybe others are also interested in such a setup as its not that uncommon.

[2018-01-15 23:59] vfarcic commented on #410
Normally, DFP does not set a GET/POST/PUT/DELETE protocol explicitly. If GET works, other should work as well (at least from DFP perspective). In most cases, certificates offloading is done in DFP. That means that HTTPS request is sent to the proxy which forwards it as HTTP (without S) to the destination service. I'd suggest we start by checking whether DELETE requests work without the proxy. Can

[2018-01-16 00:14] vfarcic commented on #380
@opHASnoNAME It's not necessarily only Virgin that hijacks `proxy`requests.

Can you please try changing the name of the DFP service from `proxy` to something else.

1. Proxy service: Change the name of the proxy service to, for example, `dfp`.
2. Proxy service: Add env. var. `SERVICE_NAME=dfp`.
3. Listener service: Change env. vars. `DF_NOTIFY_CREATE_SERVICE_URL` and `DF_NOTIFY_REMOVE_SERVICE_URL

[2018-01-16 06:01] jordijansen opened #411 "URL Rewriting not working"
Hi,

I'm having a little trouble with some basic set-up. Since we are limited to using docker-compose for development we have to write our set-up with environment variables instead of the Swarm listener.

For me the URL rewriting is not working, I have a basic set-up with docker-flow-proxy wich proxies a simple Nginx server that serves under / (root). The docker-compose file:

    image: vfarcic/d

[2018-01-16 07:42] opHASnoNAME commented on #380
Hi,

just tried, the error is still the same, any other suggestions?

Arne

[2018-01-16 08:53] alexya opened #412 "df proxy failed to forward access to my specified container"
**Description**
I used the DF proxy to forward access to 443 to my portainer website, but failed.

In fact, my goal is to use https://myserver.com/portainer to access my portainer server website.

**Steps to reproduce the issue:**

I can use http://myserver.com to access the simple web site. And I can access portainer by https://myserver.com:1444 very well. But when I used https://myserver.com/por

[2018-01-16 09:03] nohaapav commented on #410
Hi yes normally it works like charm, either with opened port or via DFP (HTTP) .. It only happens when HTTPS is used. I'm using DFP companion to get ACME. Can see that certificate gets downloaded for provided serviceDomain and `GET` operation works fine with HTTPS but if i try to do `POST` or `DELETE` 400 is returned from proxy -> `no service is available to handle request` even though request is

[2018-01-16 11:23] dmelo commented on #380
Hi @opHASnoNAME , have you checked if your DNS is responding a default IP for non-existing names. In our case, that was the issue. Try switching to 8.8.8.8, just as a test.

[2018-01-16 11:30] opHASnoNAME commented on #380
Hi yes, it returns a IP for non existing DNS, but why does it work with a older release?

[2018-01-16 13:25] dmelo commented on #380
I don't know. I just remember that using the proper DNS (one that doesn't return IPs for non-existing names) solved the issue for me.

[2018-01-17 03:00] #411 closed

[2018-01-17 03:15] vfarcic commented on #411
I just made a fix. It's available as `vfarcic/docker-flow-proxy:18.01.17-97`. Can you please try it out?

[2018-01-17 06:11] jordijansen commented on #411
@vfarcic thanks for your fast response. Maybe I'm not understanding correctly, but it still doesn't seem to be working.  In my understanding if I navigate to http://proxy/blog/123 it should call the underlying backend at http://blogserver/123, is this correct?

When I look inside the container at the config generated I see no mention of a path replacement or anything.

[2018-01-17 07:53] alexya commented on #412
try more,
[code]

And I checked the haproxy.cfg from df-proxy container.
[code]

[2018-01-17 14:12] eonicle commented on #411
+1 here, REQ_PATH_SEARCH_REPLACE seems to be ignored at all, so we had to rollback to 17.12.02-72. IMHO, issue is with this [line](https://github.com/vfarcic/docker-flow-proxy/blob/426e4898b20aa6835dfdafdc25f72631d45a8e7f/server/server.go#L307). Shouldn't there be  `os.Getenv` method called as well?

[2018-01-17 14:59] aleskinen opened #413 "Odoo behinf docker flow proxy"
I wan t to run odoo begind docker flow proxy. It needs path /longpolling to be directed to different port in same service. In local nginx it would be:
location /longpolling {
    proxy_pass http://127.0.0.1:8072;
}
location / {
    proxy_pass http://127.0.0.1:8069;
}

Can this be done with docker-flow-proxy?

[2018-01-18 00:32] vfarcic commented on #413
You can use indexes to create different sets of rules. Your labels can be something like:

[code]

[2018-01-18 00:53] vfarcic commented on #411
@jordijansen You're right. I forgot to add the logic for `ReqPathSearchReplaceFormatted`. I had a limited time available and ended up with changes that were not properly tested. I'm building a new tag `vfarcic/docker-flow-proxy:18.01.18-98`. Can you please try it out and let me know whether it works as expected? I (again) had very limited free time and did only a very basic testing.

[2018-01-18 01:05] vfarcic commented on #412
With the current setup, DFP will send requests to Portianer without changing paths. http://myserver.com/portainer will be forwarded to `[PORTAINER_SERVICE]:9000/portainer`. You should use `reqPathSearchReplace` to rewrite paths. You can find an example in https://github.com/vfarcic/docker-flow-stacks/blob/master/docker/portainer-df-proxy.yml . Please let me know if this solves this issue.

[2018-01-18 01:12] vfarcic commented on #380
@opHASnoNAME I'm not sure why it worked before. It's likely that it's related with something else (change in the cluster, Docker version, etc). Can you try changing the name of the service to something else? Depending on the result, we'll plan the next step.

[2018-01-18 09:45] jordijansen commented on #411
That seems to be working now. But it seems like other options are also not working, do you want me to open a seperate issues for that (ALLOWED_METHODS, DENIED_METHODS, OUTBOUND_HOSTNAME)?

[2018-01-18 12:18] opHASnoNAME commented on #380
Changed the Name .. no difference. We have upgraded Docker from 17.05ce to 17.12ce .. this could ne the root cause of "our" problem.

[2018-01-18 15:19] vfarcic commented on #411
Seems that env. vars. were neglected. Feel free to post the list of vars. that do not work here or in a separate issue. Whatever is easier for you.

I noticed that you were checking the code so you might even give it a try with a PR?

[2018-01-19 00:58] vfarcic commented on #410
I don't think it's directly related to DFP. I have quite a few services with certificates and haven't noticed a similar problem.

Can you:

1. Send a DELETE HTTP (not HTTPS) request to the service and confirm that it works? You can do that by entering one of the DFP containers, installing curl (e.g., `apk add -U curl`), and issuing `curl -XDELETE http://[SERVICE_NAME]:[SERVICE_PORT]/...`.
1. Post

[2018-01-19 01:00] vfarcic commented on #380
@opHASnoNAME Can you enter into one of the DFP containers and `apk add -U drill && drill tasks.proxy`?

[2018-01-21 00:32] vfarcic commented on #412
If I remember correctly, you'd need to add `/` to the end of the address. Something like http://myserver.com/portainer/. Portainer itself behaves strangely without it. Please let me know if that's what you were looking for. As a side note, I'd recommend using sub-domains instead. They do not require additional steps and are more reliable and easier to remember.

[2018-01-21 01:24] vfarcic commented on #357
Closing to due inactivity. Please let me know if you'd like to reopen the issue.

[2018-01-21 01:24] #357 closed

[2018-01-21 01:27] #376 closed

[2018-01-21 01:34] #408 closed

[2018-01-22 09:59] HDimka opened #414 "Cannot setup affinity configuration"
Hello, I am trying to setup affinity that described in this article - https://www.haproxy.com/blog/load-balancing-affinity-persistence-sticky-sessions-what-you-need-to-know/
 but I cannot do this using my compose file:

[code]

Variable BACKAND_EXTRA gives nothing, backend remains the same:
[code]
Please tell me where I am wrong and how I can setup affinity or IP sticknes.

[2018-01-23 01:55] alexya commented on #412
yes. I have resolved the issue. thx a lot.

[2018-01-23 01:55] #412 closed

[2018-01-23 07:01] opHASnoNAME commented on #380
Sure this should be possible. And then?

[2018-01-24 11:18] jordijansen commented on #411
I don't have any experience with Go yet. I'll create a separate issue for the env variables that are not working.

Would love to help you with this great project but can't promise anything as I'm quite busy with a project at the moment.

[2018-01-24 11:24] jordijansen opened #415 "Environment variables not working when using manual configuration"
Hi,

I've noticed that a lot of the [environment variables](http://proxy.dockerflow.com/usage/#environment-variables) are not working at the moment. The variables I've noticed that are not working are:
- ALLOWED_METHODS
- DENIED_METHODS
- SET_REQ_HEADER
- OUTBOUND_HOSTNAME
- BACKEND_EXTRA
- VERIFY_CLIENT_SSL

I expect there are even more that are not working as it seems to be a general issue with

[2018-01-24 16:18] jordijansen commented on #415
I'll try to get a PR ready this week for this issue.

[2018-01-25 00:17] vfarcic commented on #380
Can you please send the output you got from those commands?

[2018-01-25 00:22] vfarcic commented on #415
That's great! Thank you in advance @jordijansen.

[2018-01-25 05:41] opHASnoNAME commented on #380
sorry forgot it yesterday - will try it when i am back at the office.

[2018-01-25 15:19] vfarcic commented on #414
DFP is designed to work with Docker Swarm and it's networking. Overlay network does load balancing leaving DFP to do forwarding based on paths, domains. In other words, DFP decides which service should receive a request, Overlay network does load balancing. If Ovelay's algorithm is not suitable, you'd need to change the networking.

DFP can work with replica IPs instead of services but that is not

[2018-01-25 17:48] Vad1mo opened #416 "How to track down ERR_SSL_PROTOCOL_ERROR"
I have an issue where every 1 of 10 request receives an ERR_SSL_PROTOCOL_ERROR. Now I want to track down this issue however there aren't anything in the DFP logs.

How can we track down this sporadic error?

We have a bit of a special setup with an TCP LB in front of DFP (3 Nodes) the TCP LB is configured in Round Robin with Source IP sticky session. So each request should go to the same DFP node.

[2018-01-25 19:07] vanbroup commented on #416
We look to have a similar issue but without any TCP LB in front, in this setup, we have a three-node swarm cluster.  With a simple curl loop that makes a request to one specific node in the cluster, you can clearly see the problem.

(ip address and hostname redacted)
[code]

Result:
[code]

[2018-01-25 21:56] Vad1mo commented on #416
Interesting, exactly the same error.  We have 3 worker nodes each running a DFP instance. We  @nib0r `docker-flow-proxy-letsencrypt` to get our certs that we store in cinder fs and swarm secrets.  Our Cluster is running on OpenStack.

Error:
[code]

I will bypass the LB and try to  reproduce the error, I think this should be reproducible.

CI Jenkins config for DFP.

[code]

Here is our proxy conf

[2018-01-25 22:01] Vad1mo commented on #416
Searching on the internet I found some references:

Reproducible be trying to establish a TLS connection to an HTTP endpoint. e.g.
[code]

[2018-01-25 22:56] vnkmpf commented on #380
Hi guys, I had the same problem. I had the same problem. The external IP was some IP of my VPS provider, but not mine.
What finally did work for me was editing `/etc/resolv.conf` and commenting search-line.

[2018-01-26 06:55] opHASnoNAME commented on #380
`/ # apk add -U drill && drill tasks.proxy
fetch http://dl-cdn.alpinelinux.org/alpine/v3.6/main/x86_64/APKINDEX.tar.gz
fetch http://dl-cdn.alpinelinux.org/alpine/v3.6/community/x86_64/APKINDEX.tar.gz
(1/2) Installing ldns (1.6.17-r5)
(2/2) Installing drill (1.6.17-r5)
Executing busybox-1.26.2-r9.trigger
OK: 8 MiB in 18 packages
;; ->>HEADER<<- opcode: QUERY, rcode: NXDOMAIN, id: 39743
;; flags: qr

[2018-01-26 08:14] jordijansen commented on #415
I've added a PR to resolve this. Let me know if I should change anything.

I think the docs could also be improved regarding the environment variables, because some env variables can only be used at certain levels. I distinguish 4 levels:
- global (for example: DO_NOT_RESOLVE_ADDR)
- DFP_SERVICE (for example: DFP_SERVICE_HTTPS_ONLY)
- DFP_SERVICE_1 (for example: DFP_SERVICE_1_SERVICE_PATH)
- DFP_S

[2018-01-26 09:07] vanbroup commented on #416
We are using docker secrets to store the pem files and regular publicly trusted EV certificates. I have redeployed the proxy stack and found that the problem became much less frequent.

I also upgraded the docker compose file to version 3.1 and added the secret ids to the `secrets` section so that the proxy can always access the certificates.

Also, and probably more closely related to the problem

[2018-01-26 09:26] Vad1mo commented on #416
@vanbroup, It almost looks we are working on the swarm cluster.

I also see `ould not resolve address` and `Failed to initialize server(s) addr.`  this seems to cause problems to DFP. We are using OpenFass that has a few dozens of containers. After removing the stack it got a bit better.

Can you post an example regarding your **secrets** section and ids. I couldn't find anything on the net.

[2018-01-26 09:28] Vad1mo commented on #416
@vfarcic are  **seamless reloads** on the roadmap of DFP or are they already included?

[2018-01-26 09:58] vanbroup commented on #416
Hi @Vad1mo, here is a redacted version of my config:

[code]

[2018-01-26 09:59] vanbroup commented on #416
I did some ab benchmarks to check when and how often requests are failing under some more realistic request volume and noticed that **when I make 1000 requests 250 requests will fail, always**!

[code]

I did run this test many times, even with different concurrencies, but exact 250 requests fail.
[code]

@Vad1mo can you try this on your cluster?

[2018-01-26 10:40] vanbroup commented on #416
It looks to be quite stable for me at the moment:
[code]

[2018-01-26 12:05] stuart89 opened #418 "Grafana not working properly using serviceDomain label"
Hi,
I'm setting up grafana in aws with Docker for aws cluster. I configured dfp with serviceDomain label.
This is my compose file:

[code]
I can access the login page (http://grafs.mydomain.com/login),
but once I'm logged I get a black screen.
When I inspect the network call to their api http://grafs.mydomain.com/api/dashboards/home returns **404**
The only way I was able to make it work is by exp

[2018-01-26 13:43] vfarcic commented on #380
@opHASnoNAME That output means that:

a) DFP service is not called `proxy`
b) the container from which you executed the commands is not connected to the same network as DFP.
c) there's something wrong with the Overlay networking in your cluster

If a) and b) are not true (that should be easy to verify), the c) is the most likely cause of your issues. You might want to confirm that ports are open a

[2018-01-26 14:08] opHASnoNAME commented on #380
Hm, sounds strange - the older releases are working with the same setup?

[2018-01-26 14:21] vfarcic commented on #380
Networking is not coming from DFP. It is Swarm feature that DFP utilizes. Assuming that the test you executed is correct, it would indicate that there's something wrong with the Swarm setup, not with any specific service. I can't tell you much more without additional info. We can schedule a screen-sharing session sometime next week and go through it together. Until then, I'd suggest creating two s

[2018-01-28 08:44] Vad1mo commented on #416
right now this is are my results: 1643 failed out of 10000 or **16%**
This is pretty much stable no matter what service I test against.

[code]

[2018-01-28 09:21] ruudboon opened #419 "Mismatched double quotes"
Running 17.12.17-87 I get the following error

[code]

Looking at the /cfg/haproxy.cfg I see ling 59 is empty

[code]

[2018-01-28 09:27] ruudboon commented on #419
It was cause by

[code]

works without the quotes

[code]

[2018-01-28 09:27] #419 closed

[2018-01-28 09:43] vanbroup commented on #416
@Vad1mo they fail at content length, not on the connection. You actually have 0 connection failures:

[2018-01-28 12:26] #415 closed

[2018-01-28 12:33] vfarcic opened #420 "Refactor environment variables"
Try to refactor the code by making env. vars. parsing more generic instead hard-coding every parameter.

The `getServiceFromEnvVars` function inside `server/server.go` extracts each environment variable separatelly. It would be more efficient to iterate through all environment variables with the correct prefix, and convert them into structs automatically. Otherwise, we'd continue running into situ

[2018-01-28 12:41] vfarcic commented on #415
Available as `vfarcic/docker-flow-proxy:18.01.28-99`.

[2018-01-28 12:55] vfarcic commented on #418
I made a quick test on Docker for Mac using https://github.com/vfarcic/docker-flow-stacks/tree/master/metrics#grafana-df-proxyyml . It worked. Can you please try the same. That way we'll the possibility that there's something "strange" in your cluster or the proxy config.

[2018-01-28 16:06] nohaapav commented on #410
Its kinda strange. I have 3 swarm clusters which 2 of them are using LE with companion and works fine (TEST/CI). The one i have the issue with(PROD) is using 4 custom certificates. These are valid according ssllabs.

GET operation work like charm but once i try POST/DELETE with https it fails in random cases.
I turned off default 400 redirect and response in case of failure is:

[code]

DFP config

[2018-01-28 16:18] nohaapav commented on #410
I found similar issue here:

https://github.com/vfarcic/docker-flow-proxy/issues/405

[2018-01-28 16:34] nohaapav commented on #410
Well problem solved. The issue was indeed caused by http2.

@vfarcic  Feel free to close, and many thanks for amazing project ;)

[2018-01-28 16:39] vfarcic commented on #403
@morsik I could not reproduce it. Did you have any luck reproducing the issue or was it a one-time thing?

[2018-01-28 16:40] #410 closed

[2018-01-28 16:54] vfarcic commented on #413
Please let me know if the suggestions solved the issue or it still persists?

[2018-01-28 19:12] #369 closed

[2018-01-28 20:02] vfarcic commented on #394
Sorry for a very long delay with this issue. Could not find a free moment to work on it until now.

`userDef` parameter was added to the [release 18.01.28-100](https://github.com/vfarcic/docker-flow-proxy/releases/tag/18.01.28-100). I hope it's still useful to you.

Please let me know if it works as expected.

[2018-01-28 20:02] #394 closed

[2018-01-28 20:08] aleskinen commented on #413
This seems to work fine. Log has some warnings about order of settings, but seems to work fine with latest version.

[2018-01-28 20:08] #413 closed

[2018-01-29 00:14] morsik commented on #403
Unfortunately I was unable to reproduce that :(

[2018-01-29 06:56] jordijansen commented on #420
Yes, was thinking about this as well. If I have some spare time, I'll work on it.

[2018-01-29 10:57] opHASnoNAME commented on #380
Hi,

we use only one Node for this Setup but with swarm enabled. All other services are connected like expected (db to application etc.). If i ssh into the application container and execute ping against other services on the same overlay network via dns name it returns a internal ip.

[2018-01-29 11:49] Vad1mo commented on #416
Hmm, true. It seems to be quite now after I created a completely new cluster. I still have no clue what was the cause of the problem. However I leave this thread open for a few days to see if I can reproduce the issue.

[2018-01-29 13:23] vfarcic commented on #403
I'll close it for now as not reproducible. Feel free to reopen it if you manage to reproduce it.

[2018-01-29 13:23] #403 closed

[2018-01-29 14:01] vanbroup commented on #416
I think this has something to do with a syncing/config validation issue of individual proxies, even now our problems look to have resolved by reinstalling the docker flow proxy that doesn't mean the problem is resolved or is not coming back. I'm concerned that this issue might come back after updating or provisioning services on the cluster.

[2018-01-29 14:08] Vad1mo commented on #416
for us this is a big setback, as we now can't switch to the new swarm cluster. We need to do more testing and slowly start migrating test environments first.

[2018-01-29 14:15] redtex opened #421 "OUTBOUND_HOSTNAME env.variable is ignored and SERVICE_NAME treated as it instead"
When I try to add non-swarm service, according to http://proxy.dockerflow.com/non-swarm/ , I have to use OUTBOUND_HOSTNAME env.variable to inform flow-proxy about non-swarm service backend address, and SERVICE_NAME as service identifier.
But now, it's not.
SERVICE_NAME is used as service identifier and has to be resolvable hostname, which is used as service backend address
OUTBOUND_HOSTNAME is jus

[2018-01-29 14:25] redtex opened #422 "Wrongly parsed env.variables while trying set non-swarm service"
**Description**
When I try to configure non-swarm service, which communicates through https with proxy, I've got 403 error.

**Steps to reproduce the issue:**
1. Run Docker (17.09) in swarm mode
2. Create secret with private key and certificate
3. Deploy docker-flow-proxy service with https://raw.githubusercontent.com/vfarcic/docker-flow-proxy/master/docker-compose-stack.yml stack file
4. Add secr

[2018-01-29 15:53] vfarcic commented on #380
@opHASnoNAME I'm not sure how to proceed but to have a screen-sharing session. Would that be an option?

[2018-01-29 16:03] shebinbabu05 opened #423 "DFP to handle SSL pass through"
**Description**

I have a requirement to run DFP in mode http for port 80 and in mode tcp for port 443.
I have updated DEFAULT_PORTS="80", apart from that all the other environment values are same as in here: https://github.com/vfarcic/docker-flow-proxy/blob/master/Dockerfile

I have used DFP for my cluster that runs nearly 70 services. However, I am now stuck at a point where I might need your he

[2018-01-29 16:52] wheelybird commented on #394
Hi.  Thanks a lot!   I've moved back to static haproxy for the time being, but I'll give it another try as soon as possible and let you know.

[2018-01-29 17:39] sonorati commented on #418
Hi Viktor,
Applied your example in my cluster and I'm still having problems.
So created a new aws cluster from scratch and it worked perfectly fine.
Thanks for you time!

[2018-01-29 17:47] vfarcic commented on #418
I'm sorry for not being able to tell you what the cause of the problem is. However, now at least we know that it is likely related to the way the cluster was previously set up. It might also be a coincidence or something else but the cluster setup is probably a good start.

[2018-01-29 17:47] #418 closed

[2018-01-29 18:29] shabbirkagalwala opened #424 "Portainer Setup with DFP"
**Description**

Hi Viktor,

First of all thank you for this awesome project!

I would like your help with some setup or configuration I might be doing wrong. So I am trying to use Portainer with DFP (see command below) and even though I define ports that it can be accessible on, I can still get to it without the port in the url. For example
`https://portainer.companydomain.com` works as well as `

[2018-01-29 20:34] vfarcic commented on #424
Are you trying to make only that application accessible on the port 7442 or each service should have a different port?

[2018-01-29 21:09] shabbirkagalwala commented on #424
Hi Viktor, thank you for the reply. I am trying to make only portainer accessible on only 7442 i.e. `https://portainer.companydomain.com:7442` and not on 443. Currently it is accessible on both the ports.

[2018-01-29 22:39] #421 closed

[2018-01-29 22:56] vfarcic commented on #421
it's fixed and available as the `vfarcic/docker-flow-proxy:18.01.29-101` tag. Can you please try it out and let me know whether it works as expected?

[2018-01-29 22:56] vfarcic commented on #422
This might have been caused by the problem described in #421 and fixed in `vfarcic/docker-flow-proxy:18.01.29-101`. Can you please try it out with `vfarcic/docker-flow-proxy:18.01.29-101` and let me know if the issue still persists.

[2018-01-30 08:42] remy-tiitre commented on #424
For Portainer you have to use:

[2018-01-30 08:48] remy-tiitre opened #425 "Docker Secrets and dfp prefix"
You can create secrets like dfp_stats_user and dfp_stats_pass. But when they might get compromised its impossible to roll them without stoping the service. My usual convention is that I add .v1 or .v2 at the end of secret. So when I need to roll them I just create a new secret with new postfix and attach that to the service. When all instances have been updated I just delete the old secret. So in

[2018-01-30 08:50] remy-tiitre commented on #425
Never mind, I can map them in container to dfp_stats_user and dfp_stats_pass.

[2018-01-30 09:03] HDimka commented on #414
thanks, you can close the ticket.

[2018-01-30 09:03] #414 closed

[2018-01-30 09:50] redtex commented on #421
Victor, thank you for fast response.
Yes, now it's works as expected..

[2018-01-30 10:13] redtex commented on #422
Hello, Vicror !!!
Thank you for fast response.
Sadly no, the problem not solved.
The service is ran with:
[code]
And we have:
[code]
So, I still have a 403 error.

[2018-01-30 12:50] opHASnoNAME commented on #380
Thats no option (-: cooperate network. Will try to reproduce it on my own VMs. Until then i would suggest to close this issue.

[2018-01-30 19:21] #425 closed

[2018-01-30 19:28] vfarcic commented on #422
I think that what you're looking for is the `verifyClientSsl` parameter. Can you try it out?

[2018-01-31 09:16] vfarcic commented on #423
Can you make `shebinbabu05/nginx-ssl` (or a stripped down version) public? That would help me simplify testing.

[2018-01-31 10:06] redtex commented on #422
Accroding to http://proxy.dockerflow.com/usage/ `verifyClientSsl` must be set to `false` by default.
Anyway, I've already set VERIFY_CLIENT_SSL to `false` with no success. It seems, like flow proxy sets VERIFY_CLIENT_SSL to `true` when SSL_VERIFY_NONE set to `true`. I think, it's some parsing error in code.

[2018-01-31 10:16] redtex commented on #422
I think, here is wrong code in docker-flow-proxy/server/server.go:
`verifyClientSsl, _ := strconv.ParseBool(os.Getenv(prefix + "_SSL_VERIFY_NONE"))`

[2018-01-31 10:29] vfarcic commented on #422
Can you make a PR?

[2018-01-31 10:36] redtex commented on #422
Never done this before.
I'll try.

[2018-01-31 10:40] redtex commented on #422
https://github.com/vfarcic/docker-flow-proxy/pull/426

[2018-01-31 14:21] redtex commented on #422
Don't know why, but this PR not passes UnitTests - co I close it, and there is one more line, which should be changed:
[code]

[2018-01-31 14:34] goncalo-oliveira commented on #352
I'm having a similar problem. I added a .pem certificate as a secret and added it to the proxy service, but as the service reloads, it doesn't seem to be able to find any certificates.

The certificate is in .pem format and was exported with openssl from a .pfx. It is a wildcard certificate. I made sure the name of the secret starts with 'cert-' as per documented. Could this be because the content

[2018-01-31 15:02] goncalo-oliveira commented on #352
Actually, it seems to be working. I ignored the load balancer configuration, which wasn't letting https to pass through. The message seems to be unrelated - no certs found directly from docker-flow-proxy/certs. It isn't outputing anything related to the one on the secrets.

Cheers!

[2018-01-31 17:43] #422 closed

[2018-01-31 17:57] vfarcic commented on #422
It should be fixed and available in `vfarcic/docker-flow-proxy:18.01.31-103`. Can you please try it out?

[2018-02-01 07:50] redtex commented on #422
Victor, thank you. Now it works as expected.

[2018-02-01 10:33] jordijansen opened #427 "backendExtra properties are ignored"
Currently the backendExtra property is ignored.

If you look at the code it's not mapped to the Service. This applies to both environment variable configuration and the docker swarm label config.

Hope to have a PR in quickly.

[2018-02-02 07:25] Vad1mo commented on #416
Here we are again, 5 days later.

[code]

So the cluster was more or less idling for 4 days until yesterday.

A faulty (test) service was deployed that constantly retried to start and failed. The stack was removed after a few hours. All nodes where and are operational. On the surface everything looks as usual.

[2018-02-02 07:58] jordijansen commented on #427
After further investigation it seems to be workin

[2018-02-02 07:58] #427 closed

[2018-02-02 07:59] jordijansen commented on #427
I was wrong. It does not working when using indexed config (f.e. com.dfp.service.1.backendExtra) but I think this is by design.

[2018-02-03 11:48] vfarcic commented on #345
Closing the issue as being older than 90 days and without any activity.

[2018-02-03 11:48] #345 closed

[2018-02-03 11:55] vfarcic commented on #407
Please let me know if this issue can be closed.

[2018-02-03 13:26] a0s opened #428 "LISTENER_ADDRESS not accept port number"
Hi! I need something like LISTENER_PORT, found that it is hardcoded :(
https://github.com/vfarcic/docker-flow-proxy/blob/5b80c5c124f1210f0ca1cdb74362e504468ff7bb/server.go#L79

[2018-02-03 13:34] vfarcic commented on #428
Can you please let me know what's your use-case? Normally, DFP and DFSL are connected through Overlay network and, in that case, the port is irrelevant since Overlay can have as many services on the same port as needed.

[2018-02-03 15:14] a0s commented on #428
My current configuration is
[code]
In ingres mode i cant use 8080 port for both service so i moved proxy-proxy to 8081. But, for example, i cant move proxy-listener to another port because proxy-proxy know about 8080 port only

[2018-02-03 16:25] Vad1mo commented on #416
Not sure if this is of any help
But after the TLS error we also see this type of issues as well

[code]

[2018-02-03 17:04] Vad1mo commented on #409
so, after ~~2~~(19) days, I was able to setup the service:

So this is my config:

*Frontend*
**app.domain.com**
- com.df.servicePath=/,/v2/token,/v2/webhooks

*Backend*
**app.domain.com**
- com.df.servicePath=/v2/

Everything in `/*, /v2/token /v2/webhooks` should go to the frontend.
Everything to `/v2/*` should go to the backend except `/v2/token /v2/webhooks`

However with the current setup eve

[2018-02-03 17:44] vfarcic commented on #409
You're right. HAProxy evaluates ACLs from top to bottom. They are alphabetically ordered in the config using `aclName` or, if empty, `serviceName`. The exception are services that have `/` in the path. Since it's catch-all path, it's placed at the bottom. As a result, the backend is evaluated before the frontend and all requests with a path that starts with `/v2/` are forwarded to it.

The problem

[2018-02-03 17:48] vfarcic commented on #416
Do you think there is a way to reproduce this issue? I'm failing to grasp what the problem might be. If I could reproduce it somehow, I might be able to figure out the cause.

[2018-02-03 17:53] Vad1mo commented on #416
I can setup a test cluster and and deploy some test apps. I than can give you access to the nodes. So you could take a look at an actual instance.

I am not sure if we can reproduce it in vagrant. Maybe this is IaaS provider related. @vanbroup who is you IaaS provider?

[2018-02-04 00:25] rubidot opened #429 "Document Full List of Docker Labels"
I see various Docker swarm service labels used to configure the proxy settings in the [tutorials](http://proxy.dockerflow.com/swarm-mode-stack/), e.g. `com.df.notify` `com.df.serviceDomain`, but I haven't found a list of all the available configuration labels. It would be great to have a quick reference for that.

[2018-02-04 00:32] vfarcic commented on #429
DFP accepts parameters through HTTP requests. They are documented in http://proxy.dockerflow.com/usage/. DFSL on the other hand, reads service labels and uses them to send requests to other services like DFP.

Please let me know if the list of parameters in [usage](http://proxy.dockerflow.com/usage/) documentation is what you were looking for.

[2018-02-04 07:04] vanbroup commented on #416
OVH (OpenStack) based.

I still strongly feel that it had something to do with nodes that keep reloading their config. Because of a (previous) misconfiguration.

[2018-02-04 10:16] Vad1mo commented on #416
Our Testcluster is also at OVH.(Not sure if that is really a pure coincidence) @vanbroup you can ping me on [https://devops20.slack.com/messages/D8XTC8L2C][1]

Meanwhile I'll setup a new dedicated cluster and reproduce the error. I am becoming pretty good at it.

[1]: https://devops20.slack.com/messages/D8XTC8L2C

[2018-02-06 09:53] Vad1mo commented on #424
FYI here is my portainer config:

[code]

[2018-02-06 10:17] Vad1mo commented on #416
The error indicates that a TLS request to a HTTP endpoint? Can it be that the swarm cluster is degraded and can deliver the certs in time? I am trying to understand in what circumstances DFP is service HTTP instead of TLS.

[2018-02-06 10:33] arrisde opened #430 "Config for websocket service"
I've been trying to use docker-flow-proxy to expose a websocket service running in my swarm stack. According to HAproxy docs and my own testing, the following settings in HAproxy's frontend section allow checking for presence of the HTTP upgrade header and routing to the websocket backend:

`acl hdr_connection_upgrade hdr(Connection) -i upgrade`
`acl hdr_upgrade_websocket  hdr(Upgrade) -i websocke

[2018-02-06 10:44] arrisde commented on #281
I'd also be interested in a solution to this. My use case is an IoT-backend for data collection from sensor devices that supports multiple types of protocols (websocket, MQTT, AMQP) all with TLS encryption that ideally I'd like to terminate using docker-flow-proxy.
It seems that in order to do this I'd need to be able to configure certificates on a per-service base which isn't possible currently,

[2018-02-06 15:26] faisyl commented on #281
If all services that you are trying to multiplex on a single port use HTTP (over TLS), then you can route using HTTP headers as you currently do in your #430 example. The termination and certificates to use will depend on the FQDNs in use. If you are using a single FQDN and single certificate, that will also work. The SNI base routing is useful if you wish to multiplex non-HTTP TLS traffic, your c

[2018-02-06 18:03] Vad1mo commented on #409
I got it now, I didn't want to change the application. However I was able to create better rules thanks to servicePathExclude.

[code]

[2018-02-06 18:03] #409 closed

[2018-02-07 10:39] arrisde commented on #281
I'm mostly interested in the non-HTTP TLS case at the moment. So if I understand correctly, you are saying that if I have a certificate satisfying either 1. or 2., DFP can be used with this certificate to terminate TLS for multiple non-HTTP services, either running on separate ports or routed via SNI (if supported by clients)?

I'd be curious to see an example for this. As far as I understand, the

[2018-02-08 02:15] eromoe opened #431 "How to auto map port xx to xx ?"
Hello,

I have read the doc http://proxy.dockerflow.com/swarm-mode-stack/
It looks like, all port be map to 80 on docker-flow-proxy running node, and need use sub directory to access it.

I have some service , I just want to map all of them to proxy running node,  expose  same port .

I mean something like below can open port 7000, 12000 on manager node to access corresponding services.
[code]

Ho

[2018-02-08 14:35] faisyl commented on #281
That's right. The DFP docs don't cover that scenario, but I think it should work with a cert in place as well. I'll try and test out this scenario and post results here.

[2018-02-08 20:15] vfarcic commented on #431
You should adde env. var. `BIND_PORTS=7000,12000` to the proxy as well as `com.df. srcPort=7000` as an additional service label.

Before you do that, please check whether you need the proxy for that or not. If all you want is to serve one service on one port and the other on the other port, you might not need a proxy at all. It should be enough to simply publish those ports.

[2018-02-08 20:18] ruudboon commented on #354
Experienced the same issues with letsencrypt.

[2018-02-08 20:49] ruudboon commented on #356
Looking at this now I'm wondering if I should submit this NFR to the https://github.com/hamburml/docker-flow-letsencrypt project

[2018-02-08 21:05] vfarcic commented on #356
@ruudboon It would help a lot if you could figure out what is needed in HAProxy and try it out (enter into a DFP container, change the config, reload). What do you think? Is that an option?

[2018-02-08 21:18] ruudboon commented on #356
@vfarcic I was already looking into this (and some other SSL performance optimalisations like ssl session caching) but I'm not that experienced with HAProxy and struggling to reload the config in the swarm. I'll let you if I can get it working.

[2018-02-09 01:35] vfarcic commented on #356
Reloading is relatively easy. Find the ID of one of the DFP containers, enter into it (e.g., `docker container exec -it [CONTAINER_ID] sh`), edit the config (e.g., `vi /cfg/haproxy.cfg`), and reload (e.g., `curl localhost:8080/v1/docker-flow-proxy/reload`). I can check it (experiment) myself but I'm not sure I'll be able to find time before the weekend after next.

[2018-02-09 05:53] eromoe commented on #431
Thank you .

I just want to make all services can be accessed on one node, so that test would be easy.

[2018-02-09 05:54] #431 closed

[2018-02-10 21:57] vfarcic commented on #399
Closing due to inactivity. Please let me know if you'd like to reopen this issue.

[2018-02-10 21:57] #399 closed

[2018-02-10 22:16] vfarcic commented on #430
HAProxy should switch automatically from HTTP to tunnel mode when the client request a websocket.

The lines of the config you specified are often used when one wants to forward requests to one service or the other based on whether it's HTTP or WebSocket connection.

Can you please confirm that automatic switch from HTTP to tunnel mode did not work?

[2018-02-11 13:14] arrisde commented on #430
Actually, I just tested again and you are correct, it seems websocket connections "just work" with the standard config for HTTP services. I have no clue why I couldn't get this running when I tried before. Appologies for opening an issue about this.

[2018-02-11 13:14] #430 closed

[2018-02-11 15:37] Vad1mo commented on #424
@remy-tiitre  can you elaborate a bit more on `http-keep-alive`
what might happen if one does not set it or what problem does this error covers?

[2018-02-12 09:43] basz opened #433 "reqPathSearchReplace has priority over servicePaths label"
Not entirely sure what you exactly meant here I'll just post the conversation... But *if* you where referring to the issue given titel...

Given a container that serves the mentioned servicePath files from `/` (not from `/.well-known`) you would expect to be able to use a label such as.

- com.df.servicePath=/.well-known/security.txt,/.well-known/security.txt.sig,/.well-known/security.pgp.key.txt,

[2018-02-12 15:34] cazacugmihai opened #434 "multiple services mapped under a common name"
Hi,

Let's say that we have three services and each one is listening on port `8888` but it is started with a different configuration (e.g. a different mounting volume).

Is there a way to configure the proxy in order to obtain this behavior:
when we are trying to access `http://localhost/`, the proxy will redirect the request to any service that is alive?

Thank you!

[2018-02-12 16:11] cazacugmihai commented on #434
It is enough to use something like this:

[code]

for each service? It seems to work but I need your confirmation.

Thanks!

[2018-02-13 08:40] cazacugmihai commented on #434
The services are based on the same image but have different configuration (the mounting volume). They form a replicated storage which assures me that if a node is down, the others can provide the requested information.

What I want is to have a single point of access to these services. E.g.: having the services `storageA`, `storageB` and `storageC`, the proxy should allow me to access them by usin

[2018-02-13 14:01] basz commented on #433
If i remember correctly;

Rewrite is done first. Which means my servicePath should become `/security.txt`.

That means that any service in the swarm that serves `/security.txt` would get it overriden by mine.Obviously I only want to override '/.well-known/security.txt'.

So if servicePath is '/.well-known/security.txt'
then forward after rewriting `/security.txt` to my container.

ps. I could well

[2018-02-13 16:04] vfarcic commented on #433
Rewrite is happening on backend and ACLs are in frontend. If, for example, `servicePath` is `/.well-known/security.txt` and `reqPathSearchReplace` is `/.well-known,`, the process for a request with the path `/.well-known/security.txt` is:

1. A request enters on port `80`
2. HAProxy processes ACL rules (one by one) defined in the front-end. The first rule that matches moves it to the corresponding

[2018-02-13 16:51] basz commented on #433
I might try to confirm that. I expected it to work this way...

letsencrypt-companion, but come to think of it i could give that a higher all priority

I'll leave it open for now as a reminder
thanks

[2018-02-14 00:42] vfarcic commented on #434
@cazacugmihai At the moment, that feature is not supported. Most users would run three replicas of a service attached to a network drive or by replicating data between those replicas (e.g., DBs). This is the first case I encountered with three services that should act as if they are one service with three replicas.

I'm not sure whether DFP should be the right tool to do something like that. If it

[2018-02-14 08:49] cazacugmihai commented on #434
Yes, you are right. On production, the services will be replicated and the problem is solved. But what if you want to run all of these services on a local machine (without resorting to VMware, VirtualBox or any other virtualization tool), in order to test the replication? As I said, each service instance is needing its own data directory and this cannot be done when the `replicas` is used. For thi

[2018-02-15 14:05] remy-tiitre commented on #424
Well, I took this information from https://portainer.readthedocs.io/en/stable/faq.html. Theres an HAProxy example and remark: Note: http-keep-alive must be set for both frontend and backend.

[2018-02-15 14:12] Vad1mo commented on #424
It says
**Note:** http-keep-alive must be set for both **frontend** and **backend**

The question is where is `- com.df.connectionMode=http-keep-alive` applied **frontend**, **backend** or **both**

[2018-02-16 18:22] vfarcic commented on #424
Environment variable `CONNECTION_MODE` is applied to the frontend. The service-specific parameter `connectionMode` (or label `com.df.connectionMode`) is applied to the backend.

@remy-tiitre Did you set both?

[2018-02-16 18:25] Vad1mo commented on #424
Thank you for the info. A bit off topic if I set CONNECTION_MODE it will be applied to all frontends right? Is it planned to have it also on service level@

[2018-02-16 18:27] vfarcic commented on #424
Frontend settings cannot be on service level since a single frontend (single port) is used for multiple backends (services). That being said, it should be enough to set connection mode only on the backend. It's like an overwrite of frontend settings.

[2018-02-17 18:43] vfarcic commented on #434
I think I understand what you need. However, I'll have to put this as `low-priority` since there aren't many in such a situation.

Would you be willing to work on this yourself? I can walk you through the code.

[2018-02-17 19:09] cazacugmihai commented on #434
Yes, please write here the steps that you would have followed in order to implement this feature. Thanks!

[2018-02-20 08:18] WolfspiritM commented on #416
I'm currently running into a similar issue but not sure if it's related.
I have docker-flow-proxy deployed together with hamburml/docker-flow-letsencrypt.
Whenever I do an update to the proxy (like adding an env-var for configuration) so it has to restart it doesn't seem to pull the certificate informations anymore and I get:
[code]
With a ERR_SSL_PROTOCOL_ERROR.

When I then do a "docker stack rm

[2018-02-20 10:11] vfarcic commented on #434
Sorry for not responding earlier. I'm on a trip with very limited free time. I'll write the steps during the upcoming weekend (if not before).

[2018-02-21 17:35] remy-tiitre commented on #424
I didnt set ENV variable so backend only. I think it defaults to http-keep-alive on frontend.

[2018-02-21 17:44] remy-tiitre opened #435 "Confusion with indexes"
Documentation could be more clearer about the indexed labels. For example, lets say that I have one service that I want to publish to different domains with minor differences. Its not very clear should i use
        - com.df.port=8080
        - com.df.servicePath=/
        - com.df.serviceDomain.1=example1.com
        - com.df.serviceDomain.2=example2.com

or do I have to duplicate port and servic

[2018-02-21 21:29] vfarcic commented on #435
Not all parameters can be indexed. Only those that have indexing explicitly mentioned in parameter description or in the text below parameter tables are indexable.

I think there might be two problems in this issue.

1. Additional parameters should be indexable. Can you open a separate issue for that with the list of parameters you need to have indexes.
2. Unclear documentation. I'd appreciate any

[2018-02-22 07:52] remy-tiitre opened #436 "FR: Add indexing option to additional parameters"
These parameters should also be indexed:
- addReqHeader
- addResHeader
- delReqHeader
- delResHeader
- setReqHeader
- setResHeader

[2018-02-22 07:58] remy-tiitre commented on #435
Ok, can you answer the question about the first example. For example if the srcPort is indexed, do I have to index other parameters as well or it understands that when the servicePath for example is not index that the value has to be applied to both indexes?

And as verifyClientSsl is not indexed, it probably never will be? That would require two separate frontend configurations.

[2018-02-22 15:35] vfarcic commented on #435
You should index all the indexable parameters. Those that are not indexable apply to all indexes.

We can add the option to index `VerifyClientSsl` if there is a need for such a thing. No one had such a need so far but if there is a good use case, we can do it.

[2018-02-22 20:48] Vad1mo opened #437 "Ways to improve HA of DFP"
We are running DFP on 3 nodes in a 6 node cluster.  Right now we have about 20-30 services running. The 30 days avg. service availability is ~90%

This is has various reasons. One is DFP, DFSL, LetsEncrypt (not the only). Most prominently we see **503** errors even if the service behind DFP is fine. #221

We have noticed a few patterns that cause problems.

1. For example or CI server is reschedul

[2018-02-22 21:10] vfarcic commented on #437
I can imagine two likely causes of that issue.

1. Not all DFP replicas have the same config. This can be easily checked by comparing `/cfg/haproxy.cfg` of all the containers.
2. There's something wrong with Overlay network.

Can you check point 1? From there on we can plan the next step.

DFP is checking whether targets are reachable. If they're not, it pauses and retries, unless a sufficient num

[2018-02-22 22:08] mhabegger commented on #437
We've seen a very similar behavior with a similar setup. (AWS, 3x t2.small Managers, 3x t2.medium workers, Ubuntu Servers, docker-ce 17.12.9)
We were not able to pinpoint the issue either, except that when removing the overlay network and recreating it, the issue would solve itself.
We've reworked our deployment to use AWS Linux instead of Ubuntu, and have not seen the issue for 3 weeks. Fingers c

[2018-02-22 22:21] Vad1mo commented on #437
hmm, we had also a few problems with ubuntu, and had to change a few settings, now Ubuntu looks good. However thank you for the info about the OS. We will try another OS

[2018-02-23 07:51] remy-tiitre commented on #435
Ok, so when I index one parameter I have to index all that are indexable. Thats exactly that was confusing. Intuitivive way would have been that I have to index those that are different. Like this:
- com.df.port=8080
- com.df.servicePath=/
- com.df.serviceDomain.1=example1.com
- com.df.serviceDomain.2=example2.com

I can give you a very good use case and also implementation for VerifyClientSsl ind

[2018-02-24 16:16] vfarcic commented on #428
Closing due to inactivity. Feel free to reopen the issue.

[2018-02-24 16:16] #428 closed

[2018-02-24 16:17] vfarcic commented on #429
Closing due to inactivity. Feel free to reopen the issue if you'd like to continue the conversation.

[2018-02-24 16:17] #429 closed

[2018-02-24 16:28] vfarcic commented on #434
All data is kept in a map (https://github.com/vfarcic/docker-flow-proxy/blob/master/proxy/proxy.go#L6) and is available through its instance (https://github.com/vfarcic/docker-flow-proxy/blob/master/proxy/proxy.go#L10). The job would, most probably, be to modify `AddService` (https://github.com/vfarcic/docker-flow-proxy/blob/master/proxy/ha_proxy.go#L180) and `RemoveService` (https://github.com/vf

[2018-02-24 17:58] cazacugmihai commented on #434
Okay. I'm going to start working on it.

[2018-02-24 19:55] vfarcic commented on #435
I changed the code so that indexed values inherit from non-indexed parameters but the changes failed the tests. Seems that it's not as simple as I hoped.

I'll try again next weekend (if not before). If anyone would like to give it a try and discover what I did wrong, please take a look at https://github.com/vfarcic/docker-flow-proxy/commit/f8491d5a364585cf445c447e83e3d90dcf9e0039#diff-c8dd0e04131

[2018-02-24 22:33] cazacugmihai commented on #434
Can you check the [changes](https://github.com/cazacugmihai/docker-flow-proxy/commit/eb9b4578e179c3699a762ce92c7e8e5bdd6aaa2a) that I've done and give a feedback? I haven't tested anything yet. I'm just curious if the direction is good or not.

[2018-02-25 04:55] shabbirkagalwala opened #439 "DFP with Encrypted Docker Networks"
**Description**
I tried to use docker encrypted networks with DFP using the following commands:
`docker network create --opt encrypted --driver overlay proxy`

As mentioned on docker's website [https://docs.docker.com/v17.09/engine/userguide/networking/overlay-security-model/](url)

And DFP could not communicate with swarm listener (see the errors below)

Basically just follow the steps listed on

[2018-02-25 15:04] vfarcic commented on #439
I executed the same commands and the output of the `proxy` logs are as follows.

[code]

The first few failures were caused by DFSL not being available. As soon as it started running, the connection was established and DFP got configuration from it.

It seems that, in your case, the problem is with encrypted network traffic. Can you make sure that ESP traffic is allowed?

Excerpt from https://docs

[2018-02-25 20:06] shabbirkagalwala commented on #439
You sir, rock!! Thank you so much!!!

It worked liked a charm, I had totally missed out the ESP protocol part. Again thank you so much for your time.

[2018-02-25 20:06] #439 closed

[2018-02-26 19:52] thomasjpfan commented on #437
While trying to get the integration tests setup on my local machine (one node), sometimes instances of DFP are still running as a container even tho the service is not running. `docker service ls` returns no services, but `docker container ls` shows the proxy is still running. When I try to `docker container rm` the DFP container, it stalls. When trying to start a new DFP service in this environme

[2018-02-26 23:52] Vad1mo commented on #437
One again after the weekend first new service fails to start. 503 after restarting DFSL its working.

@jonlatorre single replica isn't an options for as because of HA and the limited allowed traffic per node. Thats why we need to user all the nodes.

Our current configs are:

[code]

I'll try it with your option to see if it gets better.

[2018-02-26 23:58] vfarcic commented on #437
@Vad1mo I understand the part of running multiple replicas but I'm not sure why do you need to use all the nodes (run it as global)? This question is for my own curiosity, not related to the issue.

Do you think you can make the issue reproducible?

@thomasjpfan I haven't noticed a similar issue with containers running after a service is destroyed. I was probably lucky. Do you think you can dig in

[2018-02-27 00:45] thomasjpfan commented on #437
I'm looking into it. A solution maybe to add the flag, `-g`, to `tini` as stated in their [docs](https://github.com/krallin/tini#process-group-killing). `tini` by default only kills immediate child process. Adding `-g` would kill the child process group:

[code]

DFP spawns child processes for haproxy, and for configuration verification.

Side node: I placed this issue on this thread, since this c

[2018-02-27 22:36] Vad1mo commented on #437
@vfarcic We have now only 3 worker nodes each with limited bandwidth to the internet and between each other. In front of the nodes there is an LB from the IaaS provider. For a minimal HA Setup we could run 2 replicas only but our applications receive files and the request are between 1-100mb which are limited to 100Mbps per upload stream. The connection between nodes is 1gb/s. Following situation

[2018-02-27 22:48] vfarcic commented on #437
@Vad1mo I don't think that running a service in `global` mode solves that problem. When a request enters one of the nodes, it is picked up by Ingress, and forwarded to one of the replicas of the destination service (in this case DFP). Before forwarding, Ingress performs round-robin to elect to which replica to send it.

In other words, if each node has a replica, that does not mean that it'll rece

[2018-02-27 23:51] Vad1mo commented on #437
Yes, you are right. I didn't consider this fact in all the details. After catching up the swarm networking details, I was able to run DFP in host mode bypassing the ingress mesh.

[code]

It seems like https://docs.docker.com/compose/compose-file/#host-or-none and https://docs.docker.com/engine/swarm/ingress/#bypass-the-routing-mesh are doing the same thing. I now configured both options and its n

[2018-02-28 00:19] Vad1mo commented on #437
If have set now the external LB into round robin mode and disabled sticke session. This means now that each request goes to a new DFP instance I now can fairly good reproduce this issue.

I have a freshly deployed DFP stack and Portainer(sample app for the  503 test)
all worker nodes are restarted. If I now open a Portainer page with ~30 request then on avg. on requests fails with a 503.

Here is

[2018-02-28 00:28] vfarcic commented on #437
@Vad1mo Can you check whether the configs of DFP containers are the same (it's in `/cfg/haproxy.cfg`)?

Confusing part is that one out of 30 requests fails. If there's a problem with synchronization of HAProxy configs, 1 out of 3 requests would fail on average (or whatever is the number of replicas). Following that line of thinking, seems that the problem might be in HAProxy itself, networking (Ov

[2018-02-28 00:56] Vad1mo commented on #437
Here is the diff:

Node 1 is different then 2 and 3
![image](https://user-images.githubusercontent.com/1492007/36763438-391c3a4c-1c28-11e8-9b24-39a869cd3ca3.png)

will do the load tests tomorrow and try some variations on them.

[2018-02-28 19:29] alexanderkjeldaas opened #442 "DFP can't detect services in its own stack."
In the example setup in http://proxy.dockerflow.com/swarm-mode-stack/, DFP is in its own stack, safely deployed before any services are deployed.

This creates a race-condition where one stack needs to synchronize with another in order to work.

Sometimes it is more convenient to have DFP in the same stack as its services and make that work robustly.

The default DNS lookup logic in HAProxy seems

[2018-02-28 19:35] alexanderkjeldaas commented on #437
Could #442 be part of the issue here?

HAProxy aggressively tries to avoid using DNS, while docker aggressively uses DNS.

Thus when HAProxy does some DNS resolution and it fails, it will assume the service is scaled to 0, it will assume the server is down for all eternity, unless explicitly told to reload/recheck.

In a docker setting, it seems like HAProxy must be configured to aggressively *che

[2018-02-28 19:37] alexanderkjeldaas commented on #442
Is there any issue with setting `resolve_retries 3600` instead of the default `3`?

[2018-02-28 22:04] Vad1mo commented on #437
It looks all good, However I think that you where right with your assumption. The node where portainer was running was picking at ~100%CPU and ~100%RAM after redeploying on another node things look normal again.

[2018-03-01 00:34] shazChaudhry commented on #423
@vfarcic I am also keen to understand if ssl passthough is possible with the proxy service. I will be grateful if you could point me to an example showing configuration.

[2018-03-01 09:39] goncalo-oliveira commented on #423
Isn't it something like this you want?

[code]

The documentation says about `sslVerifyNone` that

[2018-03-01 17:11] shazChaudhry commented on #423
Thanks @goncalo-oliveira for a quick response.
Please correct me _(and accept my apologies for making noise)_ if I am wrong but the example provided is for "SSL Termination" and not for the "SSL Pass-Through" that I was hoping to learn about.

Found this easy to understand article that explains the difference between "SSL Termination" and "SSL Pass-Through" at https://serversforhackers.com/c/using

[2018-03-02 01:29] shazChaudhry opened #443 "Feature Request: Indexable sslVerifyNone query parameter"
I would like to make a feature request for an indexable **sslVerifyNone** query parameter please.

My scenario is a single service providing multiple destinations such as:
[code]
As can be seen from the mapping above, some of the backend service destinations are SSL enabled which unfortunately I can not change. So, for the backend service destinations to be reached, the following strategy had to b

[2018-03-02 09:58] vfarcic commented on #443
I can work on this next Monday or Tuesday. Please let me know if that's OK or you need it more urgently.

[2018-03-02 16:59] shazChaudhry commented on #443
Thank you very much for considering this feature request. It really will be very helpful.

Next week is fine. It is not urgent.

[2018-03-03 14:47] vfarcic commented on #423
@shazChaudhry If you set the mode to tcp, it's always passthrough. Just remember that you won't be able to evaluate request paths and domains.

[2018-03-04 21:15] #443 closed

[2018-03-04 21:34] vfarcic commented on #443
It's available in the [release 18.03.04-114](https://github.com/vfarcic/docker-flow-proxy/releases/tag/18.03.04-114).

Please try it out @shazChaudhry and let me know if it works as expected.

[2018-03-04 21:41] vfarcic commented on #442
We can add a new env. var. that would overwrite the default value of `3`. Do you think that would work for you?

[2018-03-04 22:34] alexanderkjeldaas commented on #442
I'm not sure if this solves it... I did a local change and this didn't fully stabilize, so I think it's premature.

Pulling it out into a separate stack did fix all issues though, so there is something iffy, but probably not this, or not only this.

[2018-03-04 23:13] vfarcic commented on #435
@remy-tiitre Can you please try out the tag `vfarcic/docker-flow-proxy:18.03.04-115` and let me know if it works as expected?

[2018-03-05 10:14] shazChaudhry commented on #423
@vfarcic - Thats cool. Thanks

[2018-03-09 15:21] dantonini opened #444 "Multiple process inside docker-flow-proxy container cause http 503 error"
I'm using:
- vfarcic/docker-flow-proxy:18.03.04-115
- vfarcic/docker-flow-swarm-listener:18.03.03-33

on a 5 node swarm cluster with docker engine 17.12.1-ce

I experienced http error 503 when try to reach a service.
After some investigation I found the root of the problem: multiple haproxy processes in the same running docker-flow-proxy container.

I had to kill the container to fix the wrong beh

[2018-03-09 18:59] dantonini commented on #444
I faced this issue again:

Once I login into the container I see this output

/ # ps
PID   USER     TIME   COMMAND
    1 root       0:00 /sbin/tini -g -- docker-flow-proxy server
    7 root       0:01 docker-flow-proxy server
10110 root       0:00 sh
11482 root       0:00 haproxy -f /cfg/haproxy.cfg -D -p /var/run/haproxy.pid -s
11503 root       0:00 haproxy -f /cfg/haproxy.cfg -D -p /var/run/hapr

[2018-03-11 10:58] #423 closed

[2018-03-11 16:13] vfarcic commented on #444
I could not replicate this issue. New `haproxy` processes are spawned after reloads but in all cases the old ones were removed. On top of that, I have DRP in production and I just checked the processes inside its containers and in all replicas there's only one haproxy. I'm not sure how to proceed without being able to reproduce the issue.

Can you post your DFP stack or anything else you think mig

[2018-03-12 18:37] dantonini commented on #444
As requested,
DFP stack and applicative stack (only the docker flow related configuration).

[proxy-stack.yml.txt](https://github.com/vfarcic/docker-flow-proxy/files/1802365/proxy-stack.yml.txt)
[app-stack.yml.txt](https://github.com/vfarcic/docker-flow-proxy/files/1803247/app-stack.yml.txt)

I'm trying to replicate the issue, I'll keep you posted

[2018-03-13 18:32] dantonini commented on #444
I did some quick test.

A breif recap of docker swarm configuration:
- 5 VM on top of vmware esxi 6.0
- 3 manager

docker stacks:
- DFP
- my java stack, 4 containers with several replicas (2-4) each one

what I did:
- on master:
  while true; do docker stack rm mystack && sleep 30 && docker stack deploy .. && sleep 30
- on node on which docker flow proxy is running:
   while true; do docker exec -

[2018-03-13 22:20] dantonini commented on #444
Hi, I've replicated the issue also using the following stack:

version: '3'
services:
  sample:
    image: nginx
    command: [nginx-debug, '-g', 'daemon off;']
    deploy:
      resources:
        reservations:
          memory: 40M
        limits:
          memory: 60M
      replicas: 4
      labels:
        - com.df.notify=true
        - com.df.distribute=true
        - com.df.serviceDomainMatc

[2018-03-14 10:51] Nols1000 opened #445 "Bug: Firefox reports: "SSL_ERROR_RX_RECORD_TOO_LONG""
**Description**
The DFP doesn't encrypt the 503 if no service is configured. Also the error html looks different than normal.

**Steps to reproduce the issue:**
1. Start DFP with this docker-compose.yml
[code]
2. Go to https://somedomain/

**Describe the results you received:**
Chrome reports: "ERR_SSL_PROTOCOL_ERROR"
Firefox reports: "SSL_ERROR_RX_RECORD_TOO_LONG"

**Describe the results you expe

[2018-03-14 13:15] dantonini commented on #444
Today I did further tests, the issue seems to be related to:
docker stack rm

A loop of 2 o 3 docker stack deploy/rm is sufficient to have DFP containers with multiple process inside.

[2018-03-14 18:56] patrickleet commented on #444
@dantonini
did you try with latest DFSL? - looks like there was a PR that was merged after the version you used in above stack that adding queuing. rapid deploy/rm could cause issues due to latency delivery REST requests. Queue should make sure they are sent in order..

[2018-03-14 18:58] patrickleet commented on #444
thanks for digging into this btw!

[2018-03-14 23:07] dantonini commented on #444
@patrickleet
I'm glad to contribute!

Using the latest version of DFPL improve A LOT the overall stability of the DFP containers, but nevertheless I was able to reproduce the issue again using the same stack and sequence described in previous comments.

Full DFP stack I'm using is:
- vfarcic/docker-flow-swarm-listener:18.03.13-35
- vfarcic/docker-flow-proxy:18.03.04-115

With this stack I had to w

[2018-03-15 09:42] valeriomazzeo opened #446 "sticky-server on service update"
When using `com.df.sessionType: "sticky-server"`, the cookie on the client contains the specific container id.

When updating the service, that container id changes, and subsequent requests will fail with a socket connection error, until that cookie expires.

Is there anyway that docker-flow-proxy could invalidate the related cookies on containers update?

[2018-03-15 19:46] vfarcic commented on #445
It seems that the certificate is not correct.

[2018-03-15 20:00] patrickleet commented on #444
could we add a healthcheck, if count > 1, make it fail?

[2018-03-15 20:04] patrickleet commented on #444
maybe just modifying https://github.com/vfarcic/docker-flow-proxy/blob/master/scripts/check.sh to contain your checking logic as well would mitigate issues?

[2018-03-15 21:24] Nols1000 commented on #445
I know that the certificate is right. It works after I start a service that uses DFP. I think the DFP isn't configured right after the start.

[2018-03-16 12:27] felicienfrancois commented on #445
We have a similar issue with a docker-flow-proxy + nib0r/docker-flow-proxy-letsencrypt (using docker certs).
After restarting docker-flow-proxy, I get the same "SSL_ERROR_RX_RECORD_TOO_LONG" error. I need to delete secrets and makes docker-flow-proxy-letsencrypt regenerate the certificates (and also reconfigure the proxy) to makes it work again.
It seems not to reconfigure itself automatically aft

[2018-03-17 09:15] vfarcic commented on #445
@felicienfrancois I suspect that the problem is related to the DFPLE. Let's include @n1b0r into the conversation.

[2018-03-17 09:36] felicienfrancois commented on #445
@vfarcic if my issue is not related to the original issue reported by @Nols1000 , I will create a separate thread, not to polute this one

[2018-03-17 09:53] vfarcic commented on #445
As far as I know, HAProxy will return HTTP (without S) response when a request does not match any of the rules. I don't think that can be changed. Instead, we can setup an catch-all service that would respond to all requests that do no match the rules. Would that do the trick?

I'm not sure what you mean by "normal"? The HTML returned in case of errors comes from https://github.com/vfarcic/docker-

[2018-03-18 14:27] vfarcic commented on #444
During a short period there should be two haproxy processes (one terminating and the other one starting). `check.sh` would need to be a bit more "clever". Or, we can check that count <= 2. From what I understood, when processes do not die, they tend to be accumulated (>2) fast.

[2018-03-20 10:36] n1b0r commented on #445
@felicienfrancois Did you only restart DFP without restarting DFPLE ?

[2018-03-20 11:15] Nols1000 commented on #445
I'm getting another error page than https://github.com/vfarcic/docker-flow-proxy/blob/master/errorfiles/503.http.

The encryption works when a service was created.

[2018-03-20 12:06] unclebob418 opened #447 "HAProxy not starting"
**Description**
vfarcic/docker-flow-proxy:latest not starting

**Steps to reproduce the issue:**
1. `docker swarm init` (only using a single note atm)
1. `docker network create --driver overlay proxy`
1. `docker stack deploy -c dfproxy.yml proxy` (where dfproxy.yml is the same as https://github.com/vfarcic/docker-flow-proxy/blob/master/docker-compose-stack.yml but only using 1 replica as I only ha

[2018-03-20 21:46] dantonini commented on #444
I think that check.sh should be abort the container on abnormal scenario rather than use it to "fix a bug", obviously you can use also for check this aspect but this solution is far to be the optimal imho.

I am be able to reproduce the issue quiet easily, also do you?
should I fork, update check.sh and create a pull request for this?

Please let me know

[2018-03-22 12:07] miko commented on #287
FYI - I had exactly the same problem/solution as @carl-utter, I suggest adding this info to the FAQ - that would help me spare few hours of googling.

[2018-03-22 12:10] vfarcic commented on #287
@miko Can you do us a favor and submit a PR with the changes to the docs?

[2018-03-22 14:17] alexanderkjeldaas opened #448 "Document the semantics of docker-flow-proxy wrt the state transitions of containers"
I can't find any documentation on which states a container is in when docker-flow-proxy notifies various components.

For example, I would want HAProxy to be reloaded after the container is Healthy, not in Starting or Running states.

A sequence diagram like http://docs-aliyun.cn-hangzhou.oss.aliyun-inc.com/assets/pic/58588/cn_zh/1503972599061/%E6%97%B6%E5%BA%8F%E5%9B%BE.png (from https://www.alib

[2018-03-22 17:15] patrickleet commented on #244
Pretty sure the “tutorial” section covers that too
On Thu, Mar 22, 2018 at 9:19 AM Srigi <notifications@github.com> wrote:

[2018-03-23 02:45] unclebob418 commented on #447
bit extra info: all containers are stopping with error "task: non-zero exit (143): dockerexec: unhealthy container":

[code]

[2018-03-23 08:09] unclebob418 commented on #447
I was having seemingly unrelated trouble with @hamburml's docker flow lets encrypt companion which was unable to connect to the acme server. turned out to be a dns resolution issue from within the container which was resolved using instructions [here](https://aws.amazon.com/premiumsupport/knowledge-center/ec2-static-dns-ubuntu-debian/).

After figuring that one out, thought I'd give `:latest` anot

[2018-03-23 08:09] #447 closed

[2018-03-24 06:27] alexanderkjeldaas commented on #442
No, separate stack does not solve the issue.  HAProxy often gets into situations where it can think a backend is gone for hours.  I don't know how to get HAProxy to actually *use* DNS.

[2018-03-24 19:06] vfarcic commented on #435
Closing due to inactivity.

[2018-03-24 19:06] #435 closed

[2018-03-25 11:26] RaymondMouthaan opened #449 "Support for arm (rpi)"
Hello @vfarcic

Currently i am using a 5 rpi docker swarm cluster with HAProxy  with several backends. Now i came across your project and very well documented site. I am really interested to use this project for my swarm. Unfortunately I couldn't find the arm docker images for it.

Are there any plans to build the arm images as well? If needed it like to work together to make it available too for

[2018-03-25 16:11] vfarcic commented on #449
I'm not very familiar with ARM. Can you send a PR with, let's say, Dockerfile.rpi? If you can, I can add it to our Jenkins processes so that an ARM release is done with every commit.

[2018-03-25 16:13] vfarcic commented on #442
@alexanderkjeldaas Can you create a set of steps that would reproduce _HAProxy often gets into situations where it can think a backend is gone for hours_?

[2018-03-25 16:41] RaymondMouthaan commented on #449
Victor, thanks for the reply.

What I will try do is to build a docker image for your project using Travis as I already have some build some other images (see my github repo) this way. When it works I'll let you know and maybe you can us it as an example for your Jenkins process, so it gets part of your project instead of one of my own.

I saw there is a docker-flow-proxy_linux_arm release availab

[2018-03-25 18:49] vfarcic commented on #449
The release process already creates ARM binaries. The only thing needed is to create a Dockerfile that will be used to build ARM images.

Whatever works best for you. You can do it with Travis it takes is easier. From my side, if you add Dockerfile to the repo, I think I can take care of the process.

I haven't tested DFP with older Go versions. I guess it should work with any. As for HAProxy, it'

[2018-03-26 00:33] vfarcic commented on #448
DFP receives a notification from DFSL when a service is created. Neither knows whether the service is running and healthy, but only that it was created. Once DFP receives a notification about a new service, it tries to contact it. If the service is unreachable, it'll try again in a loop until it succeeds or retries time out. On the other hand, Overlay network will LB only to replicas that are heal

[2018-03-26 00:45] vfarcic commented on #444
Yes, please make a PR.

[2018-03-27 06:54] RaymondMouthaan commented on #449
Hello @vfarcic ,

I've managed to build **docker-flow-proxy** and **docker-flow-swarm-listener** for both arm and amd64 based upon the provided binaries.

The projects can be found at [docker-flow-proxy](https://github.com/RaymondMouthaan/docker-flow-proxy) and [docker-flow-swarm-listener](https://github.com/RaymondMouthaan/docker-flow-swarm-listener).

Just to summarise ...
**docker-flow-proxy**

[2018-03-28 05:37] thomasjpfan commented on #444
My ps output looks like this:
[code]
where the last number is the previous haproxy PID.

I noticed your ps output for haproxy looks like:
[code]
Is this the complete output?

[2018-03-28 12:17] vfarcic commented on #444
Can you give us the list of DFP env. vars. you're using? Maybe you overwrote default reloading strategy...

[2018-03-30 16:50] vfarcic commented on #449
Sorry for not getting back to you earlier. Too much work...

This looks great. Please send a PR with the new Dockerfile* (whenever you think they're ready) and I'll add it to Jenkinsfile. From there on, ARM image will be available with each release :)

[2018-03-30 16:54] RaymondMouthaan commented on #449
That's oke, I have been busy myself too.

Later today I'll do the PR as you requested 👍🏼. Also I will have a look at your docker proxy monitor project to have a dockerfile for arm too 💪.

[2018-03-30 16:56] RaymondMouthaan commented on #449
Btw using qemu isn't an issue for you from Jenkins?

[2018-03-31 22:48] vfarcic commented on #378
Closing due to inactivity.

[2018-03-31 22:48] #378 closed

[2018-03-31 22:52] vfarcic commented on #449
It's available from the [release 18.03.31-121](https://github.com/vfarcic/docker-flow-proxy/releases/tag/18.03.31-121).

[2018-03-31 22:52] #449 closed

[2018-04-01 09:58] masonb81 opened #452 "Swarm DFP with multiple ports (443 & 5601)"
I'm running within docker swarm the DFP with SSL configured via port 443 and trying to then also add it to be a reverse proxy for Kibana and serve on port 5601 using SSL. The sites work fine with HTTPS on port 443 but Kibana gives an SSL error but works fine using HTTP on port 5601. Can you see my configuration below what I might be missing? It would be preferable to make this work so Kibana is al

[2018-04-01 11:02] vfarcic commented on #452
Can you please post the full stack (with ES). That way I can reproduce is as-is in my cluster.

[2018-04-01 20:16] LelandSindt opened #453 "re-configuration loop."
**Description**

When multiple services are being started/stopped in rapid succession the HAProxy config verification can fail verifying previously configured services causing Proxy and Swarm-Listener to fall into an endless re-configuration loop. During this time no new/existing service state changes are seen by Swarm-Listener

**Steps to reproduce the issue:**
1. clone https://github.com/LelandS

[2018-04-02 12:29] masonb81 commented on #452
Hi Viktor,

Here is the contents of the ELK stack compose file:

version: "3.3"

services:

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.2.3
    environment:
      - cluster.name=docker-es-cluster
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - TZ=Europe/Helsinki
    networks:
      - logging_nw
    deploy:
      resources:

[2018-04-02 13:13] vfarcic commented on #452
Can you post your `kibana.yml` file as well?

[2018-04-02 13:28] masonb81 commented on #452
kibana.yml content:

server.port: 5601
server.host: "0.0.0.0"
#server.basePath: "/kibana"
elasticsearch.url: http://elasticsearch:9200

[2018-04-02 13:30] masonb81 commented on #452
Logstash configuration file content. Designed to process logs from kestral with serilog

input {
  beats {
    port => 5044
  }
}

filter {
  grok {
   match => { "message" => "%{TIMESTAMP_ISO8601:event_timestamp} ([+-]([01]?[0-9]|2[0-3]):[0-5][0-9]) \[%{LOGLEVEL:loglevel}\] %{GREEDYDATA:message}" }
   overwrite => ["message"]
  }
}

output {
  elasticsearch {
    hosts => "elasticsearch:9200"

[2018-04-03 23:36] thomasjpfan commented on #453
I'm currently looking into this.

[2018-04-04 03:06] thomasjpfan commented on #453
I think `swarm-listener` needs to be updated as follows:

1. Wait for services to become healthy by default.
2. Remove service notifications need to be sent out right away. (No waiting required)
3. If a service is waiting to be healthy and it is removed, no notification is sent out.

[2018-04-04 16:08] thomasjpfan commented on #453
This feature is implemented in `docker-flow-swarm-listener` with release tag `18.04.04-2` or later.

I just tested it out with your scripts and `proxy` is configured correctly after waiting for service "two" to become healthy.

[2018-04-04 16:25] LelandSindt commented on #453
@thomasjpfan  --- thank you!

I will test this case tonight. I will also throw the chaos.sh script at it.

[2018-04-04 17:18] jaschaio opened #454 "ERROR: Unable to send ServiceCreateNotify"
I am following the tutorial http://proxy.dockerflow.com/swarm-mode-auto/ but with a simple nginx test service instead of the go-demo.

This should work but I get the following error in my logs:

`ERROR: Unable to send ServiceCreateNotify`

It seems that it tries to send the service created notification to the proxy, but fails and retries until displaying the final error:

[code]

The error message

[2018-04-04 18:08] jaschaio commented on #454
It works when I place it on the same node as the proxy service via `--constraint 'node.role==manager'`

Anybody has an idea what could be the issue?

I have an ufw firewall running on the nodes but in theory the ports are open. Even if I disable it, it doesn't resolves the problem.

[2018-04-04 19:13] LelandSindt commented on #453
I have run `while true; do ./001_fail.sh && docker service rm two; done` for hours without issue :+1:

However, I threw in a couple of instances of chaos.sh and was once again able to wedge proxy/swarm-listener.

I will review more as time allows and provide details/reproduction examples...

[2018-04-05 02:19] LelandSindt commented on #453
The initial issue has clearly been addressed.

`while true; do ./001_fail.sh && docker service rm two; done` --or--- a single instance of `./chaos.sh` (found in https://github.com/LelandSindt/docker-flow-chaos-monkey.git) run without issue against `18.04.04-4`

I was able to wedge `18.04.04-4` once, using a couple instances of `chaos.sh` but I will open an new issue if/when I can reproduce it reli

[2018-04-05 02:19] #453 closed

[2018-04-05 05:48] jaschaio commented on #454
You were right, the ports were open on the nodes but not on the host. It works now. Thanks!

[2018-04-05 05:48] #454 closed

[2018-04-05 13:40] jaschaio opened #455 "Pass SSL to backend service"
I am running a registry which has both TLS and htpasswd authentication enabled:

[code]

I have verified that the TSL config works when I publish ports directly to the host.

When I try to use it together with the docker flow proxy I need to pass in the full certificate + key as a secret to the proxy. If I don't do it, it doesn't work.

It seems like `sslVerifyNone=true` alone is not enough to pas

[2018-04-06 01:42] LelandSindt commented on #453
`while true; do ./001_fail.sh && docker service rm two; done` is working without issue.

I will through `chaos.sh` at it overnight. note: I have found that`chaos.sh` /can/ (depending on how many monkeys it's configure to use... ) overwhelm docker swarm at which point you can't expect `swarm-listener` to perform.

[2018-04-06 09:33] demaniak opened #456 "Broken link for https://proxy.dockerflow.com/haproxy.tmpl"
**Description**

**Steps to reproduce the issue:**
1. Visit  https://proxy.dockerflow.com/config/#custom-config
2. Follow the link for haproxy.tmpl

**Describe the results you received:**
HTTP 404 error.

**Describe the results you expected:**
The `haproxy.tmpl` source file.

**Additional information you deem important (e.g. issue happens only occasionally):**
Permanent as far as I can see.

**Add

[2018-04-06 10:30] vfarcic commented on #456
Fixed

[2018-04-06 10:30] #456 closed

[2018-04-06 11:40] RaymondMouthaan opened #457 "[help] HTTP and TCP mode mixed"
Hello,

I am trying to get tcp up and running with dfp for using with emqtt (which is a clustered mqtt broker solution).

My first steps are to get dfp configured for 1 master emqtt container and later add some worker containers.  This master container has to ports, port 18083, which is the listening port of the dashboard and secondly port 1883, which is the broker connection port. **18083 is http

[2018-04-06 17:48] LelandSindt commented on #453
I forgot to kick off `chaos.sh` last night so `while true; do ./001_fail.sh && docker service rm two; done` ran all night, I didn't review all the logs, but there were no failures that wedged DFP or DFSL...

I ran `chaos.sh` with 50 monkeys... and got DFP and DFSL into a re-configuration loop within ~10 minutes.

[2018-04-07 23:14] viict opened #458 "[help] Specify resolvers to be used"
Hi,

How can we specify resolvers to the haproxy? Not the docker resolver.

Just to understand our use case:
We have a few dynamic hostnames that periodically changes their IP, if we don't set a few resolvers with the "hold" option haproxy does not handle traffic to the correct IP.

I've found the DO_NOT_RESOLVE_ADDR but I think it's not what we are looking for.

[2018-04-08 12:00] vfarcic commented on #458
Can you provide an example snippet of the config?

I guess something like:

[code]

Where `[ADDRESS]` can be changed through an environment variable. Is that correct?

Yesterday we moved the project to https://github.com/docker-flow/docker-flow-proxy. Can you re-create the issue there?

[2018-04-08 13:45] viict commented on #458
The issues tab there is not available. When available I can recreate the issue there.

Just to let you know our use case, is something like this, and for this example I used the public internet dns servers we know. But, we use a private dns cluster there.

[code]

[2018-04-08 13:53] vfarcic commented on #458
That should not be a problem. I can add that feature in a few days.

As a side note, I just enabled issues in the new repo.

[2018-04-08 13:56] viict commented on #458
I'm closing this issue in favor of: docker-flow/docker-flow-proxy#1

[2018-04-08 13:56] #458 closed, assigned to nobody

[2018-04-09 16:32] RaymondMouthaan commented on #457
Solved this issue myself :)

[2018-04-09 16:32] #457 closed

[2018-04-09 17:06] vfarcic commented on #457
@RaymondMouthaan What was the problem?

[2018-04-09 17:13] RaymondMouthaan commented on #457
Confused about all settings related to ports, but after reading the tutorials and different examples in other issues and a couple of try-outs I finally got it working :)

Only thing i have are those warnings, but i guess thats oke since they are not errors.

Just for reference:

[code]

[code]

[2018-04-09 17:17] vfarcic commented on #457
Warnings should be OK.

Would you be interested in creating a PR with the tutorial that would help others with similar problems?

[2018-04-09 17:20] RaymondMouthaan commented on #457
I will do that 👍

[2018-04-14 22:34] thomasjpfan commented on #455
The HAproxy frontend and backend for your service needs to be configured with `mode tcp` to enable SSL pass-through. Adding `com.df. reqMode: tcp` as a deploy label to `registry` should enable TCP mode.

[2018-04-15 23:43] #448 closed

[2018-04-16 07:30] alexanderkjeldaas commented on #448
Shouldn't this be documented?

On Mon, Apr 16, 2018, 01:44 Viktor Farcic <notifications@github.com> wrote:

[2018-04-18 10:53] vfarcic commented on #318
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:53] #318 closed

[2018-04-18 10:53] vfarcic commented on #354
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:53] #354 closed

[2018-04-18 10:53] vfarcic commented on #356
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:53] #356 closed

[2018-04-18 10:53] vfarcic commented on #382
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:53] #382 closed

[2018-04-18 10:53] vfarcic commented on #416
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:53] #416 closed

[2018-04-18 10:53] vfarcic commented on #420
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:53] #420 closed

[2018-04-18 10:53] vfarcic commented on #424
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:53] #424 closed

[2018-04-18 10:53] vfarcic commented on #433
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:53] #433 closed

[2018-04-18 10:53] vfarcic commented on #434
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:53] #434 closed

[2018-04-18 10:54] vfarcic commented on #436
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:54] #436 closed

[2018-04-18 10:54] vfarcic commented on #437
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:54] #437 closed

[2018-04-18 10:54] vfarcic commented on #442
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:54] #442 closed

[2018-04-18 10:54] vfarcic commented on #444
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:54] #444 closed

[2018-04-18 10:54] vfarcic commented on #445
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:54] #445 closed

[2018-04-18 10:54] vfarcic commented on #446
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:54] #446 closed

[2018-04-18 10:54] vfarcic commented on #452
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:54] #452 closed

[2018-04-18 10:54] vfarcic commented on #455
The project moved to https://github.com/docker-flow/docker-flow-proxy. Please recreate the issue there if it's still valid.

[2018-04-18 10:54] #455 closed

[2018-04-24 18:10] nvrnight opened #459 "Documentation for swarm-listener service incorrect container name..."
http://proxy.dockerflow.com/swarm-mode-auto/

"docker-flow/docker-flow-swarm-listener" should be
"dockerflow/docker-flow-swarm-listener" I believe

Same with the docker-flow-proxy command afterwards.

[2018-04-24 18:23] nvrnight opened #460 "Errors starting up service docker-flow-proxy"
I'm using VirtualBox with 3 Linux/Ubuntu 17.10.1 VMs. 1 manager, 2 workers. I read your responses in the other issues about it being something with the overlay network, but I'm at a loss at what to do or how to troubleshoot that. I just started experimenting with docker yesterday.

docker service logs dfp

Commands run:

[2018-04-24 19:19] nvrnight commented on #460
I have started up other containers and am able to ping swarm-listener from them so I believe the internal DNS is working correctly. Is it possible the dfp service is trying to grab the certs using that url before the DNS configuration has been applied to the container?

I try pinging the dfp service from my container I used to ping swarm-listener and it says unknown host also which also makes me s

[2018-04-24 20:34] nvrnight commented on #460
Woops, made this request on the old Github, I'll create it on the new one and close this out.

[2018-04-24 20:34] #460 closed, assigned to nobody

[2018-04-24 20:35] nvrnight commented on #459
Created this on the wrong github.

[2018-04-24 20:35] #459 closed, assigned to nobody

[2018-06-29 05:19] freshollie commented on #373
I'm experiencing this issue on the latest image. It appears these warnings are still being considered as errors.

[code]

My solution at the moment is to remove `redirectFromDomain` and put the redirect directly into the `EXTRA_FRONTEND` but I don't like this solution.

[2018-06-30 18:57] freshollie commented on #373
Update on this. This seems to be unrelated, and actually related to https://github.com/docker-flow/docker-flow-proxy/issues/31 with the "latest" image, which seems to be spawning haproxy processes over and over.

[2018-07-11 11:08] Tillman-Z commented on #111
Sorry for re-opening but I am struggling with multi domain SNI routing.
My HAProxy config uses two frontends. One binds to :443 ssl and checks the req.ssl_sni to either send the calls to one or another service. The second frontend binds to :5269 (and yes, you might have guessed it) and sends the calls to my ejabberd service.
Can I accomplish this directly with DF env vars in my compose file or do

[2018-07-21 09:51] #373 closed

[2018-07-31 13:40] hitomidennis opened #461 "two define ports running on a service."
Hi,

I have a project called workflow in our company. The service running two ports 3000 and 4000, Just imagine and docker service running two services inside but using different ports. When a user access the URL http://x.sample.com:3000 upon login, it will redirect the user to http://x.sample.com:4000/x.
I am using dockerflowproxy(thanks to Sir viktor farcic for this).
Is that possible in dockerf

[2018-08-01 11:19] vfarcic commented on #461
You can add indexes. For example:

[code]

You'll find more information about it in http://proxy.dockerflow.com/usage/. A few tutorials probably use indexes as well.

[2018-08-22 17:52] albertorm95 commented on #409
@Vad1mo Did you had to modify your backend to work on /v2/? I mean it is working with /v2/ endpoint or the proxy is doing that job and your backend is only /

[2018-08-25 22:29] #461 closed, assigned to nobody

[2018-08-27 21:12] drozzy commented on #190
I'm facing this issue when I deploy a "bad" service. By the time I fix it, and try to push the new build though the pipeline, the proxy listener gives me this error:

"Max retries exceeded with url"

In my case, it is the `nib0r/docker-flow-proxy-letsencrypt` service that gets this error...

[2018-09-16 09:31] vfarcic commented on #190
@drozzy Can you confirm that you're using `dockerflow/docker-flow-proxy` and not the one from this project? We moved it from `vfarcic` to `dockerflow` a while ago.

[2018-09-17 19:12] drozzy commented on #190
@vfarcic this issue has gone away. In general, I found proxy to be working correctly, so ignore my earlier report.

Yes, I am using new docker flow proxy now.

[2018-10-28 15:06] nguyenngoctranvu commented on #380
I tried to create an other network overlay. Then try  run again with new network. And it works for me. I don't know is it a bug of docker-flow-proxy.

[2018-12-10 22:06] Jacq commented on #114
I am running also the proxy in mode global but I would like to agregate the stats from all haproxy instance. I am currently running a haproxy exporter to scrape the stats and send them to prometheus but with this recent change to global mode I will need to instance the exporters also in global mode and perform then an agregation of the stats. Do you know if there is an easier way to agregate the s

[2018-12-15 17:09] vfarcic commented on #114
I don't think there's an easier way to do that @Jacq

[2018-12-20 14:58] SimonHeimberg commented on #390
I seem to be misunderstanding some part, or it does not work the same anymore, or ...

should this stack file work? (redirect myhost://portainer to myhost://portainer/)
[code]

[2019-02-17 12:24] kamal-github commented on #314
I am also getting the same issue, and restarting did not help me. Even I ran docker-compose down and  `docker network prune`

[2019-02-19 22:20] haebich opened #462 "reqPathSearchReplace help"
Hey guys,

since day's i'm trying to implement following :(
I'd like to route from
**sub.subdomain.domain.tld/namespace/** to **subdomain.domain.tld/sub/namespace/**

Is it possible to do this via **reqPathSearchReplace**? In case if it is, can someone post some hint's 2 me?

Thanks a lot for your help :)

[2019-03-01 22:36] taylorturner commented on #447
I think I'm having the same exact problem as you were, can you explain what settings you changed on your EC2 box? @unclebob418

[2019-03-02 00:16] bertlebee commented on #447
I followed the instructions here:
https://aws.amazon.com/premiumsupport/knowledge-center/ec2-static-dns-ubuntu-debian/

[2019-03-02 01:39] taylorturner commented on #447
Thanks for replying man and I did read that, I meant what settings did you define for DNS. Did you just set it to Google's DNS or did you have to set your domain? My current EC2s /etc/resolv.conf look like this:
[code]

When I go into the DF container I can't do an `apk update` or `ping google.com` so I also don't think they have internet access. @unclebob418

[2019-03-06 00:20] bertlebee commented on #447
I used Google's DNS - not sure the details of how exactly I did it sorry - this was over a year ago remember.

[2019-11-01 06:05] sunnykamboj47 commented on #132
you also have to redirect the containers service to the http to https
for example if there tomcat is running then you have to redirect also tomcat  docker service also

[2020-02-20 04:12] sontakkerahul3 opened #463 "haproxy : parsing [haproxy.cfg:90] and parsing [haproxy.cfg:101]"
Getting below error after configuring haproxy.

[root@inha01vr haproxy]# systemctl status haproxy -l
â haproxy.service - HAProxy Load Balancer
   Loaded: loaded (/usr/lib/systemd/system/haproxy.service; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Thu 2020-02-20 09:29:49 IST; 1min 37s ago
  Process: 22275 ExecStart=/usr/sbin/haproxy-systemd-wrapper -f /etc/haproxy/

[2020-02-23 11:01] vfarcic commented on #463
Unfortunately, this project has been abandoned and is not under active development anymore. Everyone switched from Swarm to Kubernetes and, as a result, the number of users of this project dropped to close to zero.

Would you be up for a challenge and try to fix it yourself? If you can create a PR, I'd be happy to merge it and make a new release.

[2020-02-23 11:04] vfarcic commented on #463
By the way, a long time ago the project moved to docker-flow/docker-flow-proxy. Since then, many new features and fixes were added. You can see that if you go to the project README (https://github.com/vfarcic/docker-flow-proxy).

I would suggest that you first try the latest version of docker-flow/docker-flow-proxy (NOT vfarcic/docker-flow-proxy) and see whether the issue persists.

[2020-03-17 18:49] borrougagnou opened #464 "Error, wrong github, its about error on minio"

[2020-03-17 19:03] #464 closed, assigned to nobody

[2020-09-23 07:02] b2az commented on #359
Hi @vfarcic -
I found this issue, is it possible to map a portrange?
Currently i'm using one instance of haproxy-service and maximum 10 of the logstash-service:

frontend fe_logstash
    bind *:10000-10100
    default_backend be_logstash_service

backend be_logstash_service
    balance roundrobin
    server-template logstash- 10 logstash-service check port 10000 resolvers docker init-addr libc,non

[2020-09-23 09:25] vfarcic commented on #359
@b2az Unfortunately, all the development of this project stopped. Almost everyone moved from Swarm to Kubernetes so it didn't make sense to continue working on this project. I strongly suggest you switch to Kubernetes as well. Even Docker company is not working on Swarm for a long time now.

[2021-04-21 21:19] Panoptik commented on #314
In my case I've forgot to add custom network to service in docker-compose servcie definition

[2021-10-06 14:02] cosmos1978 opened #465 "how to whitelist a specific path"
I have a service running with the following config

    deploy:
      labels:
       - com.df.notify=true
       - com.df.serviceDomain=kibana.elkprod.idtv.bc
       - com.df.port=5601

I would only like to allow request to this path /s/eng/app/dashboards all the rest should be blocked.

Can someone assist me in this I assume trivial request. ?

[2021-10-06 14:05] cosmos1978 commented on #465
small update it should be all paths starting with /s/eng/app/dashboards
so for example domain.example/s/eng/app/dashboards/bla/bla?test should also work